{% extends 'base.html' %}

{% load static %}
{% load sorting %}

{% block title %}Lieferung-Einheiten{% endblock %}

{% block content %}
<div class="title"> Lieferant: detail</div>
<table class="detail-header">
    <tr>
        <th>Name:</th>
        <td>{{ supplier.name }}</td>
    </tr>
    <tr>
        <th>AVV-Nummer:</th>
        <td>{{ supplier.avv_number }}</td>
    </tr>
    <tr>
        <th>Strasse:</th>
        <td>{{ supplier.street }}</td>
    </tr>
    <tr>
        <th>PLZ:</th>
        <td>{{ supplier.postal_code }}</td>
    </tr>
    <tr>
        <th>Stadt:</th>
        <td>{{ supplier.city }}</td>
    </tr>
    <tr>
        <th>Telefon:</th>
        <td>{{ supplier.phone }}</td>
    </tr>
    <tr>
        <th>Email:</th>
        <td>{{ supplier.email }}</td>
    </tr>
    <tr>
        <th>Anmerkung:</th>
        <td>{{ supplier.note }}</td>
    </tr>
    <tr>
        <th>Erstellt am:</th>
        <td>{{ supplier.created_at|date:"d.m.Y" }}</td>
    </tr>
</table>



<div class="table-head">
    <!-- <div class="table-action">
        <button class="table-search btn-activ">🔍</button>
        <button class="table-reset btn-activ"><a href="{% url 'suppliers_list' %}" class="reset-btn">⟲</a></button>
    </div> -->
    <div class="table-head-title">Lieferungen<a href="#"> ⟲</a></div>
    <div class="table-head-search">
      <form method="GET">
        <input type="text" name="search" placeholder="Suchen..." value="{{ search_query }}">
        <button type="submit">🔍</button>
      </form>
    </div>
  </div>
</div>
    <table class="table-box">
        <colgroup>
            <col style="width: 3.5%">   <!-- Nr. -->
            <col style="width: 3.5%;">  <!-- Teile -->
            <col style="width: 10%">    <!-- Lieferschein -->
            <col style="width: 5%;">    <!-- Gewicht -->
            <col style="width: 8%;">    <!-- Datum -->
            <col style="width: 10%">    <!-- Anmerkung -->
            <col style="width: auto">    <!-- actions -->
        </colgroup>
        <thead>
            <tr class="table-content-title">
                <th>{% sort "&#8470;" "deliveries__id" request.GET.sort %}</th>
                <th>{% sort "Lieferschein" "deliveries__delivery_receipt" request.GET.sort %}</th>
                <th>{% sort "Gewicht" "deliveries__total_weight" request.GET.sort %}</th>
                <th>{% sort "Datum" "deliveries__created_at" request.GET.sort %}</th>
                <th>{% sort "Anmerkung" "deliveries__note" request.GET.sort %}</th>
                <th></th> <!-- actions -->
            </tr>
        </thead>

        <tbody class="table-content">
            {% for delivery in deliveries %}
            <tr>
                <td>{{ delivery.id }}</td>               
                <td>{{ delivery.delivery_receipt }}</td>
                <td>{{ delivery.total_weight }}</td>
                <td>{{ delivery.created_at|date:"d.m.Y" }}</td>
                <td class="note-column" title="{{ delivery.note }}"><p>{{ delivery.note }}</p></td>
                <td class="suppler-icons">
                    <a href="{% url 'delivery_detail' pk=delivery.id %}" title="Detail">
                        <img src="{% static 'icons/detail-icon.svg' %}">   
                    </a>
                    <a href="#" title="Bearbeiten"> 
                        <img src="{% static 'icons/update-icon.svg' %}">
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
<div>
<div class="pagination">
    <span class="step-links">
        {% if deliveries.has_previous %}
            <a href="?page={{ deliveries.previous_page_number }}">&laquo;</a>
        {% endif %}
        
        {% for num in deliveries.paginator.page_range %}
            {% if num == deliveries.number %}
                <span class="current">{{ num }}</span>
            {% else %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        
        {% if deliveries.has_next %}
            <a href="?page={{ deliveries.next_page_number }}">&raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}