{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Default Title{% endblock %}</title>

    <!-- TODO Schrift herunterladen vor dem Production -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/left_menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/body.css' %}">

    <link rel="icon" type="image/png" href="{% static 'icons/logo/favicon-96x96.png' %}" sizes="96x96">
    <link rel="icon" type="image/svg+xml" href="{% static 'icons/logo/favicon.svg' %}">
    <link rel="shortcut icon" href="{% static 'icons/logo/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/logo/apple-touch-icon.png' %}">
    <link rel="manifest" href="{% static 'icons/logo/site.webmanifest' %}">
    
</head>
<body>
    <header>
        <div>
            ANDERWERK <span style="color: red; font-weight: bold; width: 100px;">❯</span>
        </div>
        <div class="header-user">
            <div>Max Musterman</div>
            <img class="user-white-icon" src="{% static 'icons/user-white-icon.svg' %}">
        </div>
    </header>
    <div class="top-menu">
        <div><a href="{% url 'suppliers_list' %}" class="{% if selected_menu == 'supplier_list' %} selected {% endif %}">Lieferanten</a></div>
        <div><a href="{% url 'delivery_units_list' %}" class="{% if selected_menu == 'delivery_units_list' %} selected {% endif %}">Eingang</a></div>
        <div><a href="{% url 'unload_list' %}" class="{% if selected_menu == 'unload_list' %} selected {% endif %}">Leerung</a></div>
        <div><a href="#">Recycling</a></div>
        <div><a href="#">Versand</a></div>
    </div>
    
    {% include 'components/top_navi.html' %}

    <main>
        {% block content %}{% endblock %}
    </main>
    {% block extra_js %}{% endblock %}
</body>
</html>