{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=material-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/left_menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/table.css' %}">

    <link rel="icon" type="image/png" href="{% static 'icons/logo/favicon-96x96.png' %}" sizes="96x96">
    <link rel="icon" type="image/svg+xml" href="{% static 'icons/logo/favicon.svg' %}">
    <link rel="shortcut icon" href="{% static 'icons/logo/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/logo/apple-touch-icon.png' %}">
    <link rel="manifest" href="{% static 'icons/logo/site.webmanifest' %}">
</head>
<body>

    <main>
        {% block content %}{% endblock %}
    </main>
    {% block extra_js %}{% endblock %}
</body>
</html>