{% extends 'base.html' %}

{% load static %}
{% load barcode %}

{% block title %}Reusable Barcode{% endblock %}


{% block content %}
<div class="detail">
    <section id="print-area">
        <div class="barcode">{{ object.barcode|barcode_svg }}</div>
        
        {% if barcode.customer %}
        <div class="detail-row">
            <div>Kunde:</div>
            <div>{{ barcode.customer.name }} kg</div>
        </div>
        {% endif %}
        
        {% if barcode.receipt %}
        <div class="detail-row">
            <div>Dokumente:</div>
            <div>{{ barcode.receipt }}</div>
        </div>
        {% endif %}

        {% if barcode.box_type %}
        <div class="detail-row">
            <div>Behälter:</div>
            <div>{{ barcode.get_box_type_display }}</div>
        </div>
        {% endif %}
        
        {% if barcode.material %}
        <div class="detail-row">
            <div>Material:</div>
            <div>{{ barcode.material.name }}</div>
        </div>
        {% endif %}

        {% if barcode.transport %}
        <div class="detail-row">
            <div>transport:</div>
            <div>{{ barcode.get_transport_display }}</div>
        </div>
        {% endif %}

        {% if barcode.weight %}
        <div class="detail-row">
            <div>Gewicht:</div>
            <div>{{ barcode.weight }} kg</div>
        </div>
        {% endif %}
    </section>

    <section class="print-btn-wrapper no-print">
        <button onclick="window.print()" class="print-btn btn">Drucken</button>
    </section>
</div>

{% endblock %}