<!-- reusable barcode hat eigene Einstellung für Drucker s.a reusable_barcode_detail.html -->

{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Barcode drucken</title>
    <style>
        body { text-align: center; margin-top: 50px; }
        body table {margin: 0 auto; text-align: left; border-spacing: 14px 6px;}
        img { width: 300px; }
        @media print {
            .noprint { display: none; }
        }
    </style>
</head>
<body>
    {% if obj.barcode_image %}
    <img src="{{ obj.barcode_image.url }}" alt="Barcode">
    {% else %}
    <p>Kein Barcode verfügbar.</p>
    {% endif %}
    
    <table>
        {% if obj.area %}
        <tr>
            <td><strong>Bereich:</strong></td>
            <td>{{ obj.area }}</td>
        </tr>
        {% endif %}

        {% if obj.delivery.supplier %}
        <tr>
            <td><strong>Lieferant:</strong></td>
            <td>{{ obj.delivery.supplier.name }} kg</td>
        </tr>
        {% endif %}

        {% if obj.box_type %}
        <tr>
            <td><strong>Behälter:</strong></td>
            <td>{{ obj.get_box_type_display }}</td>
        </tr>
        {% endif %}

        {% if obj.weight %}
        <tr>
            <td><strong>Gewicht:</strong></td>
            <td>{{ obj.weight }} kg</td>
        </tr>
        {% endif %}

        {% if obj.material %}
        <tr>
            <td><strong>Material:</strong></td>
            <td>{{ obj.material.name }}</td>
        </tr>
        {% endif %}


        {% if obj.target %}
        <tr>
            <td><strong>Ziel:</strong></td>
            <td>{{ obj.get_target_display }}</td>
        </tr>
        {% endif %}

    </table>

    <button onclick="window.print()" style="margin-top: 40px;">Drucken</button>
</body>
</html>
