{% extends 'base.html' %}
{% load static %}

{% block title %}Barcode löschen{% endblock %}

{% block content %}

<div class="itemcard-small">
  <form method="post">
    {% csrf_token %}

    <h2>Barcode löschen</h2>
    
    <div class="itemcard-topbox ">
      <p>Sind Sie sicher, dass der Barcode <strong>"{{ barcode.code }}"</strong> gelöscht wird?</p>
    </div>

    <div class="button-form-save">
        <button  type="submit" name="save" class="btn">Löschen</button>
        <a href="{% url 'reusable_barcode_list' %}" class="btn">Abbrechen</a>
    </div>
  </form>
</div>

{% endblock %}
