{% extends 'base.html' %}

{% load static %}
{% load sort_tags %}
{% load custom_filters %}
{% load pagination %}

{% block title %}Barcode{% endblock %}

{% block content %}
<div class="table" data-type="barcode-list">
  <div class="table-header">{% sort_header "id" "ID" %}</div>
  <div class="table-header">{% sort_header "barcode" "Barcode" %}</div>
  <div class="table-header">{% sort_header "typ" "Behälter" %}</div>
  <div class="table-header">{% sort_header "material" "Material" %}</div>
  <div class="table-header">{% sort_header "datum" "Datum" %}</div>
  <div class="table-header">Ansehen</div>
  <div class="table-header">Drucken</div>

  {% for barcode in barcodes %}
  <div class="table-row js-select-row"
    data-type="barcode-list"
    data-id="{{ barcode.id }}"
    {% comment %} data-url-detail="{% url 'barcode_detail' pk=barcode.id %}" {% endcomment %}
    {% comment %} data-url-update="{% url 'barcode_update' pk=barcode.id %}"> {% endcomment %}

    <div class="table-row__id-gray">{{ barcode.id }}</div>
    <div>{{ barcode.code }}</div>
    <div>{{ barcode.get_box_type_display }}</div>
    <div>{{ barcode.material }}</div>
    <div>{{ barcode.created_at|date:"d.m.Y H:i" }}</div>
    <div>
      noch keine
      {% comment %} <a href="{% url 'reusable_barcode_detail' barcode.pk %}" class="btn btn-sm">Ansehen</a> {% endcomment %}
    </div>
    <div class="btn btn-sm"><a href="{{ barcode.barcode_image.url }}" target="_blank">🖨️</a></div>
  {% endfor %}
</div>


{% comment %} {% paginate page_obj %} {% endcomment %}
{% comment %} <a href="{% url 'reusable_barcode_create' %}" class="btn">Neuen Barcode hinzufügen</a> {% endcomment %}
{% endblock %}
