{% extends 'base.html' %}

{% load static %}
{% load sort_tags %}
{% load custom_filters %}
{% load pagination %}

{% block title %}Barcode{% endblock %}

{% block content %}
<div class="table-border"></div>
<div class="table" data-type="barcode">
  <div class="table-header">{% sort_header "id" "ID" %}</div>
  <div class="table-header">{% sort_header "barcode" "Barcode" %}</div>
  <div class="table-header">{% sort_header "area" "Bereich" %}</div>
  <div class="table-header">{% sort_header "customer" "Customer" %}</div>
  <div class="table-header">{% sort_header "typ" "Behälter" %}</div>
  <div class="table-header">{% sort_header "material" "Material" %}</div>
  <div class="table-header">{% sort_header "datum" "Datum" %}</div>

  {% for barcode in barcodes %}
  <div class="table-row js-select-row"
    data-id="{{ barcode.id }}"
    data-url-detail-barcode="{% url 'reusable_barcode_detail' pk=barcode.id %}"
    data-url-update="{% url 'reusable_barcode_update' pk=barcode.id %}"
    >
    <div class="table-cell table-cell-id">{{ barcode.id }}</div>
    <div class="table-cell">{{ barcode.code }}</div>
    <div class="table-cell">{{ barcode.get_area_display }}</div>
    <div class="table-cell">{{ barcode.customer }}</div>
    <div class="table-cell">{{ barcode.get_box_type_display }}</div>
    <div class="table-cell">{{ barcode.material }}</div>
    <div class="table-cell">{{ barcode.created_at|date:"d.m.Y H:i" }}</div>
  </div>
  {% endfor %}

</div>

{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/mouse-left-click.js' %}"></script>
  <script src="{% static 'js/current-date.js' %}"></script>
  <script src="{% static 'js/summary-close.js' %}"></script>
{% endblock %}
