{% extends 'base.html' %}

{% load static %}
{% load sort_tags %}
{% load custom_filters %}
{% load pagination %}

{% block title %}Wareneingang{% endblock %}

{% block content %}
<div class="table-border"></div>

<div class="table" data-type="deliveryunits">
  <div class="table-header">№</div>
  <div class="table-header" title="Lieferung-ID">{% sort_header "delivery__id" "LID" %}</div>
  <div class="table-header" title="Lieferung-Einheit-ID">{% sort_header "id" "EID" %}</div>
  <div class="table-header">{% sort_header "delivery__created_at" "Datum" %}</div>
  <div class="table-header">{% sort_header "delivery__customer__name" "Kunde" %}</div>
  <div class="table-header">{% sort_header "delivery__delivery_receipt" "Lieferschein" %}</div>
  <div class="table-header">{% sort_header "box_type" "Behälter" %}</div>
  <div class="table-header">{% sort_header "material__name" "Material" %}</div>
  <div class="table-header">{% sort_header "weight" "Gewicht (kg)" %}</div>
  <div class="table-header">{% sort_header "status" "Status" %}</div>
  <div class="table-header">{% sort_header "note" "Anmerkung" %}</div>

  {% for item in page_obj %}
  <div class="table-row js-select-row"
    data-id="{{ item.id }}"
    data-status="{{ item.status }}"
    data-url-unload-create="{% url 'unload_select' %}"
    data-url-update="{% url 'delivery_update' pk=item.delivery.id %}"
    data-url-detail-barcode="{% url 'delivery_detail_barcode' pk=item.id %}"
    
    {% comment %} data-url-detail-weight="{% url 'delivery_detail_weight' pk=item.delivery.id %}" {% endcomment %}
  >
    <div class="table-cell table-cell-counter">{{ forloop.counter }}</div>
    <div class="table-cell">{{ item.delivery.id }}</div>
    <div class="table-cell">{{ item.id }}</div>
    <div class="table-cell table-cell-center">{{ item.created_at|date:'d.m.Y' }}</div>
    <div class="table-cell">{{ item.delivery.customer.name }}</div>
    <div class="table-cell">{{ item.delivery.delivery_receipt }}</div>
    <div class="table-cell">{{ item.get_box_type_display }}</div>
    <div class="table-cell">{{ item.material.name|default:"-" }}</div>
    <div class="table-cell table-cell-right">{{ item.weight }}</div>
    <div class="table-cell">{{ item.get_status_display }}</div>
    <div class="table-cell" title="{{ item.note }}">{{ item.note }}</div>
  </div>
  {% endfor %}
</div>


{% paginate page_obj %}

<template id="context-menu-template">
  <ul id="context-menu" class="context-menu">
    <li data-action="urlDetailBarcode">Barcode drucken</li>
    <li data-action="urlUpdate">Inhalt ändern</li>

     <!-- Status 1 -> Übergabe an Vorsortierung (Delivery -> Unload) -->
    <li data-action="urlUnloadCreate" data-require-status="1" data-param="delivery_unit">
      Zum Formular
    </li>
  </ul>
</template>

{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/mouse-right-click.js' %}"></script>
{% endblock %}
