{% extends 'base.html' %}

{% load static %}
{% load pagination %}
{% load sorting %}

{% block title %}Eingang Form{% endblock %}

{% block content %}

<div class="tform">
  <section class="tform-form">
    <form method="post" action="{% url 'delivery_create' %}" id="eingang-form">
      {% csrf_token %}
      <div class="tform-title">Wareneingang</div>
      <div class="tform-header">
          <div class="tform-row">
              <label for="selectable-input">Lieferant:</label>
              <input type="text" id="select-input" title="Wählen Sie ein Element" readonly>
              <input type="hidden" id="result-input" name="supplier" value="{{ form.supplier.value }}">
          </div>
  
          {% include 'components/new_supplier.html' %}
          
          <div class="tform-row">
              <label for="liefernummer">Lieferscheinnummer:</label>
              <input type="text" id="liefernummer" name="delivery_receipt">
          </div>
  
          <div class="tform-row">
              <label for="note">Anmerkung:</label>
              <div class="tform-note">
                  <textarea id="note" name="note" rows="3"></textarea>
              </div>
          </div>
  
          <!-- counter -->
          <div class="tform-row">
              <label for="item-counter">Ladungseinheiten:</label>
              <input type="number" id="item-counter" name="traeger_anzahl" class="tform-counter" value="1" min="1" max="10">
          </div>
      </div>
  
      <!-- Ladung -->
      <div class="block" id="item-wrapper">
          <div>
              <div class="tform-row">
                  <div></div>
                  <div class="form-item-title">Ladungseinheit<span class="item-number"> 1</span></div>
              </div>
              <div class="tform-row">
                  <label>Art:</label>
                  <select name="form-0-delivery_type">
                      <option selected disabled>-- Bitte wählen --</option>
                      <option value="1">Container</option>
                      <option value="2">Gitterbox</option>
                      <option value="3">Palette</option>
                      <option value="4">Ohne Behälter</option>
                  </select>
              </div>
              <div class="tform-row">
                  <label>Material:</label>
                  <select name="form-0-material">
                      <option selected disabled>-- Bitte wählen --</option>
                      {% for material in materials %}
                          <option value="{{ material.id }}">{{ material.name }}</option>
                      {% endfor %}
                  </select>
              </div>
              <div class="tform-row">
                  <label for="num" class="flex-items">Gewicht (kg):</label>
                  <input id="num" name="form-0-weight" type="number" min="0" step="0.1">
              </div>
          </div>
      </div>
      <button type="submit" class="record-btn">Speichern</button>
    </form>
  </section>

  <section class="tform-list">
    <table>
      <thead>
        <tr class="thead-title">
          <th class="tbody-input"></th>
          <th class="tbody-id">ID</th>
          <th class="tbody-avv">AVV</th>
          <th class="tbody-name">Name</th>
          <th class="tbody-street">Adresse</th>
          <th class="tbody-postal">PLZ</th>
          <th class="tbody-city">Stadt</th>
          <th class="tbody-note">Anmerkung</th>
        </tr>
      </thead>

      <tbody class="table-content">
        {% for item in page_obj %}
        <tr class="selectable-row" data-id="{{ item.supplier.id }}" data-url-detail="{% url 'supplier_detail' pk=item.supplier.id %}" data-url-update="{% url 'supplier_update' pk=item.supplier.id %}">
          <td class="tbody-input">
            <input type="radio" name="selected_item" value="{{ item.supplier.id }}" 
                   class="inputField" id="radio-{{ item.supplier.id }}" data-value="{{ item.supplier.name }}">
          </td>
          <td class="tbody-id-simple">{{ item.supplier.id }}</td>
          <td class="tbody-avv">{{ item.supplier.avv_number }}</td>
          <td class="tbody-name">{{ item.supplier.name }}</td>
          <td class="tbody-street">{{ item.supplier.street }}</td>
          <td class="tbody-postal">{{ item.supplier.postal_code }}</td>
          <td class="tbody-city">{{ item.supplier.city }}</td>
          <td class="tbody-note" title="{{ item.supplier.note }}"><p>{{ item.supplier.note }}</p></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% paginate page_obj %}
  </section>
</div>

<script src="{% static 'js/block_visibility.js' %}"></script>
<script src="{% static 'js/duplicate-item.js' %}"></script>
<script src="{% static 'js/current-date.js' %}"></script>
<script src="{% static 'js/row-counter.js' %}"></script>
<script src="{% static 'js/selectable-row.js' %}"></script>
{% endblock %}


    


