{% extends 'base.html' %}

{% load custom_filters %}
{% load static %}

{% block title %}Lieferung detail{% endblock %}

{% block content %}
<div class="detail-card-small">
  <h2>Lieferung detail</h2>

  <section class="detail-card-topbox">
    <div class="detail-card-row">
      <div>Lieferant:</div>
      <div>{{ delivery.supplier.name }}</div>
    </div>

    <div class="detail-card-row">
      <div>Adresse:</div>
      <div>{{ delivery.supplier.street }}, {{ delivery.supplier.postal_code }} {{ delivery.supplier.city }}</div>
    </div>

    <div class="detail-card-row">
      <div>Lieferschein:</div>
      <div>{{ delivery.delivery_receipt }}</div>
    </div>

    <div class="detail-card-row">
      <div>Lieferung-ID:</div>
      <div>{{ delivery.id }}</div>
    </div>

    <div class="detail-card-row">
      <div>Datum:</div>
      <div>{{ delivery.created_at|date:"d.m.Y" }}</div>
    </div>

    <div class="detail-card-row">
      <div>Anmerkung:</div>
      <div>{{ delivery.note }}</div>
    </div>
  </section>

  <section>
    <div class="grid-card-title">Ladungseinheiten:</div>

    <div class="grid-card" data-type="delivery-detail-deliveryunits">
      <div class="grid-card-header">№</div>
      <div class="grid-card-header">Gewicht</div>
      <div class="grid-card-header">Behälter</div>
      <div class="grid-card-header">Material</div>
      <div class="grid-card-header">Status</div>
    
      {% for item in delivery_units %}
        <div class="grid-card-row" data-type="delivery-detail-deliveryunits">
          <div>{{ forloop.counter }}</div>
          <div>{{ item.weight|default:"-" }}</div>
          <div>{{ item.get_delivery_type_display }}</div>
          <div>{{ item.material.name|default:"-" }}</div>
          <div>{{ item.get_status_display }}</div>
        </div>
      {% endfor %}
    </div>
    
  </section>

</div>
{% endblock %}
