{% extends 'base.html' %}
{% load static %}

{% block title %}Wareneingang ändern{% endblock %}

{% block content %}

<form method="post" action="{% url 'delivery_update' delivery.pk %}" id="eingang-form">
  {% csrf_token %}

  <div class="itemcard">
    <div class="itemcard-title">
      <h2>Wareneingang ändern</h2>
      <a href="{% url 'delivery_delete' delivery.pk %}" class="delete-btn" title="Lieferung löschen">
        <img src="{% static 'icons/delete-icon.svg' %}">
      </a>
    </div>

    <section class="itemcard-topbox">
      <div class="itemcard-topbox-row">
        <label for="id_customer">Lieferant:</label>
        <div class="itemcard-topbox-content">{{ form.customer }}</div>
      </div>

      <div class="itemcard-topbox-row">
        <label for="id_delivery_receipt">Lieferschein:</label>
        <div class="itemcard-topbox-content">{{ form.delivery_receipt }}</div>
      </div>
    </section>

    <div class="itemcard-title">Liefereinheiten:</div>

    <table class="itemcard-table add-row-js">
      {{ formset.management_form }}

      <thead class="itemcard-thead">
        <tr>
          <th class="itemcard-id">№</th>
          <th class="itemcard-id">EID</th>
          <th class="itemcard-boxtype">Behälter</th>
          <th class="itemcard-material">Material</th>
          <th class="itemcard-weight">Gewicht</th>
          <th class="itemcard-weight">Anmerkung</th>
          <th class="itemcard-row-delete"><img src="{% static 'icons/delete-icon.svg' %}" title="Zeile löschen"></th>
        </tr>
      </thead>

      <tbody class="itemcard-tbody"
        data-formset-body
        data-formset-prefix="{{ formset.prefix }}">
        {{ formset.non_form_errors }}

        {% for item_form in formset %}
          <tr class="itemcard-table-row">
            {{ item_form.id }}  {# hidden input für PK #}
            <td class="itemcard-id">{{ forloop.counter }}</td>
            <td class="itemcard-id"><p>{{ item_form.instance.pk }}</p></td>
            <td class="itemcard-boxtype">{{ item_form.box_type }}</td>
            <td class="itemcard-material">{{ item_form.material }}</td>
            <td class="itemcard-weight">{{ item_form.weight }}</td>
            <td class="itemcard-note">{{ item_form.note }}</td>
            <td class="itemcard-row-delete">
              <label class="checkbox-square">
                {{ item_form.DELETE }}
                <span data-name="cross"></span>
              </label>
            </td>
          </tr>
          {% endfor %}
      </tbody>
    </table>

   {# Template für JS; __prefix__ wird vom JS ersetzt #}
    <template data-formset-template>
      <tr class="itemcard-table-row dynamic-row" data-formset-row>
        <td class="itemcard-id" data-formset-index>__index__</td>
        <td class="itemcard-id">--</td>
        <td class="itemcard-boxtype">{{ formset.empty_form.box_type }}</td>
        <td class="itemcard-material">{{ formset.empty_form.material }}</td>
        <td class="itemcard-weight">{{ formset.empty_form.weight }}</td>
        <td class="itemcard-note">{{ formset.empty_form.note }}</td>
        <td class="itemcard-row-delete">
          <label class="checkbox-square">
            {{ formset.empty_form.DELETE }}
            <span data-name="cross"></span>
          </label>
        </td>
      </tr>
    </template>

    <div class="itemcard-action add-buttons">
      <button class="btn btn-row-add" type="button" data-formset-add>+</button>
      <button class="btn btn-row-add" type="button" data-formset-remove>–</button>
    </div>

    <div class="buttons-form-footer">
      <button type="submit" name="save" class="btn btn-main">Speichern</button>
    </div>
  </div>
</form>

{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/add-table-row.js' %}"></script>
{% endblock %}
