{% extends 'base.html' %}
{% load static %}

{% block title %}Entladung abschließen{% endblock %}

{% block content %}

<div class="itemcard">
  <form method="post">
    {% csrf_token %}

    <div class="itemcard-title">
      <h2>Entladung abschließen</h2>
    </div>
    
    <section class="itemcard-content">
      <p>Sind Sie sicher, dass Sie die Entladung von {{ delivery }} abschließen wollen.</p>
    </section>

    <div class="buttons-form-footer">
      <button  type="submit" name="save" class="btn btn-main">Ja</button>
      <button href="{% url 'delivery_list' %}" class="btn btn-main">Nein</button>
    </div>
  </form>
</div>

{% endblock %}
