{% extends 'base.html' %}

{% load static %}

{% block title %}Lieferung ändern{% endblock %}

{% block content %}

<div class="tablecard">
  <form method="post" action="{% url 'delivery_update' delivery.pk %}" id="eingang-form">
  {% csrf_token %}
    <section class="tablecard-topbox">
      <h2>Lieferung ändern</h2>
      {{ form.non_field_errors }}
      <div class="tablecard-topbox-row">
        <label for="{{ form.supplier.id_for_label }}">Lieferant:</label>
        {{ form.supplier }}
      </div>

      <div class="tablecard-topbox-row">
        <label for="{{ form.delivery_receipt.id_for_label }}">Lieferschein:</label>
        {{ form.delivery_receipt }}
      </div>

      <div class="tablecard-topbox-row">
        <label for="{{ form.note.id_for_label }}">Anmerkung:</label>
        {{ form.note }}
      </div>
    </section>

    <section class="tablecard-list">
      <div class="tablecard-list-name">Ladungseinheiten:</div>

      <!-- Обязательно! -->

      <table>
        <thead>
          <tr class="tablecard-list-header">
            <th class="tablecard-list-id">&#8470;</th>
            <th class="tablecard-list-weight">Gewicht</th>
            <th>Behälter</th>
            <th>Material</th>
            <th>Entfernen</th>
          </tr>
        </thead>
        <tbody class="tablecard-list-content">
          {% for unit_form in formset %}
            <tr>
              <td class="tablecard-list-id">
                {{ unit_form.id }}
                {{ unit_form.instance.pk|default:"Neu" }}
              </td>
        
              <td class="tablecard-list-weight">
                {{ unit_form.weight }}
                {{ unit_form.weight.errors }}
              </td>
        
              <td>
                {{ unit_form.delivery_type }}
                {{ unit_form.delivery_type.errors }}
              </td>
        
              <td>
                {{ unit_form.material }}
                {{ unit_form.material.errors }}
              </td>
        
              <td>
                {{ unit_form.DELETE }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {{ formset.management_form }}
    </section>

    <div class="tablecard-btn">
      <input type="submit" value="Speichern">
    </div>
  </form>
</div>

{% endblock %}
