{% extends 'base.html' %}

{% load static %}
{% load sort_tags %}
{% load custom_filters %}
{% load pagination %}

{% block title %}Wareneingang{% endblock %}

{% block content %}
<div class="table-border"></div>

<div class="table" data-type="deliveryunits">
  <div class="table-header">{% sort_header "delivery__id" "№" %}</div>
  <div class="table-header">{% sort_header "delivery__customer__name" "Lieferant" %}</div>
  <div class="table-header">{% sort_header "delivery__delivery_receipt" "Lieferschein" %}</div>
  <div class="table-header">{% sort_header "box_type" "Behälter" %}</div>
  <div class="table-header">{% sort_header "material__name" "Material" %}</div>
  <div class="table-header">{% sort_header "weight" "Gewicht" %}</div>
  <div class="table-header">{% sort_header "delivery__created_at" "Datum" %}</div>
  <div class="table-header">{% sort_header "status" "Status" %}</div>
  <div class="table-header">{% sort_header "note" "Notiz" %}</div>

  {% for item in page_obj %}
  <div class="table-row js-select-row"
    data-id="{{ item.id }}"
    data-status="{{ item.status }}"
    data-url-nextstep-create="{% url 'unload_create' %}?unit_id={{ item.id }}"
    data-url-update="{% url 'delivery_update' pk=item.delivery.id %}"
    data-url-detail-barcode="{% url 'delivery_detail_barcode' pk=item.id %}"
    {% comment %} data-url-detail-weight="{% url 'delivery_detail_weight' pk=item.delivery.id %}" {% endcomment %}
  >
    <div class="table-cell table-cell-id">{{ item.delivery.id }}</div>
    <div class="table-cell">{{ item.delivery.customer.name }}</div>
    <div class="table-cell">{{ item.delivery.delivery_receipt }}</div>
    <div class="table-cell">{{ item.get_box_type_display }}</div>
    <div class="table-cell">{{ item.material.name|default:"-" }}</div>
    <div class="table-cell">{{ item.weight }}</div>
    <div class="table-cell">{{ item.created_at|date:'d.m.Y' }}</div>
    <div class="table-cell">{{ item.get_status_display }}</div>
    <div class="table-cell" title="{{ item.note }}">{{ item.note }}</div>
  </div>
  {% endfor %}
</div>


{% paginate page_obj %}

<template id="context-menu-template">
  <ul id="context-menu" class="context-menu">
    <li data-action="url-detail-barcode">Barcode drücken</li>
    <li data-action="url-update">Inhalt ändern</li>
  </ul>
</template>

{% endblock %}

{% block extra_js %}
  <!-- <script src="{% static 'js/selectable-row.js' %}"></script> -->
  <script src="{% static 'js/mouse-right-click.js' %}"></script>
  {% comment %} <script src="{% static 'js/mouse-left-click.js' %}"></script> {% endcomment %}
  <script src="{% static 'js/current-date.js' %}"></script>
  <script src="{% static 'js/summary-close.js' %}"></script>
{% endblock %}
