{% extends 'base.html' %}

{% load custom_filters %}
{% load static %}

{% block title %}Lieferung detail{% endblock %}

{% block content %}
<div class="process-wrapper">
  <h2>Lieferung detail</h2>
  
  <div>Datum: {{ delivery.created_at }}</div>

  <table class="process-table">
    <thead>
      <tr>
        <th></th>
        <th>Lieferung</th>
        <th>Umladung</th>
        <th>Recycling</th>
        <th>Versand</th>
      </tr>
    </thead>
    <tbody>
      <tr class="process-row-color">
        <td class="indent-1">{{ delivery }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      {% for item in delivery_units %}
      <tr >
        <td class="indent-2">⮡ &nbsp; Lieferung: {{ item.get_box_type_display }} - {{ item.material }}</td>
        <td>{{ item.weight }} kg</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

        {% for unload in item.unload_for_delivery_unit.all %}
        <tr class="process-row-color">
          <td class="indent-3">⮡ &nbsp; Umladung: {{ unload.get_box_type_display }} - {{ unload.material }}</td>
          <td></td>
          <td>{{ unload.weight }} kg</td>
          <td></td>
          <td></td>
        </tr>

          {% for recycling in unload.recycling_for_unload.all %}
          <tr>
            <td class="indent-4">⮡ &nbsp; Recycling: {{ recycling.get_box_type_display }} - {{ recycling.material }}</td>
            <td></td>
            <td></td>
            <td>{{ recycling.weight }} kg</td>
            <td></td>
          </tr>

            {% for shipping in recycling.shipping_for_recycling.all %}
            <tr class="process-row-color">
              <td class="indent-5">⮡ &nbsp; Versand: {{ shipping }}</td>
              <td></td>
              <td></td>
              <td></td>
              <td>{{ shipping.weight }} kg</td>
            </tr>
            {% endfor %}
          {% endfor %}
        {% endfor %}
      {% endfor %}

      <tr class="process-total-weight">
        <td class="total-weight">Gesamt:</td>
        <td class="total-weight">500,00 kg</td>
        <td class="total-weight">
          480,00 kg
          <p>-20 kg</p>
        </td>
        <td class="total-weight">480,00 kg</td>
        <td class="total-weight"></td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
