{% extends 'base.html' %}

{% load static %}
{% load custom_filters %}
{% load pagination %}

{% block title %}{{ _("Lieferungen") }}{% endblock %}

{% block content %}

<table class="selectable-table">
    <thead class="table-head">
        <tr class="table-title">
            <th class="table-id">&#8470;</th>
            <th class="table-name">Lieferant</th>
            <th class="table-delivery-receipt">Lieferschein</th>
            <th class="table-id-simple">LID</th>
            <th class="table-data">Datum</th>
            <th class="table-delivery-type">Behälter</th>
            <th class="table-material">Material</th>
            <th class="table-weight">Gewicht</th>
            <th class="table-status">Status</th>
        </tr>
    </thead>
    <tbody class="table-body">
        {% for delivery in page_obj %}
            {% for unit in delivery.deliveryunits.all %}
                <tr class="js-select-row" data-id="{{ delivery.id }}" data-url-detail="{% url 'delivery_detail' pk=delivery.id %}" data-url-update="{% url 'delivery_update' pk=delivery.id %}">
                    <td hidden>
                        <input type="radio" name="selected_supplier" value="{{ delivery.id }}">
                    </td>
                    <td class="table-id">{{ forloop.counter }}</td>
                    <td class="table-name">{{ delivery.supplier.name }}</td>
                    <td class="table-delivery-receipt">{{ delivery.delivery_receipt }}</td>
                    <td class="table-id-simple">{{ delivery.id }}</td>
                    <td class="table-data">{{ delivery.created_at|date:'d.m.Y' }}</td>
                    <td class="table-delivery-type">{{ unit.get_delivery_type_display }}</td>
                    <td class="table-material">{{ unit.material.name }}</td>
                    <td class="table-weight">{{ unit.weight }}</td>
                    <td class="table-status">{{ unit.get_status_display }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>

{% paginate page_obj %}

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/selectable-row.js' %}"></script>
    <script src="{% static 'js/block-visibility.js' %}"></script>
    <script src="{% static 'js/current-date.js' %}"></script>
{% endblock %}

