{% extends 'base.html' %}

{% load custom_filters %}
{% load static %}
{% load barcode %}

{% block title %}Wareneingang detail{% endblock %}

{% block content %}
<div class="detail">
  <section id="print-area">
    <div class="barcode">{{ object.barcode|barcode_svg }}</div>

    <div class="detail-row">
      <div>Kunde:</div>
      <div>{{ delivery.customer.name }}</div>
    </div>

    <div class="detail-row">
      <div>Straße:</div>
      <div>{{ delivery.customer.street }}</div>
    </div>

    <div class="detail-row">
      <div>Ort:</div>
      <div>{{ delivery.customer.postal_code }} {{ delivery.customer.city }}</div>
    </div>

    <div class="detail-row">
      <div>Lieferschein:</div>
      <div>{{ delivery.delivery_receipt }}</div>
    </div>

    <div class="detail-row">
      <div>Datum:</div>
      <div>{{ delivery.created_at|date:"d.m.Y" }}</div>
    </div>

    <div class="detail-row">
      <div>Material:</div>
      <div>{{ delivery_unit.material.name }}</div>
    </div>

    <div class="detail-row">
      <div>Gewicht:</div>
      <div>{{ delivery_unit.weight }} kg</div>
    </div>

    <div class="detail-row">
      <div>Behälter:</div>
      <div>{{ delivery_unit.get_box_type_display }}</div>
    </div>

    <div class="detail-row">
      <div>Status:</div>
      <div>{{ delivery_unit.get_status_display }}</div>
    </div>
    
  </section>
  <section class="print-btn-wrapper no-print">
    <button class="print-btn btn" onclick="window.print()">Drücken</button>
    <button class="print-btn btn"><a href="{% url 'delivery_unit_update' pk=delivery_unit.delivery.id %}">Ändern</a></button>
  </section>
</div>
{% endblock %}


