{% extends 'base.html' %}
{% load static %}

{% block title %}Lieferung löschen{% endblock %}

{% block content %}

<div class="itemcard">
  <form method="post">
    {% csrf_token %}

    <div class="itemcard-title">
      <h2>Lieferung löschen</h2>
    </div>
    
    <section class="itemcard-row-delete">
      <p>Sind Sie sicher, dass der Lieferung <strong>"{{ delivery }}"</strong> gelöscht wird?</p>
    </section>

    <div class="button-form-save">
      <button  type="submit" name="save" class="btn btn-save">Löschen</button>
      <a href="{% url 'delivery_list' %}" class="btn btn-save">Abbrechen</a>
    </div>
  </form>
</div>

{% endblock %}
