{% extends 'base.html' %}

{% load static %}
{% load pagination %}
{% load sorting %}

{% block title %}Eingang Form{% endblock %}

{% block content %}


<div class="title">Wareneingang</div>
<div class="delivery">

  <section class="delivery-form-wrapper">
    
    <form method="post" action="{% url 'delivery_create' %}" id="eingang-form">
      {% csrf_token %}
      <div>
        <div class="flex">
          <label for="supplier" class="flex-items">Lieferant:</label>
          <input type="text" id="supplier" name="supplier" title="Wählen Sie einen Lieferanten" class="flex-items output" readonly>
        </div> 
        <details>
          <summary>+ Neuer Lieferant</summary>
          <div class="flex">
            <label for="name" class="flex-items">Name:</label>
            <input type="text" id="name" name="name" class="flex-items">
          </div>
          <div class="flex">
            <label for="street" class="flex-items">Straße und Hausnummer:</label>
            <input type="text" id="street" name="street" class="flex-items">
          </div>
          <div class="flex">
            <label for="postal_code" class="flex-items">PLZ:</label>
            <input type="text" id="postal_code" name="postal_code" class="flex-items">
          </div>
          <div class="flex">
            <label for="country" class="flex-items">Stadt:</label>
            <input type="text" id="country" name="country" class="flex-items">
          </div>
          <div class="flex">
            <label for="phone" class="flex-items">Telefon:</label>
            <input type="text" id="phone" name="phone" class="flex-items">
          </div>
          <div class="flex">
            <label for="email" class="flex-items">Email:</label>
            <input type="email" id="email" name="email" class="flex-items">
          </div>
          <div class="flex">
            <label for="avv_number" class="flex-items">AVV-Nummer:</label>
            <input type="number" id="avv_number" name="avv_number" class="flex-items">
          </div>
          <div class="flex">
            <label for="note" class="flex-items">Bemerkung:</label>
            <input type="text" id="note" name="note" class="flex-items">
          </div>
        </details>

        <div class="flex">
          <label for="liefernummer" class="flex-items">Lieferscheinnummer:</label>
          <input type="text" id="liefernummer" name="liefernummer" class="flex-items">
        </div>  
      </div>
    
      <!-- counter -->
      <div class="delivery-items">
        <div class="flex">
          <label for="item-counter" class="flex-items">Ladungseinheiten:</label>
          <input type="number" id="item-counter" name="traeger_anzahl" value="1" min="1" max="10">
        </div>
      </div>
      
      <!-- Ladung -->
      <div class="block" id="item-wrapper">
        <div class="item">
          <div>
            <div class="form-item-title">Ladungseinheit<span class="item-number"> 1</span></div>
          </div>
          <div class="flex">
            <label>Art:</label>
            <select name="form-0-delivery_type">
              <option selected disabled>-- Bitte wählen --</option>
              <option>Gitterbox</option>
              <option>Container</option>
              <option>Palette</option>
            </select>
          </div>
          <div class="flex">
            <label>Material:</label>
            <select name="form-0-device">
              <option selected disabled>-- Bitte wählen --</option>
              {% for device in devices %}
                <option value="{{ device.id }}">{{ device.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="flex">
            <label for="num" class="flex-items">Gewicht (kg):</label>
            <input id="num" name="form-0-weights" type="number" min="0" step="0.1">
          </div>
        </div>
      </div>

      <button type="submit" class="record-btn" form="eingang-form">Speichern</button>
    </form>
  </section>

  <section class="delivery_suppliers">
    
    <div class="table-head">
      <div class="table-head-title">Lieferant auswählen<a href="{% url 'delivery_create' %}"> ⟲</a></div>
      <div class="table-head-search">
        <form method="GET">
          <input type="text" name="search" placeholder="Suchen..." value="{{ search_query }}">
          <button type="submit">🔍</button>
        </form>
      </div>
    </div>
    
    <table>
      <colgroup>
          <col style="width: auto">     <!-- input -->
          <col style="width: auto">     <!-- ID. -->
          <col style="width: auto">    <!-- AVV -->
          <col style="width: 30%;">   <!-- Name -->
          <col style="width: 20%">    <!-- Strasse -->
          <col style="width: auto">    <!-- PLZ -->
          <col style="width: 10%;">   <!-- Stadt -->
          <col style="width: 10%;">   <!-- Bemerkung -->
      </colgroup>
      <thead>
        
        <!-- <tr class="table-filter hidden-block" hidden>
          <form method="GET" action="" name="filter">
            <td></td>
            <td><input type="text" name="id" placeholder="id" value="{{ request.GET.id|default:'' }}"></td>
            <td><input type="text" name="avv_number" placeholder="AVV" value="{{ request.GET.avv_number|default:'' }}"></td>
            <td><input type="text" name="name" placeholder="Name" value="{{ request.GET.name|default:'' }}"></td>
            <td><input type="text" name="street" placeholder="Strasse" value="{{ request.GET.street|default:'' }}"></td>
            <td><input type="text" name="postal_code" placeholder="PLZ" value="{{ request.GET.postal_code|default:'' }}"></td>
            <td><input type="text" name="city" placeholder="Stadt" value="{{ request.GET.city|default:'' }}"></td>
            <td>
              <button class="btn-activ btn" type="submit">Suchen</button>
            </td>
        </form>
        </tr> -->
        

        <tr class="table-content-title">
          <th class="text-center">wählen</th>
          <th>{% sort "ID" "id" request.GET.sort %}</th>
          <th>{% sort "AVV" "avv_number" request.GET.sort %}</th>
          <th>{% sort "Name" "name" request.GET.sort %}</th>
          <th>{% sort "Adresse" "street" request.GET.sort %}</th>
          <th>{% sort "PLZ" "postal_code" request.GET.sort %}</th>
          <th>{% sort "Stadt" "city" request.GET.sort %}</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="table-content">
        {% for supplier in page_obj %}
        <tr>
          <td class="text-center">
            <input class="inputField" type="radio" name="delivery_unit" value="{{ supplier.id }}"
              data-supplier="{{ supplier }}">
          </td>
          <td class="text-center">{{ supplier.id }}</td>
          <td>{{ supplier.avv_number }}</td>
          <td>{{ supplier.name }}</td>
          <td>{{ supplier.street }}</td>
          <td>{{ supplier.postal_code }}</td>
          <td>{{ supplier.city }}</td>
          <!-- <td class="note-column" title="{{ supplier.note }}"><p>{{ supplier.note }}</p></td> -->
          <td class="suppler-icons">
            <a href="{% url 'supplier_detail' pk=supplier.id %}" title="Lieferung ansehen">
                <img src="{% static 'icons/detail-icon.svg' %}">   
            </a>
            <span title="{{ supplier.note }}"> 
                <img src="{% static 'icons/info-icon.svg' %}">
            </span>
        </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% paginate page_obj %}
  </section>
</div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/row-counter.js' %}"></script>
    <script>
      document.querySelectorAll('.inputField').forEach(radio => {
        radio.addEventListener('change', function() {
          document.getElementById('supplier').value = this.dataset.supplier;
        });
      });
    </script>
{% endblock %}
