{% extends 'base.html' %}

{% load static %}
{% load sort_tags %}
{% load custom_filters %}
{% load pagination %}

{% block title %}Lieferungen: units{% endblock %}

{% block content %}

<div class="table" data-type="deliveryunits-list">
  <div class="table-header">{% sort_header "delivery__id" "№" %}</div>
  <div class="table-header">{% sort_header "delivery__supplier__name" "Lieferant" %}</div>
  <div class="table-header">{% sort_header "delivery__delivery_receipt" "Lieferschein" %}</div>
  <div class="table-header">{% sort_header "box_type" "Behälter" %}</div>
  <div class="table-header">{% sort_header "material__name" "Material" %}</div>
  <div class="table-header">{% sort_header "weight" "Gewicht" %}</div>
  <div class="table-header">{% sort_header "delivery__created_at" "Datum" %}</div>
  <div class="table-header">{% sort_header "status" "Status" %}</div>
  <div class="table-header">{% sort_header "note" "Notiz" %}</div>

  {% for item in page_obj %}
    <div class="table-row js-select-row"
      data-id="{{ item.id }}"
      data-url-detail="{% url 'delivery_detail' pk=item.delivery.id %}"
      data-url-update="{% url 'delivery_update' pk=item.delivery.id %}">
    
      <div class="table-row__id-gray">{{ item.delivery.id }}</div>
      <div>{{ item.delivery.supplier.name }}</div>
      <div>{{ item.delivery.delivery_receipt }}</div>
      <div>{{ item.get_box_type_display }}</div>
      <div>{{ item.material.name|default:"-" }}</div>
      <div>{{ item.weight }}</div>
      <div>{{ item.created_at|date:'d.m.Y' }}</div>
      <div>{{ item.get_status_display }}</div>
      <div title="{{ item.note }}">{{ item.note }}</div>
    </div>
  {% endfor %}
</div>

{% paginate page_obj %}

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/selectable-row.js' %}"></script>
{% endblock %}
