{% extends 'base.html' %}
{% load static %}

{% block title %}Aufbereitung erfassen{% endblock %}

{% block content %}


  <div class="itemcard-large">
    <h2>Aufbereitung erstellen</h2>

    <section class="itemcard-table">
      {{ formset.management_form }}

      <div class="table add-row-js" data-type="recycling-weight">
        <div class="table-header">№</div>
        <div class="table-header">Material</div>
        <div class="table-header">Behälter</div>
        <div class="table-header">Gewicht</div>
        <div class="table-header">Gewicht neu</div>
        <div></div>

        {% for item in recycling_list %}
          <div class="table-row {% if item.id == edit_recyling.id %} active-row{% endif %}">
            <input type="hidden" name="{{ item.id.html_name }}" value="{{ item.id.value }}">
            <div class="table-row-id">{{ forloop.counter }}</div>
            <div>{{ item.material }}</div>
            <div>{{ item.get_box_type_display }}</div>
            <div>
              {% if item.id == edit_material.id %}
                <form method="post" action="{% url 'recycling_weight_update' pk=edit_recycling.id %}" id="recycling-form">
                  {% csrf_token %}
                  <input type="text" name="name" value="{{ item.name }}">
                </form>
              {% else %}
                {{ item.name }}
              {% endif %}
            </div>
            <div>
              <input name="weight" type="text" style="border: none">
            </div>
            <div class="row-action">
              {{ item_form.id }}
              {% if item.id == edit_recycling.id %}
                <a href="{% url 'recycling_update' item.id %}" class="material-btn btn open-lock"></a>
                <button type="submit" class="material-btn btn">Speichern</button>
              {% else %}
                <a href="{% url 'recycling_update' item.id %}" class="material-btn btn closed-lock"></a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </section>
  </div>
{% endblock %}
