{% extends 'base.html' %}
{% load static %}

{% block title %}Lieferant bearbeiten{% endblock %}

{% block content %}

<form method="post" action="{% url 'customer_update' customer.pk %}" id="customer-form">
    {% csrf_token %}

    <div class="itemcard">
        <div class="itemcard-title">
            <h2>Kunde bearbeiten</h2>
            <a href="{% url 'customer_delete' customer.pk %}" class="delete-btn" title="Lieferant löschen">
                <img src="{% static 'icons/delete-icon.svg' %}">
            </a>
        </div>

        <section class="itemcard-topbox">
        {{ form.non_field_errors }}

        <div class="itemcard-topbox-row">
            <label for="id_name">Name:</label>
            <div>{{ form.name }}</div>
        </div>

        <div class="itemcard-topbox-row">
            <label for="id_avv_number">AVV-Nummer:</label>
            <div>{{ form.avv_number }}</div>
        </div>

        <div class="itemcard-topbox-row">
            <label for="id_street">Straße:</label>
            <div>{{ form.street }}</div>
        </div>

        <div class="itemcard-topbox-row">
            <label class="id_postal_code">PLZ:</label>
            <div>{{ form.postal_code }}</div>
        </div>

        <div class="itemcard-topbox-row">
            <label for="id_city">Ort:</label>
            <div>{{ form.city }}</div>
        </div>

        <div class="itemcard-topbox-row">
            <label for="id_phone">Telefon:</label>
            <div>{{ form.phone }}</div>
        </div>

        <div class="itemcard-topbox-row">
            <label class="id_email">E-Mail:</label>
            <div>{{ form.email }}</div>
        </div>

        <div class="itemcard-topbox-row">
            <label class="id_note">Anmerkung:</label>
            <div>{{ form.note }}</div>
        </div>
    </section>

    <div class="buttons-form-footer">
        <button type="submit" name="save" class="btn btn-main">Speichern</button>
    </div>
</form>

{% endblock %}