{% extends 'base.html' %}

{% load static %}
{% load custom_filters %}
{% load pagination %}

{% block title %}Lieferant: Detail{% endblock %}

{% block content %}
<section class="info-table-wrapper">
    <h2 class="info-table-title">Lieferant: Details</h2>
    <div class="info-table">
        <div class="info-table-row">
            <div>Lieferant:</div>
            <div>{{ customer.name }}</div>
        </div>
        <div class="info-table-row">
            <div>Adresse:</div>
            <div>{{ customer.street }},&nbsp;{{ customer.postal_code }} {{ customer.city }}</div>
        </div>
        <div class="info-table-row">
            <div>Telefon:</div>
            <div>{{ customer.phone }}</div>
        </div>
        <div class="info-table-row">
            <div>Email:</div>
            <div>{{ customer.email }}</div>
        </div>
        <div class="info-table-row">
            <div>AVV-Nummer:</div>
            <div>{{ customer.avv_number }}</div>
        </div>
        <div class="info-table-row">
            <div>Erstellt am:</div>
            <div>{{ customer.created_at|date:'d.m.Y' }}</div>
        </div>
        <div class="info-table-row">
            <div>Anmerkung:</div>
            <div>{{ customer.note }}</div>
        </div>
    </div>
</section>

<section>
    <div class="table" data-type="customer-detail-deliveryunits">
        <div class="table-header">ID</div>
        <div class="table-header">Lieferschein</div>
        <div class="table-header">Datum</div>
        <div class="table-header">Anmerkung</div>
        <div class="table-header">Unit-ID</div>
        <div class="table-header">Behälter</div>
        <div class="table-header">Material</div>
        <div class="table-header">Gewicht</div>
        <div class="table-header">Status</div>
    
        {% for unit in deliveryunits %}
            <div class="table-row js-select-row"
            data-id="{{ unit.delivery.id }}"
            data-url-detail="{% url 'delivery_detail' pk=unit.delivery.id %}"
            data-url-update="{% url 'delivery_update' pk=unit.delivery.id %}">
    
            <div>{{ forloop.counter }}</div>
            <div>{{ unit.delivery.delivery_receipt }}</div>
            <div>{{ unit.delivery.created_at|date:"d.m.Y" }}</div>
            <div title="{{ unit.delivery.note }}">{{ unit.delivery.note }}</div>
            <div>{{ unit.id }}</div>
            <div>{{ unit.get_box_type_display }}</div>
            <div>{{ unit.material.name }}</div>
            <div>{{ unit.weight }}</div>
            <div>{{ unit.get_status_display }}</div>
            </div>
        {% endfor %}
    </div>
</section>
  
{% paginate page_obj %}

{% endblock %}