{% extends 'base.html' %}
{% load static %}

{% block title %}Statistik{% endblock %}

{% block content %}

<div class="table-border"></div>

<section class="chart-filter">
  <form id="filter-form">
    <div class="itemcard-chart">
      <!-- <div class="itemcard-chart-compare">
        <img src="{% static 'icons/compare-icon.svg' %}" title="Vergleichen">
      </div> -->
      <div>
        <div>
          <label>Lieferant:</label>
          <div class="itemcard-topbox-content">
            {{ form.customer }}
          </div>
        </div>

        <div>
          <label>Material:</label>
          <div class="itemcard-topbox-content">
            {{ form.material }}
          </div>
        </div>

        <div class="chart-filter-date">
          <div>
            <label>Datum von:</label>
            <div class="itemcard-topbox-content">{{ form.date_from }}</div> 
          </div>
          _
          <div>
            <label>Datum bis:</label>
            <div class="itemcard-topbox-content">{{ form.date_to }}</div>
          </div>
        </div>
        
        
      </div>
      <button type="submit" class="btn btn-chart">Aktualisieren</button>
    </div>       
  </form>
</section>

<div id="totals" class="chart-total"></div>
<section class="chart-wrap">
  <canvas id="timeseriesChart"></canvas> 
</section>

{% endblock %}



{% block extra_js %}
  <script src="{% static 'vendor/chartjs/4.5.0/chart.umd.min.js' %}"></script>
  <script src="{% static 'js/statistic-filter.js' %}"></script>
{% endblock %}
