{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'warenwirtschaft/styles.css' %}">
    <!-- favicon -->
    <link rel="icon" type="image/png" href="{% static 'warenwirtschaft/icons/favicon-96x96.png' %}" sizes="96x96">
    <link rel="icon" type="image/svg+xml" href="{% static 'warenwirtschaft/icons/favicon.svg' %}">
    <link rel="shortcut icon" href="{% static 'warenwirtschaft/icons/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'warenwirtschaft/icons/apple-touch-icon.png' %}">
    <link rel="manifest" href="{% static 'warenwirtschaft/icons/site.webmanifest' %}">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <nav class="left_menu">
                <a href="{% url 'eingang' %}">Eintragen</a>
                <a href="{% url 'delivery' %}">Lieferungen</a>
                <a href="{% url 'delivery_units' %}">Liefereinheiten</a>
                <a href="{% url 'suppliers' %}">Lieferanten</a>
            </nav>
        </aside>   
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
</html>