{% extends 'warenwirtschaft/base.html' %}
{% load i18n %}
{% block title %}{{ _("Lieferungen") }}{% endblock %}

{% block content %}
<div>
    <h1>Lieferungen</h1>
    <div class="grid grid-header grid-delivery">
        <div>ID</div>
        <div>Lieferant</div>
        <div>Teile</div>
        <div>Lieferschein</div>
        <div>Gewicht</div>
        <div>Datum</div>
        <div>Bemerkung</div>
    </div>
    <div class="grid grid-delivery">
        {% for delivery in page_obj %}
            <div>{{ delivery.id }}</div>
            <div>{{ delivery.supplier }}</div>
            <div class="tooltip-wrapper" title="{% for deliveryunit in delivery.deliveryunits_set.all %}&bull; {{ deliveryunit.device }} - {{ deliveryunit.weight }} kg - {{ deliveryunit.get_status_display }}&#10;{% endfor %}">
                {{ delivery.deliveryunits_set.all|length }}
            </div>                
            <div>{{ delivery.delivery_receipt }}</div>
            <div>{{ delivery.weight }}</div>
            <div>{{ delivery.delivery_date|date:"d.m.Y" }}</div>
            <div class="table-note" title="{{ delivery.note }}">
                {{ delivery.note }}
            </div>
        {% endfor %}
    </div>
</div>
{% include "warenwirtschaft/includes/pagination.html" %}
{% endblock %}

