{% extends 'base.html' %}

{% load static %}
{% load sort_tags %}
{% load custom_filters %}
{% load pagination %}

{% block title %}Halle 2{% endblock %}

{% block content %}
<div class="table-border"></div>
<div class="table" data-type="halle-zwei">
  <div class="table-header">№</div>
  <div class="table-header" title="Lieferungseinheit-ID">EID</div>
  <div class="table-header" title="Halle-Zwei-ID">HID</div>
  <div class="table-header">Geprüft am</div>
  <div class="table-header">Abholung</div>

  <div class="table-header">Behälter</div>
  <div class="table-header">Material</div>
  <div class="table-header">Gewicht</div>
  <div class="table-header">Anmerkung</div>

  {% for item in page_obj %}
  <div class="table-row js-select-row">
    <div class="table-cell table-cell-counter">{{ forloop.counter }}</div>
    <div class="table-cell">{{ item.delivery_unit.id }}</div>
    <div class="table-cell">{{ item.id }}</div>

    <div class="table-cell table-cell-center">{{ item.created_at|date:'d.m.Y' }}</div>
    <div class="table-cell table-cell-center">{{ item.inactive_at|date:'d.m.Y' }}</div>

    <div class="table-cell">{{ item.delivery_unit.get_box_type_display }}</div>
    <div class="table-cell">{{ item.delivery_unit.material.name|default:"-" }}</div>
    <div class="table-cell">{{ item.delivery_unit.weight }}</div>
    <div class="table-cell" title="{{ item.note }}">{{ item..delivery_unit.note }}</div>
  </div>
  {% endfor %}
</div>


{% paginate page_obj %}

<template id="context-menu-template">
  <ul id="context-menu" class="context-menu">
    <li data-action="urlUpdate">Inhalt ändern</li>
  </ul>
</template>

{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/mouse-right-click.js' %}"></script>
{% endblock %}

