{% extends 'base.html' %}

{% load static %}
{% load sort_tags %}
{% load custom_filters %}
{% load pagination %}

{% block title %}Abholung: Einheiten{% endblock %}

{% block content %}
<div class="table-border"></div>
<div class="table" data-type="shipping">
  <div class="table-header">{% sort_header "shipping__id" "№" %}</div>
  <div class="table-header">{% sort_header "customer__name" "Abholer" %}</div>
  <div class="table-header">{% sort_header "certificate" "Übernahmeschein" %}</div>
  <div class="table-header">{% sort_header "transport" "Transport" %}</div>
  <div class="table-header">Einheiten</div>
  <div class="table-header">Herkunft</div>
  <div class="table-header">{% sort_header "box_type" "Behälter" %}</div>
  <div class="table-header">{% sort_header "material" "Material" %}</div>
  <div class="table-header">{% sort_header "weight" "Gewicht" %}</div>
  <div class="table-header">{% sort_header "status" "Status" %}</div>
  <div class="table-header">{% sort_header "created_at" "Datum" %}</div>
  <div class="table-header">{% sort_header "note" "Notiz" %}</div>

  {% for shipping in page_obj %}
    {% for unload in shipping.unload_for_shipping.all %}
        <div class="table-row">
            <div class="table-cell">{{ shipping.id }}</div>
            <div class="table-cell">{{ shipping.customer.name }}</div>
            <div class="table-cell">{{ shipping.certificate }}</div>
            <div class="table-cell">{{ shipping.get_transport_display }}</div>
            
            <div class="table-cell">{{ unload }}</div>  {# Einheiten #}
            <div class="table-cell">Vorsortierung</div> {# Herkunft #}
            <div class="table-cell">{{ unload.get_box_type_display }}</div>
            <div class="table-cell">{{ unload.material.name }}</div>
            <div class="table-cell">{{ unload.weight }} kg</div>
            <div class="table-cell">{{ unload.get_status_display }}</div>
            <div class="table-cell">{{ shipping.created_at|date:'d.m.Y' }}</div>
            <div class="table-cell" title="{{ shipping.note }}">{{ shipping.note|default:"—" }}</div>
        </div>
    {% endfor %}

    {% for recycling in shipping.recycling_for_shipping.all %}
        <div class="table-row">
            <div class="table-cell">{{ shipping.id }}</div>
            <div class="table-cell">{{ shipping.customer.name }}</div>
            <div class="table-cell">{{ shipping.certificate }}</div>
            <div class="table-cell">{{ shipping.get_transport_display }}</div>
            
            <div class="table-cell">{{ recycling }}</div>  {# Einheiten #}
            <div class="table-cell">Aufbereitung</div> {# Herkunft #}
            <div class="table-cell">{{ recycling.get_box_type_display }}</div>
            <div class="table-cell">{{ recycling.material.name }}</div>
            <div class="table-cell">{{ recycling.weight }} kg</div>
            <div class="table-cell">{{ recycling.get_status_display }}</div>
            <div class="table-cell">{{ shipping.created_at|date:'d.m.Y' }}</div>
            <div class="table-cell" title="{{ shipping.note }}">{{ shipping.note|default:"—" }}</div>
        </div>
    {% endfor %}
  {% endfor %}
</div>

{% paginate page_obj %}

<template id="context-menu-template">
  <ul id="context-menu" class="context-menu">
    <li data-action="url-detail">Barcode drücken</li>
    <li data-action="url-update">Inhalt ändern</li>
  </ul>
</template>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/mouse-right-click.js' %}"></script>
  <script src="{% static 'js/current-date.js' %}"></script>
{% endblock %}
