{% extends 'base.html' %}
{% load static %}

{% block title %}Versand löschen{% endblock %}

{% block content %}

<div class="itemcard-small">
  <form method="post">
    {% csrf_token %}

    <h2>Versand löschen</h2>
    
    <div class="itemcard-topbox ">
      <p>Sind Sie sicher, dass der Versand <strong>"{{ shipping }}"</strong> gelöscht wird?</p>
    </div>

    <div class="buttons-form-footer">
        <button  type="submit" name="save" class="btn">Löschen</button>
        <a href="{% url 'shipping_units_list' %}" class="btn">Abbrechen</a>
    </div>
  </form>
</div>

{% endblock %}
