{% extends 'base.html' %}

{% load custom_filters %}
{% load static %}
{% load barcode %}

{% block title %}Abholung detail{% endblock %}

{% block content %}
<div class="detail">
  <section id="print-area">

    <div class="barcode">{{ object.barcode|barcode_svg }}</div>

    <div class="detail-row">
      <div>Eingang-ID:</div>
      <div>{{ shipping.id }}</div>
    </div>

    <div class="detail-row">
      <div>Kunde:</div>
      <div>{{ shipping.customer.name }}</div>
    </div>

    <div class="detail-row">
        <div>Abholschein:</div>
        <div>{{ shipping.certificate }}</div>
    </div>
    
    
    <div class="detail-row">
        <div>Transport:</div>
        <div>{{ shipping.get_transport_display }}</div>
    </div>
    
    <div class="detail-row">
      <div>Datum:</div>
      <div>{{ shipping.created_at|date:"d.m.Y" }}</div>
    </div>

    
  </section>
  <section class="print-btn-wrapper no-print">
    <button class="print-btn btn" onclick="window.print()">Drucken</button>
    <button class="print-btn btn"><a href="{% url 'shipping_update' pk=shipping.id %}">Ändern</a></button>
    <button class="print-btn btn"><a href="{% url 'shipping_list' %}">Zurück</a></button>
  </section>
</div>
{% endblock %}