{% extends 'base.html' %}

{% load static %}
{% load sort_tags %}
{% load custom_filters %}
{% load pagination %}

{% block title %}Abholung: Einheiten{% endblock %}

{% block content %}
<div class="table-border"></div>
<div class="table" data-type="shipping">
  <div class="table-header">№</div>
  <div class="table-header">{% sort_header "id" "ID" %}</div>
  <div class="table-header">{% sort_header "created_at" "Datum" %}</div>
  <div class="table-header">{% sort_header "customer__name" "Abholer" %}</div>
  <div class="table-header">{% sort_header "certificate" "Übernahmeschein" %}</div>
  <div class="table-header">{% sort_header "transport" "Transport" %}</div>
  <div class="table-header">Einheit</div>
  <div class="table-header">{% sort_header "note" "Notiz" %}</div>

  {% for item in page_obj %}
    <div class="table-row js-select-row">
      <div class="table-cell table-cell-counter">{{ forloop.counter }}</div>
      <div class="table-cell table-cell-center">{{ item.id }}</div>
      <div class="table-cell table-cell-center">{{ item.created_at|date:"d.m.Y" }}</div>
      <div class="table-cell">{{ item.customer.name }}</div>
      <div class="table-cell">{{ item.certificate|default:"—" }}</div>
      <div class="table-cell">{{ item.get_transport_display }}</div>

      <div class="table-cell">
        {% if item.einheiten %}
          {% for einheit in item.einheiten %}
            <div>{{ einheit.obj }}</div>
          {% endfor %}
        {% else %}
          —
        {% endif %}
      </div>

      <div class="table-cell" title="{{ item.note|default:'' }}">
        {{ item.note|default:"—" }}
      </div>
    </div>
  {% endfor %}
</div>

{% paginate page_obj %}

<template id="context-menu-template">
  <ul id="context-menu" class="context-menu">
    <li data-action="urlDetailBarcode">Barcode drücken</li>
    <li data-action="urlUpdate">Inhalt ändern</li>
  </ul>
</template>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/mouse-right-click.js' %}"></script>
  <script src="{% static 'js/current-date.js' %}"></script>
{% endblock %}
