{% extends 'base.html' %}

{% load static %}
{% load sort_tags %}
{% load custom_filters %}
{% load pagination %}

{% block title %}Lieferungen: units{% endblock %}

{% block content %}

<div class="table" data-type="shippingunits-list">
  <div class="table-header">{% sort_header "shipping__id" "№" %}</div>
  <div class="table-header">{% sort_header "customer__name" "Abholer" %}</div>
  <div class="table-header">{% sort_header "certificate" "Begleit-/Übernahmeschein:" %}</div>
  <div class="table-header">{% sort_header "box_type" "Behälter" %}</div>
  <div class="table-header">{% sort_header "material" "Material" %}</div>
  <div class="table-header">{% sort_header "weight" "Gewicht" %}</div>
  <div class="table-header">{% sort_header "created_at" "Datum" %}</div>
  <div class="table-header">{% sort_header "note" "Notiz" %}</div>

  {% for shippingunit in page_obj %}
    <div class="table-row js-select-row"
      data-id="{{ shippingunit.id }}"
      data-url-detail="{% url 'shipping_detail' pk=shippingunit.shipping.id %}"
      data-url-update="{% url 'shipping_update' pk=shippingunit.shipping.id %}">
    
      <div class="table-row__id-gray">{{ shippingunit.shipping.id }}</div>
      <div>{{ deliveryunit.shipping.customer.name }}</div>
      <div>{{ deliveryunit.shipping.certificate }}</div>
      <div>{{ deliveryunit.get_box_type_display }}</div>
      <div>{{ deliveryunit.material }}</div>
      <div>{{ deliveryunit.weight }}</div>
      <div>{{ deliveryunit.created_at|date:'d.m.Y' }}</div>
      <div title="{{ deliveryunit.shipping.note }}">{{ deliveryunit.shipping.note }}</div>
    </div>
  {% endfor %}
</div>

{% paginate page_obj %}

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/selectable-row.js' %}"></script>
    <script src="{% static 'js/current-date.js' %}"></script>
    <script>
      document.addEventListener("click", function (event) {
        document.querySelectorAll("details.top-icon-detail[open]").forEach(details => {
          if (!details.contains(event.target)) {
            details.removeAttribute("open");
          }
        });
      });
    </script>
{% endblock %}
