{% extends 'base.html' %}
{% load static %}

{% block title %}Abholung erstellen{% endblock %}

{% block content %}
<form method="post" action="">
  {% csrf_token %}

  <div class="itemcard">
    <div class="itemcard-title itemcard-margin-left">
      <h2>Abholung erstellen</h2>
      <input 
        type="text" 
        id="barcode" 
        placeholder="Barcode scannen..." 
        autocomplete="off" 
        data-api="{% url 'barcode_shipping_api' %}" 
        autofocus 
        class="visually-hidden-input"
      />

      <label for="barcode" class="barcode-wrapper header-menu-icon svg-icon">
          <img src="{% static 'icons/barcode-scan-active.svg' %}" id="barcode-active">
          <img src="{% static 'icons/barcode-scan-inactive.svg' %}" id="barcode-inactive" hidden>
      </label>
    </div>

    <section class="itemcard-topbox itemcard-margin-left">
      {{ form.non_field_errors }}

      <div class="itemcard-topbox-row">
        <label>Abholer:</label>
        <div class="itemcard-topbox-content">{{ form.customer }}</div>
      </div>

      <div class="itemcard-topbox-row">
        <label>Abholschein:</label>
        <div class="itemcard-topbox-content">{{ form.certificate }}</div>
      </div>

      <div class="itemcard-topbox-row">
        <label>Transport:</label>
        <div class="itemcard-topbox-content">{{ form.transport }}</div>
      </div>

      <div class="itemcard-topbox-row">
        <label>Anmerkung:</label>
        <div>{{ form.note }}</div>
      </div>
    </section>

    <div class="itemcard-table-title itemcard-margin-left">Abholbereit:</div>

    <table class="itemcard-table">
      <thead class="itemcard-thead">
        <tr>
          <th class="checkbox-circle itemcard-action-left"></th>
          <th class="itemcard-id">№</th>
          <th class="itemcard-material">Material</th>
          <th class="itemcard-boxtype">Behälter</th>
          <th class="itemcard-weight">Gewicht</th>
          <th class="itemcard-origin">Herkunft</th>
        </tr>
      </thead>

      <tbody class="itemcard-tbody">
        {% if recyclings or unloads %}
          {% for rec in recyclings %}
            <tr class="itemcard-table-row"
                data-id="{{ rec.pk }}"
                data-url-detail="{% url 'recycling_detail' pk=rec.pk %}">
              <td class="checkbox-circle itemcard-action-left">
                <input type="checkbox"
                  name="selected_recycling"
                  value="{{ rec.pk }}"
                  title="Zur Abholung hinzufügen"
                  {% if rec.pk in preselected_ids %}checked{% endif %}>
              </td>
              <td class="itemcard-id">{{ forloop.counter }}</td>
              <td class="itemcard-material"><p>{{ rec.material }}</p></td>
              <td class="itemcard-boxtype"><p>{{ rec.get_box_type_display }}</p></td>
              <td class="itemcard-weight"><p>{{ rec.weight }}</p></td>
              <td class="itemcard-status"><p>Zerlegung</p></td>
            </tr>
          {% endfor %}

          {% for unload in unloads %}
            <tr class="itemcard-table-row"
                data-id="{{ unload.pk }}"
                data-url-detail="{% url 'unload_barcode' pk=unload.pk %}">
              <td class="checkbox-circle itemcard-action-left">
                <input type="checkbox"
                  name="selected_unload"
                  value="{{ unload.pk }}"
                  title="Zur Abholung hinzufügen"
                  {% if unload.pk in preselected_ids %}checked{% endif %}>
              </td>
              <td class="itemcard-id">{{ forloop.counter }}</td>
              <td class="itemcard-material"><p>{{ unload.material }}</p></td>
              <td class="itemcard-boxtype"><p>{{ unload.get_box_type_display }}</p></td>
              <td class="itemcard-weight"><p>{{ unload.weight }}</p></td>
              <td class="itemcard-status"><p>Vorsortierung</p></td>
            </tr>
          {% endfor %}
          {% else %}
           <tr class="itemcard-table-row">
              <td class="checkbox-circle itemcard-action-left">
                  <input type="radio" name="selected_unload" title="Keine Daten">
                </td>
              <td colspan="5" class="text-center">
                Keine Daten vorhanden
              </td>
            </tr>
        {% endif %}
      </tbody>
    </table>

    <div class="buttons-form-footer">
      <button type="submit" name="save" class="btn btn-main btn-margin-top">Speichern</button>
    </div>
  </div>
</form>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/barcode/barcode-shipping.js' %}"></script>
{% endblock %}
