.table[data-type="supplier-list"] {
  grid-template-columns: minmax(33px, max-content) 1fr 2fr 2fr 1fr 2fr 1fr 2fr 1fr 4fr;
}

.table[data-type="deliveryunits-list"] {
  grid-template-columns: minmax(33px, max-content) repeat(8, 1fr) 2fr;
}

.table[data-type="unload-list"] {
  grid-template-columns: repeat(3, auto) 2fr 3fr repeat(6, 1fr);
}

.table[data-type="recycling-list"] {
  grid-template-columns: minmax(33px, max-content) repeat(6, 1fr) 2fr;
}

.table[data-type="shippingunits-list"] {
  grid-template-columns: minmax(33px, max-content) repeat(8, 1fr) 2fr;
}

.table[data-type="barcode-list"] {
  grid-template-columns: minmax(33px, max-content) repeat(7, 1fr);
}

.table[data-type="material"] {
  grid-template-columns: minmax(33px, max-content) 200px repeat(3, 40px) auto;
}

.table {
  display: grid;
  width: 100%;
}

.table-header {
  font-weight: 500;
  border-right: 1px solid var(--color-gray-300);
  border-bottom: 1px solid var(--color-gray-300);
  padding-bottom: 4px;
}

.table-header,
.table-cell-id {
  text-align: center;
  background-color: var(--color-gray-100);
}

.table-header-arrow {
  color: rgb(2, 141, 2);
  margin-left: 6px;
  font-size: 11px;
}

.table-border {
  height: 8px; 
  background-color: #eee;
}

.table-row {
  display: contents;
}

.table-row:hover > div {
  background-color: var(--color-gray-100);
}

.table-cell {
  border-right: 1px solid var(--color-gray-200);
  border-bottom: 1px solid var(--color-gray-200);
  height: 26px;
  padding: 2px 2px 2px 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  align-content: center;
}

.table-cell-id {
  text-align: center;
}

.pagination {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.pagination a, 
.pagination span {
  padding: 5px 10px;
  background-color: #f9f9f9;
  color: var(--color-gray-800);
  border: 1px solid var(--color-gray-400);
  border-radius: 3px;
  transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
  background-color: var(--color-gray-400);
  color: #000;
}

.pagination .current {
  background-color: var(--color-gray-600);
  border-color: var(--color-gray-600);
  color: white;
}

/* ================ Itemcard ================ */

.itemcard {
  margin: 30px auto;
  padding: 30px;
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-300);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  width: fit-content;
}

.itemcard-topbox {
  margin-bottom: 20px;
}

.itemcard-topbox-row {
  display: flex;
  gap: 16px;
  margin-bottom: 12px;
  min-height: 27px;
}

.itemcard-topbox-row div {
  border: 1px solid var(--color-gray-300);
}

.itemcard-topbox-row div:last-child {
  width: 75%;
  min-width: 360px;
}

.itemcard-topbox-row label,
.itemcard-topbox-row span {
  width: 25%;
  min-width: 120px;
  font-weight: 500;
}

.itemcard-topbox-row textarea {
  resize: vertical;
  box-sizing: border-box;
}

/* ================ Itemcard Table ================ */

.itemcard-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  font-weight: 500;
}

.itemcard-table-title {
  margin-bottom: 10px;
  font-weight: 500;
}

td p {
  padding: 2px 2px 2px 6px;
}

td.itemcard-id {
  width: 33px;
  text-align: center;
}

.active-border {
  border: 1px solid var(--color-hero);
}

.itemcard-status,
.itemcard-weight {
  width: 100px;
}

.itemcard-boxtype {
  width: 200px;
}

.itemcard-action,
.itemcard-action-alone,
.itemcard-action-left {
  background-color: transparent;
  border: none;
  text-align: center;
}

.itemcard-action-alone {
  padding-left: 10px;
  width: 0;
}

.itemcard-action-left {
  padding-right: 10px;
  width: 0;
}

.itemcard-action {
  max-width: 106px;
  margin-left: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemcard-row-delete {
  margin-bottom: 20px;
  max-width: 540px;
  line-height: 1.8;
}

.table-cell.checkbox-circle {
  padding-left: 0;
  text-align: center;
}

.itemcard-margin-left {
  margin-left: 23px;
}


/* ================ column-action / Buttons ================ */

.column-action button {
  text-align: right;
}

.button-form-save {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.btn {
  background-color: var(--color-gray-50);
  border-radius: 2px;
  border: 1px solid var(--color-gray-400);
  outline: 1px solid #fff;
  -moz-outline-radius: 2px;
  outline-offset: -2px;
  cursor: pointer;
  font-size: 0.9em;
}

.btn:hover {
  background-color: var(--color-gray-200);
  box-shadow: none;
}

.btn:active {
  background-color: var(--color-gray-300);
  box-shadow: none;
}

.btn-row-add {
  padding: 0 11px;
  margin-top: 4px;
  font-weight: bold;
  font-size: 16px;
}

.active-row > td {
  background-color: var(--color-gray-100);
}

.lock-wrapper {
  width: 100px;
  display: flex;
  align-items: center;
  gap: 6px;
  width: max-content;
  margin-left: 6px;
  background-color: transparent;
}

.open-lock,
.closed-lock {
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease, transform 0.3s ease;
  height: 25px;
  width: 25px;
}

.closed-lock {
  background-image: url('/static/icons/lock-icon.svg');
}

.open-lock {
  background-image: url('/static/icons/lock-open-icon.svg');
}

.table-row:hover > .lock-wrapper {
  background-color: #fff;
}

.btn-lock-save {
  height: 25px;
  padding: 0 6px;
  font-weight: 500;
}

.btn-weight {
  padding: 4px 6px;
  font-weight: 500;
}

.btn-save {
  padding: 5px 8px;
  font-weight: 500;
  box-shadow: 0 1px 3px var(--color-gray-350);
}

.material-delete {
  display: flex;
  justify-content: center;
}

.material-delete img:hover {
  transform: scale(1.1);
}

.delete-btn {
  width: 14px;
  height: 14px;
}

/* ================ Detail / Barcode ================ */

.detail {
  width: fit-content;
  margin: 50px auto;
}

.detail-row {
  display: flex;
  align-items: center;
  gap: 16px;
  line-height: 26px;
}

.detail-row div:first-child {
  font-weight: bold;
  width: 150px;
  padding-left: 30px;
}

.detail-barcode {
  text-align: left;
}

.barcode-print-icon {
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}

.print-btn-wrapper {
  margin: 50px 30px 0;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.print-btn {
  width: 70px;
  height: 26px;
}

/* ====== Сontext Menu ====== */

.context-menu {
  position: absolute;
  display: none;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  list-style: none;
  width: 160px;
  border-radius: 4px;
  overflow: hidden;
}

.context-menu li {
  padding: 8px 12px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  transition: background-color 0.2s;
}

.context-menu li:last-child {
  border-bottom: none;
}

.context-menu li:hover {
  background-color: #f5f5f5;
}

/* ====== Media ====== */

  @media print {
    .no-print {
      display: none !important;
    }
  }
