/* ================ Table ================ */

.table {
  display: grid;
  width: 100%;
}

.table[data-type="customer"] {
  grid-template-columns: repeat(2, minmax(33px, max-content)) 1fr 1fr 2fr 2fr 1fr 2fr 1fr 2fr 4fr;
}

.table[data-type="deliveryunits"] {
  grid-template-columns: repeat(3, minmax(33px, max-content)) 1fr 3fr 1fr 2fr 2fr 1fr 4fr;
}

.table[data-type="unload"] {
  grid-template-columns: repeat(3, minmax(33px, max-content)) 1fr 3fr 3fr 1fr 2fr 4fr;
}

.table[data-type="recycling"] {
  grid-template-columns: repeat(3, minmax(33px, max-content)) 1fr 3fr 3fr 1fr 2fr 4fr;
}

.table[data-type="shipping"] {
  grid-template-columns: repeat(3, minmax(33px, max-content)) 1fr 3fr 1fr 1fr repeat(3, 2fr) 1fr 2fr 4fr;
}

.table[data-type="barcode"] {
  grid-template-columns: repeat(2, minmax(33px, max-content)) repeat(3, 1fr) 4fr repeat(3, 2fr);
}

.table[data-type="material"] {
  grid-template-columns: minmax(33px, max-content) 200px repeat(4, 40px) auto;
}

.table-header {
  font-weight: 500;
  border-right: 1px solid var(--color-gray-300);
  border-bottom: 1px solid var(--color-gray-300);
  padding-bottom: 4px;
}

.table-cell {
  border-right: 1px solid var(--color-gray-200);
  border-bottom: 1px solid var(--color-gray-200);
  height: 26px;
  padding: 2px 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  align-content: end;
}

.table-header,
.table-cell-counter {
  text-align: center;
  background-color: var(--color-gray-100);
}

.table-cell-right {
  text-align: right;
  padding-right: 14px;
}

.table-cell-center {
  text-align: center;
}

.table-header-arrow {
  color: rgb(2, 141, 2);
  margin-left: 6px;
  font-size: 11px;
}

.table-border {
  height: 8px; 
  background-color: #eee;
}

.table-row {
  display: contents;
}

.table-row:hover > div {
  background-color: var(--color-gray-100);
}

.pagination {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.pagination a, 
.pagination span {
  padding: 5px 10px;
  background-color: #f9f9f9;
  color: var(--color-gray-800);
  border: 1px solid var(--color-gray-400);
  border-radius: 3px;
  transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
  background-color: var(--color-gray-400);
  color: #000;
}

.pagination .current {
  background-color: var(--color-gray-600);
  border-color: var(--color-gray-600);
  color: white;
}

/* ================ Itemcard ================ */

.itemcard {
  margin: 30px auto;
  padding: 30px;
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-300);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  width: fit-content;
}

/* ================ Itemcard Header ================ */

.itemcard-topbox {
  margin-bottom: 20px;
}

.itemcard-topbox-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.itemcard-topbox-row label,
.itemcard-topbox-row span {
  height: 27px;
  font-weight: 500;
  font-size: 1.05em;
  width: 140px;
  align-content: center;
}

.itemcard-topbox-row p {
  font-weight: 500;
  font-size: 1.05em;
  color: var(--color-gray-900);
  width: 402px;
}

.itemcard-topbox-row textarea {
  resize: vertical;
  box-sizing: border-box;
  width: 402px;
  border: 1px solid var(--color-gray-400);
  min-height: 29px;
}

.weight-container { 
  display: flex; 
  align-items: center; 
  gap: 0.5rem; 
}

.itemcard-topbox-content {
  width: 402px;
  height: 27px;
  border: 1px solid var(--color-gray-400);
}

.btn-weight {
  padding: 0 5px;
  height: 26px;
  border: none;
  border-left: 1px solid #ccc;
  border-radius: 0;
  background: transparent;
}

.itemcard-action-wrapper { 
  width: 114px; 
  background: transparent; 
  border: none;
}

.itemcard-table-row.is-locked * { 
  color: var(--color-gray-800); 
}

.itemcard-table-row.is-locked input:not([type="hidden"]),
.itemcard-table-row.is-locked select,
.itemcard-table-row.is-locked button:not(.btn-lock) {
  pointer-events: none;
}

/* ================ Itemcard Body ================ */

.itemcard-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
  font-weight: 500;
}

.itemcard-table-title {
  margin-bottom: 10px;
  font-weight: 500;
}

td p {
  padding: 2px 2px 2px 6px;
}

.itemcard-id {
  text-align: center;
  width: 28px;
}

.multiple-id {
  padding-right: 14px;
}

.multiple-id span:not(:first-child)::before {
  content: "• ";
}

.active-border {
  border: 1px solid var(--color-hero);
}


.itemcard-weight {
  width: 100px;
}

.itemcard-status,
.itemcard-boxtype,
.itemcard-origin {
  width: 120px;
}

.itemcard-position {
   width: 180px;
}

.itemcard-material {
  width: 160px;
}

.itemcard-note {
  width: 240px;
}

.itemcard-note textarea{
  resize: vertical;
  box-sizing: border-box;
}

.itemcard-action,
.itemcard-action-left {
  background-color: transparent;
  border: none;
  text-align: center;
}

.itemcard-action-left {
  padding-right: 10px;
  width: 0;
}

.itemcard-action {
  width: 106px;
  margin-left: 6px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.itemcard-action.add-buttons {
  margin-left: 0;
  gap: 2px
}

.itemcard-content {
  margin-bottom: 20px;
  line-height: 1.8;
}

.itemcard-row-delete {
  background-color: transparent;
  border: none;
  padding-left: 6px;
}

.table-cell.checkbox-circle {
  padding-left: 0;
  text-align: center;
}

.itemcard-margin-left {
  margin-left: 28px;
}

/* ================ Buttons ================ */

.btn {
  background-color: var(--color-gray-50);
  border-radius: 2px;
  border: 1px solid var(--color-gray-400);
  outline: 1px solid #fff;
  -moz-outline-radius: 2px;
  outline-offset: -2px;
  cursor: pointer;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-gray-900)
}

.btn:hover {
  background-color: rgb(33, 115, 70, 0.2);
  box-shadow: none;
  color: black;
}

.btn:active {
  background-color: var(--color-gray-300);
  box-shadow: none;
  color: black;
}

.btn-main {
  padding: 0 7px;
  font-weight: 500;
  box-shadow: 0 1px 3px var(--color-gray-350);
}

.btn-margin-top {
  margin-top: 10px;
}

.btn-lock {
  padding: 0 5px;
  width: fit-content;
}

.btn-row-add {
  padding: 0 9px;
  margin-top: 4px;
  font-weight: bold;
  font-size: 16px;
}

.active-row > td {
  background-color: var(--color-gray-100);
}

.table-row:hover > .itemcard-action {
  background-color: #fff;
}

.material-delete {
  display: flex;
  justify-content: center;
}

.material-delete img:hover {
  transform: scale(1.1);
}

.delete-btn {
  width: 14px;
  height: 14px;
}

.buttons-form-footer {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

/* ================ Detail / Barcode ================ */

.detail {
  width: fit-content;
  margin: 50px auto;
}

.detail-row {
  display: flex;
  align-items: center;
  gap: 16px;
  line-height: 26px;
}

.detail-row div {
  font-size: 1.2em;
}

.detail-row div:first-child {
  font-weight: bold;
  width: 150px;
  padding-left: 30px;
}

.detail-barcode {
  text-align: left;
}

.barcode-print-icon {
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}

.barcode-wrapper { 
  cursor: pointer; 
  height: 32px;
}

#barcode {
  width: 0;
  height: 0;
  border: 0;
  padding: 0;
}

.visually-hidden-input {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  opacity: 0;
  pointer-events: auto; /* wichtig: nimmt den Fokus */
}

.print-btn-wrapper {
  margin: 50px 30px 0;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.print-btn {
  width: 70px;
  height: 26px;
}

.itemcard-topbox-btn {
  height: 40px; 
  font-size: 0.9em; 
  text-align: center; 
  width: 105px;
}

/* ====== Сontext Menu ====== */

.context-menu {
  position: absolute;
  display: none;
  min-width: 200px;
  margin: 0;
  padding: 6px 0;
  list-style: none;
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(0,0,0,.08);
  z-index: 1000;
}
.context-menu.is-open { 
  display: block; 
}

.context-menu li {
  padding: 8px 12px;
  cursor: pointer;
}
.context-menu li:hover {
  background: #f3f4f6;
}


/* statistic */

.chart-filter {
  background-color: var(--color-gray-100);
  padding: 10px 20px;
}

.itemcard-chart {
  display: flex;
  margin-bottom: 10px;
}

.itemcard-chart > div {
  display: flex;
  gap: 26px; 
  align-items: flex-end;
}

.chart-filter-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
  border: 0;
}

.chart-filter-date div {
  width: 200px;
}

.chart-wrap {
  position: relative;   /* von Chart.js benötigt */
  width: 100vw;
  height: 70vh;
  overflow: hidden;     /* kein Auspressen des Box" */
  padding: 20px;
}

.chart-total {
  font-weight:500;
  padding: 20px;
}

.btn-chart {
  padding: 0 8px;
  height: 27px;
  font-weight: 500;
  /* box-shadow: 0 1px 3px var(--color-gray-200); */
  align-self: flex-end;
  margin-left: 26px;
  border-color: var(--color-gray-500);
  background-color: white;
  
}