/* ================ Grid Row ================== */

.table[data-type="supplier-list"] {
  grid-template-columns: minmax(33px, max-content) 1fr 2fr 2fr 1fr 2fr 1fr 2fr 1fr 4fr;
}

.table[data-type="supplier-detail-deliveryunits"] {
  grid-template-columns: minmax(33px, max-content) repeat(8, 1fr);
}

.table[data-type="deliveryunits-list"] {
  grid-template-columns: minmax(33px, max-content) repeat(8, 1fr) 2fr;
}

.table[data-type="delivery-detail-deliveryunits"] {
  grid-template-columns: minmax(33px, max-content) repeat(6, 1fr);
}

.table[data-type="delivery-create-deliveryunits"] {
  grid-template-columns: minmax(33px, max-content) 2fr 2fr 1fr;
}

.table[data-type="delivery-update-deliveryunits"] {
  grid-template-columns: minmax(33px, max-content) repeat(5, 4fr) 1fr;
}

.table[data-type="unload-list"] {
  grid-template-columns: repeat(3, auto) 2fr 3fr repeat(6, 1fr) 4fr;
}

.table[data-type="unload-create"] {
  grid-template-columns: minmax(33px, max-content) repeat(3, 2fr) 1fr auto;
}

.table[data-type="unload-update"] {
  grid-template-columns: minmax(33px, max-content) repeat(4, 1fr) 2fr auto;
}

.table[data-type="unload-detail"] {
  grid-template-columns: minmax(33px, max-content) repeat(5, 1fr) 2fr;
}

.table[data-type="recycling-list"] {
  grid-template-columns: minmax(33px, max-content) repeat(6, 1fr) 2fr;
}



.table[data-type="recycling-create"] {
  grid-template-columns: 30px minmax(34px, max-content) repeat(2, 2fr) 1fr;;
}

.table[data-type="recycling-detail"] {
  grid-template-columns: minmax(33px, max-content) repeat(4, 1fr) 2fr auto;
}

.table[data-type="shippingunits-list"] {
  grid-template-columns: minmax(33px, max-content) repeat(8, 1fr) 2fr;
}

.table[data-type="shipping-detail-shippingunits"] {
  grid-template-columns: minmax(33px, max-content) repeat(3, 1fr) auto;
}

.table[data-type="shipping-create-shippingunits"] {
  grid-template-columns: minmax(33px, max-content) 2fr repeat(5, 1fr);
}

.table[data-type="shipping-update-shippingunits"] {
  grid-template-columns: minmax(33px, max-content) repeat(4, 1fr) auto;
}

.table[data-type="customer-detail__shippingunits"] {
  grid-template-columns: repeat(3, auto) repeat(5, 1fr) auto 2fr;
}

.table[data-type="barcode-list"] {
  grid-template-columns: minmax(33px, max-content) 1fr 2fr repeat(4, 1fr);
}

.table[data-type="material-list"] {
  grid-template-columns: minmax(33px, max-content) 200px repeat(3, 40px);
}

.table[data-type="material-create"] {
  grid-template-columns: minmax(33px, max-content) 200px repeat(3, 40px) auto;
}

/* ================ table ================== */

.table {
  display: grid;
  width: 100%;
}

.table-header {
  font-weight: 500;
  background-color: var(--color-gray-100);
  border-right: 1px solid var(--color-gray-300);
  border-bottom: 1px solid var(--color-gray-300);
  padding-bottom: 4px;
  text-align: center;
}

.table-border {
  height: 8px; 
  background-color: #eee;
}

.table-header-arrow {
  color: rgb(2, 141, 2);
  margin-left: 6px;
  font-size: 11px;
}

.table-row {
  display: contents;
}

.table-row__id-gray {
  background-color: var(--color-gray-100);
}

.table-row div:first-child {
  text-align: center;
}

.table-row > div {
  border-right: 1px solid var(--color-gray-200);
  border-bottom: 1px solid var(--color-gray-200);
  height: 26px;
  padding: 2px 2px 2px 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  align-content: center;
}

.table-row:hover > div {
  background-color: var(--color-gray-100);
}

.table-row:focus > div {
  background-color: var(--color-gray-200);
}

.js-select-row.row-selected > div {
  background-color: #d0e4f5;
}

.table-row input[checkbox] {
    text-align: center;
}

.table-row-id {
  text-align: center;
}

.itemcard-table .table-row > .table-row-radio {
  border-bottom: none;
  border-top: none;
  background-color: transparent;
  text-align: left;
}

.itemcard-table .table[data-type="recycling-create"] {
  border-left: none;
}


/* ============ Detail  ============= */

.process-wrapper {
  margin: 50px auto;
  width: 1000px;
}

.process-title {
  margin-bottom: 50px;
}

.process-table {
  width: 100%;
  border-collapse: collapse;
}

.process-table th,
.process-table td {
  text-align: right;
  border: none;
  line-height: 3;
  padding-right: 8px;
  border-right: 1px solid var(--color-gray-100);
}

.process-table th:last-child,
.process-table td:last-child {
  border-right: none;
}

.process-table th {
  text-align: center;
  padding: 0;
  font-weight: 600;
  background-color: var(--color-gray-50);
}

.process-table th:first-child{
  background-color: #fff;
  font-size: 1.1em;
  padding-left: 5px;
}

.process-row {
  border-bottom: 1px solid var(--color-gray-100) !important;
}

.process-table span {
  font-size: 1.1rem;
  padding-right: 10px;
}

.process-table th:first-child,
.process-table td:first-child {
  text-align: left;
  width: 500px;
}

.process-row-color {
  background-color: var(--color-gray-50);
}

.process-total-weight td:first-child {
   font-size: 1.1em;
}

.process-diff {
  font-size: 0.8em; 
  color: red; 
  line-height: 0.6;
}

.total-weight {
  font-weight: 500;
  vertical-align: top;
  padding-top: 20px;
  padding-right: 8px;
  padding-left: 10px;
}

.indent-1 { padding-left: 20px; font-weight: 500; font-size: 1.1em;}
.indent-2 { padding-left: 60px; font-weight: 500; }
.indent-3 { padding-left: 100px; }
.indent-4 { padding-left: 140px; }

/* ============ Material ============= */

.table-row > .material-action {
  border-bottom: none;
}

.table-row:hover > .material-action {
  background-color: #fff;
}

.table-row > .material-input {
  padding-left: 2px;
}

.material-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
}

.material-action {
  display: flex;
  justify-content: left;
  gap: 10px;
  align-items: center;
  margin-left: 4px;
  cursor: pointer;
  height: 30px;
}

.btn.material-btn {
  min-width: 28px;
  height: 26px;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease, transform 0.3s ease;
  padding: 0 5px;
  box-shadow: 0 1px 2px var(--color-gray-200);
}

.closed-lock {
  background-image: url('/static/icons/lock-icon.svg');
}

.open-lock,
.closed-lock:hover {
  background-image: url('/static/icons/lock-open-icon.svg');
}

.material-delete {
  display: flex;
  justify-content: center;
}

.material-delete img:hover {
  transform: scale(1.1);
}

.active-row > * {
  background-color: var(--color-gray-300);
}

.active-row > .material-action {
  background-color: transparent;
}



/* ============ Detail, Update ============= */

.detail {
  width: fit-content;
  margin: 50px auto;
}

.detail-row {
  display: flex;
  align-items: center;
  gap: 16px;
  line-height: 26px;
}

.detail-row div:first-child {
  font-weight: bold;
  width: 180px;
  padding-left: 30px;
}

.detail-barcode {
  text-align: left;
}

.itemcard-small,
.itemcard-large {
  margin: 30px auto;
  padding: 30px;
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-300);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.itemcard-small {
  max-width: 640px;
}

.itemcard-large {
  max-width: 840px;
}

.itemcard-large section,
.itemcard-small section  {
  margin-top: 20px;
}

.itemcard-large .table-row > div,
.itemcard-small .table-row > div {
  padding: 0;
}

.itemcard-large .table-header,
.itemcard-small .table-header {
  padding-top: 5px;
  border-top: 1px solid var(--color-gray-300);
}


.itemcard-large > .itemcard-table .table,
.itemcard-large .table-header,
.itemcard-large .table-row > div,
.itemcard-small > .itemcard-table .table,
.itemcard-small .table-header,
.itemcard-small .table-row > div {
  border-color: var(--color-gray-400);
}

.fetch-weight-btn {
  padding: 1px 3px !important;
  box-shadow: none !important;
  margin: 2px;
  font-size: 0.9em;
}


.itemcard-topbox > div {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 12px;
}

.itemcard-title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemcard-row div:first-child {
  width: 25%;
  font-weight: 500;
}

.itemcard-row div:last-child {
  width: 75%;
  height: 28px;
}

.itemcard-row textarea {
  resize: vertical;
}

.itemcard-table input[type=number],
.itemcard-table select {
  border: none;
}

.itemcard-table .table {
  border-left: 1px solid var(--color-gray-300);
}

.itemcard-table .table-row > div {
  background-color: #fff;
  padding-left: 4px;
}

.itemcard-table .table-header {
  background-color: var(--color-gray-200);
}


.itemcard-table-title {
  font-weight: 500;
  margin-bottom: 10px;
  color: var(--color-gray-900);
}

.itemcard-table-first {
  margin-top: 30px;
}

.itemcard-margin-left {
  margin-left: 30px;
}


/* ============ info-table NEU ============= */

.info-table-wrapper {
  background-color: var(--color-gray-50);
  padding: 16px 22px 26px;
  border-bottom: 1px solid var(--color-gray-300);
}

.info-table {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  column-gap: 100px;
  row-gap: 16px;
  width: 100vw;
  margin-top: 16px;
  height: 118px;
}

.info-table-row {
  display: flex;
  justify-content: start;
  gap: 16px;
  flex-wrap: wrap;
}

.info-table-row div:first-child {
  font-weight: bold;
  width: 100px;
}

.info-table-row div:last-child {
  max-width: 640px;
}

/* ============= itemcard-row-delete ============= */

.itemcard-row-delete {
  text-align: center;
  align-content: center;
}

.itemcard-row-delete input:focus {
  outline: none;
}

.itemcard-row-delete input {
  min-height: 0;
  width: 15px;
  height: 15px;
  position: relative;
  border-radius: 3px;
  border-color: var(--color-gray-500);
}

.itemcard-row-delete input:checked::before {
  content: '\2716'; 
  position: absolute;
  font-size: 11px;
  font-weight: 900;
  color: rgb(216, 21, 21);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* ============= Buttons ============ */

.delete-btn {
  width: 14px;
  height: 14px;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.btn,
.btn-row-add {
  background-color: var(--color-gray-50);
  color: var(--color-gray-800);
  border-radius: 3px;
  border: 1px solid var(--color-gray-400);
  outline: 1px solid #fff;
  outline-offset: -2px;
  cursor: pointer;
}

.btn-row-add {
  padding: 0 11px;
  margin-top: 4px;
  font-weight: bold;
  font-size: 16px;
}

.btn {
  padding: 4px 8px;
  font-weight: 500;
  box-shadow: 0 1px 3px var(--color-gray-500);
}

.btn:hover,
.btn-row-add:hover {
  background-color: var(--color-gray-200);
}

.btn:active,
.btn-row-add:active {
  background-color: var(--color-gray-300);
}

.btn:active {
  box-shadow: none;
}

.barcode-print-icon {
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}

.print-btn-wrapper {
  margin: 50px 30px 0;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.print-btn {
  border: 1px solid var(--color-gray-500);
  width: 70px;
}

/* ====== Pagination ====== */

.pagination {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.pagination a, 
.pagination span {
  padding: 5px 10px;
  background-color: #f9f9f9;
  color: var(--color-gray-800);
  border: 1px solid var(--color-gray-400);
  border-radius: 3px;
  transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
  background-color: var(--color-gray-400);
  color: #000;
}

.pagination .current {
  background-color: var(--color-gray-600);
  border-color: var(--color-gray-600);
  color: white;
}

/* ====== Ð¡ontext Menu ====== */

.context-menu {
  position: absolute;
  display: none;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  list-style: none;
  width: 160px;
  border-radius: 4px;
  overflow: hidden;
}

.context-menu li {
  padding: 8px 12px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  transition: background-color 0.2s;
}

.context-menu li:last-child {
  border-bottom: none;
}

.context-menu li:hover {
  background-color: #f5f5f5;
}


/* ====== Media ====== */

  @media print {
    .no-print {
      display: none !important;
    }
  }


  /* ====== Input ====== */

