header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-gray-100);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid var(--color-gray-300);
    position: relative;
    padding: 0 20px;
}

.header-menu {
    display: flex;
    align-items: flex-end;
    gap: 46px;
}

.header-menu-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 105px;
    padding: 6px 0 30px;
}

.header-user {
    padding-top: 8px;
    cursor: pointer;
}

.header-menu-title {
    padding-bottom: 3px;
    border-bottom: 3px solid transparent;
    transition: border-color 0.2s ease-in-out;
    font-weight: 500;
}

.header-menu-title:hover, 
.title-selected {
    border-color: var(--color-hero);
}

.icon-selected svg {
    fill: var(--color-hero);
    filter: brightness(85%);
}

.header-menu-splitter {
    border-right: 1px solid var(--color-gray-300);
    height: 80%;
    align-self: center;
}

.header-menu-icon {
    position: relative;
    align-self: center;
}

.header-menu-icon svg {
    vertical-align: bottom;
}

/* ============ Details element ============*/

.header-details {
    position: relative;
    background-color: var(--color-gray-100);
}

.header-details-disclosure {
    position: absolute;
    top: 38px;
    left: 0;
    z-index: 100;
    min-width: 150px;
    padding: 10px;
    border: 1px solid var(--color-gray-500);
    background-color: var(--color-gray-50);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

/*  ============ tooltip  ============ */

.tooltip-text,
.tooltip-reset {
    position: absolute;
    bottom: -18px;
    font-size: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip-text {
    opacity: 0;
    width: max-content;
}

.header-menu-icon:hover .tooltip-text,
.icon-selected .tooltip-text {
    opacity: 1;
}

.icon-selected .tooltip-text {
    color: var(--color-hero);
    filter: brightness(50%);
}

.tooltip-reset {
    opacity: 1;
    color: #9f5017;
}
  
/* ============ Icon: search =============*/

.header-search {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 240px;
}

.header-search-text,
.header-search-btn,
.header-search-date > div,
.header-search-status > div {
    height: 28px;
    border: 1px solid var(--color-gray-500);
    color: var(--color-gray-900);
}

.header-search-status div {
    width: 70%;
}

.header-search-status,
.header-search-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
}

.header-search-btn {
    box-shadow: 0 0.5px 2px var(--color-gray-500);
    font-weight: 500;
}

/* ============ Icon: sort =============*/
  
.icon-sort {
    display: flex;
    justify-content: space-between;
    line-height: 24px;
    width: 150px;
}
  
.icon-sort a {
    color: var(--color-gray-900);
    font-size: 12px;
}
  
.icon-sort a:hover,
.icon-sort a.icon-active {
    display: inline-block;
    transform: scale(1.1);
    color: rgb(2, 141, 2);
    fill: rgb(2, 141, 2);
}