header {
    padding: 5px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: var(--color-hero);
}
  
.header-user {
    display: flex;
    align-items: center;
    gap: 8px;
}
  
/* ============ Top-menu =============*/
  
.top-menu {
    display: flex;
    padding: 10px 5px 5px;
    background-color: var(--color-gray-100);
}
  
.top-menu div {
    min-width: 110px;
    height: 20px;
    text-align: center;
}
  
.top-menu a {
    font-size: 13px;
    padding-bottom: 4px;
    transition: border-color 0.2s ease-in-out;
    font-weight: 500;
}

.top-menu a:hover, 
.top-menu .selected {
    border-bottom: 3px solid var(--color-hero);
}
  
/* ============ Icons =============*/
  
.top-icons-wrapper {
    display: flex;
    position: relative;
    height: 96px;
    padding: 24px 0 15px 0;
    background-color: var(--color-gray-100);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
  
.top-icons-wrapper > div {
    border-right: 1px solid var(--color-gray-300);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
}

.top-icons-title {
    color: var(--color-gray-800);
    text-align: center;
}
  
.top-icon {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    padding: 5px 24px;
}

.top-icon-detail {
    position: relative;
    display: inline-block;
}
  
.top-icon-detail summary {
    list-style: none;
    /* cursor: pointer; */
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    padding: 0;
}
  
.top-icon-detail summary::-webkit-details-marker {
    display: none; /* Entfernt das Dreieck im Browser */
}

.top-icon-detail > div {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    min-width: 150px;
    margin-top: 4px;
    padding: 8px;
    border: 1px solid var(--color-gray-300);
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    display: none;
}

.top-icon-detail[open] > div {
    display: block;
}

/* ============= Detail Summary ============ */

.top-icon-detail summary {
    list-style: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .top-icon-detail summary::-webkit-details-marker {
    display: none;
  }
  

/*  ============ tooltip  ============ */

  .tooltip-wrapper {
    position: relative;
  }
  
  .tooltip-wrapper .tooltip-text {
    display: none;
    position: absolute;
    bottom: 120%; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    font-size: 10px;
  }
  
  .tooltip-wrapper:hover .tooltip-text {
    display: block;
  }
  
/* ============ Icon: search =============*/
  
.icon-search {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 240px;
}

.icon-search-input,
.icon-search-button,
.icon-search-date input {
    height: 28px;
    border: 1px solid var(--color-gray-500);
    color: var(--color-gray-900);
}

.icon-search-date input,
.icon-search-input {
    width: 100%;
    padding-left: 6px;
    outline: none;
}

.icon-search-date input:focus,
.icon-search-input:focus {
    border: 1px solid var(--color-hero);
}

.icon-search-button {
    width: 28px;
    background: var(--color-gray-500);
    text-align: center;
}

.icon-search-date {
    display: flex;
    justify-content: space-between;
    gap: 6px;
    margin-top: 12px;
}

/* ============ Icon: sort =============*/
  
.icon-sort {
    display: flex;
    justify-content: space-between;
    line-height: 24px;
    width: 150px;
}
  
.icon-sort a {
    color: var(--color-gray-900);
    font-size: 12px;
    transition: all 1s ease;
}
  
.icon-sort a:hover,
.icon-sort a.icon-active {
    color: rgb(2, 141, 2);
    display: inline-block;
    transform: scale(1.2);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
  
.icon-sort a.icon-active {
    transform: scale(1.3);
}
