header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-gray-100);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid var(--color-gray-300);
    position: relative;
    padding: 0 20px 0 0;
    width: 100%;
    height: 105px;
}

.header-menu {
    display: flex;
    gap: 6px;
}

.header-menu-item {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6px 0 30px;
    align-items: center;
}

.header-menu-title {
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;
    font-weight: 500;
    width: max-content;
    text-align: center;
    position: relative;
}

.header-menu-search {
    width: auto;
    margin-left: 40px;
}

.title-selected {
    border-color: var(--color-hero);
}

.header-menu-title:hover {
    border-color: var(--color-gray-700);
}

.header-menu-title.title-selected:hover  {
    border-color: var(--color-hero);
}

.icon-selected svg {
    fill: var(--color-hero);
    filter: brightness(85%);
}

.header-menu-splitter {
    border-right: 1px solid var(--color-gray-300);
    height: 78%;
    align-self: flex-start;
    margin-top: 10px;
}

.header-menu-icon {
    position: relative;
    align-self: center;
}

.header-menu-icon svg {
    vertical-align: bottom;
}

.user-menu {
    display: flex;
    gap: 8px;
    margin-top: 10px;
}

.user-menu img {
    cursor: pointer;
}

.header-active-weight {
    align-self: center;
    font-weight: 500;
    cursor: pointer;
    line-height: 1.5;
    text-align: center;
}

.header-weight-item {
    width: 200px;
    display: flex;
    justify-content: space-between;
    line-height: 2;
}

/* ============ Details element ============*/

.header-details {
    position: relative;
    background-color: var(--color-gray-100);
}

.header-details-disclosure {
    position: absolute;
    top: 38px;
    left: 0;
    z-index: 100;
    min-width: 150px;
    padding: 10px;
    border: 1px solid var(--color-gray-500);
    background-color: var(--color-gray-50);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

/*  ============ tooltip  ============ */

.header-title-tooltip,
.header-icon-tooltip,
.tooltip-reset {
    opacity: 0;
    position: absolute;
    bottom: -18px;
    font-size: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
}

.header-icon-tooltip {
    width: max-content;
}

.header-title-tooltip {
    bottom: -5px;
    background-color: var(--color-gray-100);
    padding: 0 3px;
    color: var(--color-gray-700);
    border-width: 2px;
}

.header-menu-title:hover .header-title-tooltip,
.header-menu-icon:hover .header-icon-tooltip,
.icon-selected .header-icon-tooltip {
    opacity: 1;
}

.title-selected .header-title-tooltip,
.icon-selected .header-icon-tooltip {
    color: var(--color-hero);
    filter: brightness(50%);
}

.tooltip-reset {
    opacity: 1;
    color: #9f5017;
}
  
/* ============ Icon: search =============*/

.header-search {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 240px;
}

.header-search-text,
.header-search-btn,
.header-search-date > div,
.header-search-status > div {
    height: 28px;
    border: 1px solid var(--color-gray-500);
    color: var(--color-gray-900);
}

.header-search-status div {
    width: 70%;
}

.header-search-status,
.header-search-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
}

.header-search-btn {
    box-shadow: 0 0.5px 2px var(--color-gray-500);
    font-weight: 500;
}

/* ============ Icon: sort =============*/
  
.icon-sort {
    display: flex;
    justify-content: space-between;
    line-height: 24px;
    width: 200px;
}
  
.icon-sort a {
    color: var(--color-gray-900);
    font-size: 12px;
}
  
.icon-sort a:hover,
.icon-sort a.icon-active {
    display: inline-block;
    transform: scale(1.1);
    color: rgb(2, 141, 2);
    fill: rgb(2, 141, 2);
}