* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "Noto Sans", sans-serif;
  color: #444;
  font-size: 14px;
}

a {
  text-decoration: none;
  font-size: 16px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-start;
  width: 100%;
  margin-top: 12px;
}

.flex * {
  width: calc(50% - 8px);
  padding: 4px;
}

.flex > input, select {
  height: 100%;
}

.title {
  font-weight: bold;
  font-size: 1.2em;
  color: #344b5e;
  margin: 20px 0;
}

/* ========== delivery ======== */

.delivery {
  display: flex;
  justify-content: space-between;
}

.delivery section:nth-child(1) {
  margin-top: 34px;
  width: 30%;
}

.delivery section:nth-child(2) {
  width: 65%;
}

.delivery-form-wrapper {
  height: min-content;
  padding: 12px;
  background-color: aliceblue;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.delivery-form-wrapper summary {
  padding: 2px;
  cursor: pointer;
  text-align: end;
  font-size: 0.9em;
}

#item-counter {
  width: 50px;
}

.flex > #wareneingang, #traeger_anzahl {
  width: min-content
}

select {
  text-overflow: ellipsis;  /* Auslassungspunkte am Ende */
  padding-right: 20px;
}

.form-item-title {
  margin-left: 52%;
  line-height: 32px;
  margin-top: 8px;
}

.form-box {
  padding: 13px;
}

.border {
  border: 1px solid #ccc;
  padding: 6px;
  margin: 6px;
}

.record-btn {
  width: 100%;
  padding: 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
}

/* ============ Supplier Create ================*/

.form-supplier {
  margin-top: 30px;
  width: 500px;
}

.form-supplier > div {
  margin: 30px 0;
}

.form-row-supplier:nth-last-child(1) {
  gap: 6px;
  flex-direction: column;
  align-content: flex-start;
  text-align: left;
}

.form-row-supplier > label {
  width: calc(35% - 16px);
}

.form-row-supplier > input {
  width: 65%;
}
 
.form-row-supplier > textarea {
  width: 100%;
}

/* ============ Detail ================*/

.detail-header {
  margin-bottom: 20px;
  line-height: 1.5;
  font-size: 0.9em;

}

.detail-header th {
  width: 150px;
  vertical-align: top;
}

/* ============ unload ================*/

.text-center {
  text-align: center;
}

.select_cargo {
  margin-top: 20px;
}

.unload_cargo {
  margin-top: 100px;
  display: flex;
  gap: 14px;
}

.unload_cargo .unload-unit {
  width: 40%;
  border-collapse: collapse;
  font-size: 0.8rem;
  border: 1px solid #e8eaec;
  height: 0%;
}

.unload_cargo .table-box {
  width: calc(60% - 100px);
}

caption p {
  text-align: left;
  padding: 8px 0;
  font-weight: bold;
  font-size: 1.2em;
  color: #344b5e;
}

.row-counter {
  margin-top: 40px;
  width: 90px;
  height: 26px;
}

.row-counter input {
  width: 40px;
  height: 100%;
  padding: 3px 0 3px 6px;
  font-size: 0.95rem;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
}

.row-counter span {
  color: #abaeb1;
}

.row-counter input[type=number]::-webkit-inner-spin-button,
.row-counter input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

.table-input td {
  height: 36px;
  padding: 6px;
}

.table-input select,
.table-input input {
  padding: 4px;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  outline: none;
}