*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-size: 13px;
  letter-spacing: 0.1px;
}

:root {
  --color-gray-50: #fcfcfc;
  --color-gray-100: #f3f2f1;
  --color-gray-150: #eee;
  --color-gray-200: #e6e6e6;
  --color-gray-300: #ddd;
  --color-gray-400: #ccc;
  --color-gray-500: #bbb;
  --color-gray-600: #aaa;
  --color-gray-700: #555;
  --color-gray-800: #444;
  --color-gray-900: #333;
  --color-hero: #217346;
}

body {
  width: 100vw;
}

h2 {
  font-size: 1.3em;
  font-weight: bold;
  color: var(--color-hero);
  margin-bottom: 30px;
}

h4 {
  font-weight: bold;
  color: var(--color-gray-900);
}

a {
  text-decoration: none;
  color: inherit;
}
