*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-size: 13px;
  letter-spacing: 0.1px;
}

:root {
  --color-gray-100: #f3f2f1;
  --color-gray-200: #e6e6e6;
  --color-gray-300: #ddd;
  --color-gray-400: #ccc;
  --color-gray-500: #bbb;
  --color-gray-600: #aaa;
  --color-gray-800: #444;
  --color-gray-900: #333;
  --color-hero: #217346;
}

body {
  width: 100vw;
}

h2 {
  font-size: 1.3em;
  font-weight: bold;
  color: var(--color-hero);
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}


/* .flex {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-start;
  width: 100%;
  margin-top: 12px;
}

.flex * {
  width: calc(50% - 8px);
  padding: 4px;
}

.flex > input, select {
  height: 100%;
} */

/* .title {
  font-weight: bold;
  font-size: 1.2em;
  color: #344b5e;
  margin-bottom: 20px;
} */

/* ========== delivery ======== */

/* ============ Supplier Create ================*/

/* .form-supplier {
  margin-top: 30px;
  width: 500px;
}

.form-supplier > div {
  margin: 30px 0;
}

.form-row-supplier:nth-last-child(1) {
  gap: 6px;
  flex-direction: column;
  align-content: flex-start;
  text-align: left;
}

.form-row-supplier > label {
  width: calc(35% - 16px);
}

.form-row-supplier > input {
  width: 65%;
}
 
.form-row-supplier > textarea {
  width: 100%;
} */

/* ============ Detail ================*/

.detail-header {
  margin-bottom: 20px;
  line-height: 1.5;
  font-size: 0.9em;

}

.detail-header th {
  width: 150px;
  vertical-align: top;
}

/* ============ unload Create ================*/

.text-center {
  text-align: center;
}

.select_cargo {
  margin-top: 20px;
}

.unload_cargo {
  margin-top: 100px;
  display: flex;
  gap: 14px;
}

.unload_cargo .unload-unit {
  width: 40%;
  border-collapse: collapse;
  font-size: 0.8rem;
  border: 1px solid #e8eaec;
  height: 0%;
}

.unload_cargo .table-box {
  width: calc(60% - 100px);
}

caption p {
  text-align: left;
  padding: 8px 0;
  font-weight: bold;
  font-size: 1.2em;
  color: #344b5e;
}

.row-counter {
  margin-top: 40px;
  width: 90px;
  height: 26px;
}

.row-counter input {
  width: 40px;
  height: 100%;
  padding: 3px 0 3px 6px;
  font-size: 0.95rem;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
}

.row-counter span {
  color: #abaeb1;
}

.row-counter input[type=number]::-webkit-inner-spin-button,
.row-counter input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

.table-input td {
  height: 36px;
  padding: 6px;
}

.table-input select,
.table-input input {
  padding: 4px;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  outline: none;
}