:root {
  --color-gray-100: #f3f2f1;
  --color-gray-200: #e6e6e6;
  --color-gray-300: #ddd;
  --color-gray-400: #ccc;
  --color-gray-500: #bbb;
  --color-gray-600: #aaa;
  --color-gray-800: #444;
  --color-gray-900: #333;
  --color-hero: #217346;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

th {
  border: 1px solid var(--color-gray-300);
  padding-bottom: 5px;
  font-weight: 400;
}

td {
  border: 1px solid var(--color-gray-200);
  padding: 5px 10px;
}

/* ============ Utility CSS =============*/

.flex {
  display: flex;
  align-items: center;
}

.text-center {
  text-align: center;
}

/* ============ table-header =============*/

.table-header {
  padding: 10px 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: var(--color-hero);
}

.table-header-logo {
  height: 30px;
}

.table-header-user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-white-icon {
  height: 20px;
}

/* ============ Top-menu =============*/

.top-menu {
  padding: 15px 5px 5px;
  display: flex;
  gap: 2px;
  background-color: var(--color-gray-100);
}

.top-menu div {
  min-width: 110px;
  height: 20px;
  text-align: center;
  display: inline-block;
}

.top-menu a {
  color: var(--color-gray-800);
  font-size: 13px;
  padding-bottom: 4px;
  transition: border-color 0.2s ease-in-out;
  font-weight: bold;
}

.top-menu a:hover {
  border-bottom: 3px solid var(--color-hero);
}

.top-menu .selected {
  border-bottom: 3px solid var(--color-hero);
}

/* ============ Navigation icons =============*/

.navi-icons {
  display: flex;
  position: relative;
  height: 96px;
  padding: 20px 0 17px 0;
  background-color: var(--color-gray-100);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.table-navi > div {
  border-right: 1px solid var(--color-gray-300);
}

.navi-icons > div {
  border-right: 1px solid var(--color-gray-300);
}

.navi-icon {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  padding: 5px 24px;
  height: 76%;
}

.icon-detail {
  position: absolute;
  padding: 8px;
  border: 1px solid var(--color-gray-300);
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.icons-title {
  color: var(--color-gray-800);
  text-align: center;
}

/* ============ Navigation icon: Detail and Update ======*/

.selectable-row:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.row-selected {
  background-color: #d0e4f5 !important;
}

.navi-icon a.disabled {
  pointer-events: none;
  opacity: 0.5;
}

/* ============ Navigation icon: search =============*/

.icon-search {
  display: flex;
  align-items: center;
}

.icon-search-input {
  width: 100%;
  height: 28px;
  padding: 6px;
  border: 1px solid var(--color-gray-500);
  outline: none;
}

.icon-search-date {
  display: flex;
  justify-content: space-between;
  gap: 6px;
  margin-top: 12px;
}

.icon-search-date input {
  border: 1px solid var(--color-gray-500);
  color: var(--color-gray-900);
  padding: 4px;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 0.1px;
}

.icon-search-button {
  width: 28px;
  height: 28px;
  background: var(--color-gray-500);
  color: var(--color-gray-900);
  border: 1px solid var(--color-gray-500);
  border-left: none;
  cursor: pointer;
}

/* ============ Navigation icon: sort =============*/

.icon-sort {
  display: flex;
  justify-content: space-between;
  line-height: 24px;
  width: 150px;
}

.icon-sort a {
  color: var(--color-gray-900);
  font-size: 12px;  
}

.icon-sort a:hover {
  color: var(--color-hero);
  display: inline-block;
  transform: scale(1.3);
}

/* ============ Table title =============*/

.thead-title {
  background-color: var(--color-gray-100);
  border-top: 10px solid var(--color-gray-100);
  width: 100%;
}

.thead-title-sort {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

/* ============ Table rows =============*/

.tbody-input {
  width: 5%;
  background-color: var(--color-gray-100);
  text-align: center;
}
.tbody-input-hidden {display: none;}
.tbody-id {
  width: 36px;
  text-align: right;
  color: #000;
  background-color: var(--color-gray-100);
  padding-right: 8px;
}
.tbody-id-simple {width: 5%; text-align: right; padding-right: 8px;}
.tbody-avv {width: 10%;}
.tbody-name {width: 20%;}
.tbody-street {width: 20%;}
.tbody-postal {width: 70px;}
.tbody-city {width: 10%;}
.tbody-phone {width: 120px;}
.tbody-email {width: 20%;}
.tbody-note {width: 20%;}
.tbody-note p {white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.tbody-delivery-receipt {width: 10%;}
.tbody-data {width: 100px; text-align: center;}
.tbody-weight {width: 100px; text-align: right; padding-right: 8px;}
.tbody-lid {width: 36px; text-align: right; padding-right: 8px;}
.tbody-delivery-type {width: 10%;}
.tbody-material {width: 10%;}
.tbody-status {width: 100px;}
.tbody-delivery-type {width: 10%;}
.tbody-purpose {width: 10%;}
.tbody-delivery {width: 20%;}
.tbody-delivery-unit {width: 10%;}

/* ====== Pagination ====== */

.pagination {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.pagination a, 
.pagination span {
  padding: 5px 10px;
  border: 1px solid var(--color-gray-400);
  border-radius: 3px;
  text-decoration: none;
  color: var(--color-gray-800);
  background-color: #f9f9f9;
  transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
  background-color: var(--color-gray-400);
  color: #000;
}

.pagination .current {
  background-color: var(--color-gray-600);
  border-color: var(--color-gray-600);
  color: white;
}

/* ====== Create Table  ====== */

.tform {
  display: flex;
  gap: 60px;
  justify-content:space-between;
}

.tform-form {
  width: 40%;
  height: min-content;
  margin-top: 30px;
  margin-left: 50px;
  padding: 26px 20px;
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-200);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.tform-list {
  width: 60%;
}

.tform-title {
  font-weight: bold;
  font-size: 1.3em;
  color: var(--color-hero);
  filter: brightness(75%);
  margin-bottom: 16px;
}

.tform-row {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  margin-top: 12px;
}

.tform-row * {
  width: 50%;
  padding: 5px 2px;
}

.tform-header summary {
  padding: 2px;
  cursor: pointer;
  text-align: end;
}

.tform-note {
  padding: 0;
}

.tform-note textarea {
  width: 100%;
  resize: vertical;

}

.tform-counter {
  width: 50px;
}

.tform-row:has(.tform-counter) {
  justify-content: flex-start;
  gap: 8px;
}

.record-btn {
  width: 100%;
  height: 40px;
  margin-top: 40px;
  background-color: var(--color-hero);
  opacity: 0.7;
  font-size: 16px;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

/* ====== Detail ====== */


.entity-card-wrapper {
  display: flex;
  gap: 10px;
  width: 100%;
}

.entity-card {
  width: 50%;
}

.entity-card-second {
  width: 50%;
}




























/* .table-filter {
  height: 44px;
  background-color: #dee2e6;
  border-bottom: 3px solid #fff;
  padding: 4px;
} */


  
/* ====== Table Header ====== */
  

/* .sort-icons {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sort-icons a {
  text-decoration: none;
  font-size: 10px;
  color: #5b849d;
  line-height: 10px;
  
} */

/* ====== Table action buttons ====== */

/* .table-action {
  display: flex;
  gap: 6px;
  margin-bottom: 1px;
  height: 30px;
}

.table-head {
  display: flex;
  justify-content: space-between;
  height: 26px;
  margin-bottom: 6px;
}

.table-head h2 {
  font-size: 18px;
}

.reset-btn {
  font-weight: bold;
}

.table-head-search form {
  display: flex;
  align-items: center;
}

.table-head-search input {
  height: 24px;
  width: 220px;
  padding: 6px;
  border: 1px solid var(--color-gray-500);
  border-right: none;
  outline: none;
}

.table-head-search button {
  height: 24px;
  width: 32px;
  background: #d1d1d1;
  color: var(--color-gray-900);
  border: 1px solid var(--color-gray-500);
  border-left: none;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
}

.table-head-search button:hover {
  background: #bfbfbf;
}

.table-head-title {
  font-size: 1.3em;
  color: #344b5e;
  display: flex;
  gap: 10px;
  align-items: flex-end;
}


.table-reset,
.table-search {
  cursor: pointer;
  border: 1px solid #bebbbb;
  background-color: #f0f3f3;
  height: 26px;
  width: 26px;
}

.btn-reset a {
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
}

.table-search {
  font-size: 14px;
}

.table-reset a {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
} */

/* ====== Table Filter ====== */

/* .table-filter input,
.table-filter select {
  width: 100%;
  box-sizing: border-box;
  height: 26px;
  border: 1px solid #bebbbb;
  padding-left: 8px;
}

.table-filter td {
  padding: 0 4px;
}

.table-filter input:focus {
  outline: 1px solid #9b9b9b;
    outline-offset: -1px;
}

.table-filter select {
  padding-left: 2px;
}

.table-filter select:first-child {
  color: #747474; 
} */

/* ====== Table Body ====== */


/* 
.table-filter button {
  height: 26px;
  cursor: pointer;
  margin-left: 8px;
  border: 1px solid #bebbbb;
  color: #4d4d4d;
  background-color: #f0f3f3;
}

.btn {
  padding: 0 8px;
}

.btn-activ:hover {
  background-color: #d6d4d4;
  color: #4b4b4b;
  outline: 1px solid #afafaf;
  outline-offset: -1px;
} */

/* .table-content tr:nth-child(odd) {
  background-color: #f8f9fa;
}

.table-content tr:hover {
  background-color: #e9ecef;
} */

/* .input-btn {
  padding: 3px 6px;
  margin-top: 12px;
} */
