table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

th {
  border: 1px solid var(--color-gray-300);
  padding-bottom: 5px;
  font-weight: 400;
}

td {
  border: 1px solid var(--color-gray-200);
  padding: 5px 10px;
}

/* ============ Utility CSS =============*/

.flex {
  display: flex;
  align-items: center;
}

.text-center {
  text-align: center;
}

/* ============ table-header =============*/

.table-header {
  padding: 10px 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: var(--color-hero);
}

.table-header-logo {
  height: 30px;
}

.table-header-user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-white-icon {
  height: 20px;
}

/* ============ Top-menu =============*/

.top-menu {
  padding: 15px 5px 5px;
  display: flex;
  gap: 2px;
  background-color: var(--color-gray-100);
}

.top-menu div {
  min-width: 110px;
  height: 20px;
  text-align: center;
  display: inline-block;
}

.top-menu a {
  color: var(--color-gray-800);
  font-size: 13px;
  padding-bottom: 4px;
  transition: border-color 0.2s ease-in-out;
  font-weight: 500;
}

.top-menu a:hover {
  border-bottom: 3px solid var(--color-hero);
  font-weight: 600;
}

.top-menu .selected {
  border-bottom: 3px solid var(--color-hero);
  font-weight: 600;
}

/* ============ Navigation icons =============*/

.navi-icons {
  display: flex;
  position: relative;
  height: 96px;
  padding: 20px 0 17px 0;
  background-color: var(--color-gray-100);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.table-navi > div {
  border-right: 1px solid var(--color-gray-300);
}

.navi-icons > div {
  border-right: 1px solid var(--color-gray-300);
}

.navi-icon {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  padding: 5px 24px;
  height: 76%;
}

.icon-detail {
  position: absolute;
  padding: 8px;
  border: 1px solid var(--color-gray-300);
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.icons-title {
  color: var(--color-gray-800);
  text-align: center;
}

/* ============ Navigation icon: Detail and Update ======*/

.selectable-row {
  transition: background-color 0.3s ease;
}

.selectable-row:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.row-selected {
  background-color: #d0e4f5 !important;
}

.navi-icon a.disabled {
  pointer-events: none;
  opacity: 0.5;
}


/* ============ Navigation icon: search =============*/

.icon-search {
  display: flex;
  align-items: center;
}

.icon-search-input {
  width: 100%;
  height: 28px;
  padding: 6px;
  border: 1px solid var(--color-gray-500);
  outline: none;
}

.icon-search-date {
  display: flex;
  justify-content: space-between;
  gap: 6px;
  margin-top: 12px;
}

.icon-search-date input {
  border: 1px solid var(--color-gray-500);
  color: var(--color-gray-900);
  padding: 4px;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 0.1px;
}

.icon-search-button {
  width: 28px;
  height: 28px;
  background: var(--color-gray-500);
  color: var(--color-gray-900);
  border: 1px solid var(--color-gray-500);
  border-left: none;
  cursor: pointer;
}

/* ============ Navigation icon: sort =============*/

.icon-sort {
  display: flex;
  justify-content: space-between;
  line-height: 24px;
  width: 150px;
}

.icon-sort a {
  color: var(--color-gray-900);
  font-size: 12px;  
}

.icon-sort a:hover {
  color: var(--color-hero);
  display: inline-block;
  transform: scale(1.3);
}

/* ============ Table title =============*/

.thead-title {
  background-color: var(--color-gray-100);
  border-top: 10px solid var(--color-gray-100);
}

.thead-title-sort {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

/* ============ Table rows =============*/

.table-title {
  background-color: var(--color-gray-100);
  height: 40px;
}

.table-input {
  width: 5%;
  background-color: var(--color-gray-100);
  text-align: center;
}
.table-input-hidden {display: none;}
.table-id {
  width: 3%;
  text-align: right;
  color: #000;
  background-color: var(--color-gray-100);
  padding-right: 8px;
}
.table-id-simple {width: 3%; text-align: right; padding-right: 8px;}
.table-avv {width: 10%;}
.table-name {width: 20%;}
.table-street {width: 20%;}
.table-postal {width: 70px;}
.table-city {width: 10%;}
.table-phone {width: 120px;}
.table-email {width: 20%;}
.table-note {width: 20%;}
.table-note p {white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.table-delivery-receipt {width: 10%;}
.table-data {width: 100px; text-align: center;}
.table-weight {width: 10%; text-align: right; padding-right: 8px;}
.table-lid {width: 36px; text-align: right; padding-right: 8px;}
.table-delivery-type {width: 10%;}
.table-material {width: 15%;}
.table-status {width: 10%;}
.table-purpose {width: 10%;}
.table-delivery {width: 20%;}
.table-delivery-unit {width: 10%;}

/* ====== Pagination ====== */

.pagination {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.pagination a, 
.pagination span {
  padding: 5px 10px;
  border: 1px solid var(--color-gray-400);
  border-radius: 3px;
  text-decoration: none;
  color: var(--color-gray-800);
  background-color: #f9f9f9;
  transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
  background-color: var(--color-gray-400);
  color: #000;
}

.pagination .current {
  background-color: var(--color-gray-600);
  border-color: var(--color-gray-600);
  color: white;
}

/* ====== Create Table  ====== */

.tform {
  display: flex;
  gap: 60px;
  justify-content:space-between;
}

.tform-form {
  width: 40%;
  height: min-content;
  margin-top: 30px;
  margin-left: 50px;
  padding: 26px 20px;
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-200);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.tform-list {
  width: 60%;
}

.tform-title {
  font-weight: bold;
  font-size: 1.3em;
  color: var(--color-hero);
  filter: brightness(75%);
  margin-bottom: 24px;
}

.tform-row {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  margin-top: 12px;
}

.tform-row * {
  width: 50%;
  padding: 5px 2px;
}

.tform-header summary {
  padding: 2px;
  cursor: pointer;
  text-align: end;
}

.tform-note {
  padding: 0;
}

.tform-note textarea {
  width: 100%;
  resize: vertical;

}

.tform-counter {
  width: 50px;
}

.tform-row:has(.tform-counter) {
  justify-content: flex-start;
  gap: 8px;
}

.record-btn {
  width: 100%;
  height: 40px;
  margin-top: 40px;
  background-color: var(--color-hero);
  opacity: 0.7;
  font-size: 16px;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

/* ====== Detail ====== */

.entity {
  padding: 24px 24px 34px;
  /* background-color: var(--color-gray-100); */
  border-bottom: 1px solid var(--color-gray-200);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.entity-wrapper {
  display: flex;
  gap: 100px;
}

.entity-column-first,
.entity-column-second {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  width: inherit;
}

.entity-row {
  display: flex;
}

.entity-column-first .entity-value {
  width: 100px;
  font-weight: bold;
}

.entity-column-second .entity-value {
  width: 140px;
  font-weight: bold;
}

/* ============ Tablecard ============= */
.tablecard {
  width: 640px;
  margin: 20px auto;
  padding: 26px 20px;
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-300);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  height: min-content;
}

/* ----- Input & Focus/Active States ----- */
.tablecard input:active, .tablecard input:focus,
.tablecard select:active, .tablecard select:focus,
.tablecard textarea:active, .tablecard textarea:focus {
  outline: 2px solid var(--color-hero);
  outline-offset: -1px;
}

/* ----- Tablecard Topbox ----- */
.tablecard-topbox-row {
  display: flex;
  gap: 16px;
  margin-top: 12px;
}

.tablecard-topbox-row label {
  width: 25%;
  font-size: 13px;
  font-weight: 500;
}

.tablecard-topbox-row input,
.tablecard-topbox-row select,
.tablecard-topbox-row textarea {
  width: 75%;
  padding-left: 6px;
  min-height: 30px;
  border: 1px solid var(--color-gray-400);
}

.tablecard-topbox-row textarea {
  min-height: 60px;
  resize: vertical;
}

.tablecard-topbox-button {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  cursor: pointer;
}

/* ----- Tablecard List ----- */
.tablecard-list-name {
  margin: 20px 0 12px;
  font-weight: 500;
}

.tablecard-list-header th,
.tablecard-list-content td {
  height: 34px;
  border-color: var(--color-gray-400);
}

.tablecard-list-content td {
  padding: 0;
  background-color: #fff;
}

.tablecard-list-content input,
.tablecard-list-content select {
  width: 96%;
  vertical-align: middle;
  border: 1px solid var(--color-gray-300);
  padding: 2px;
  margin: 4px;
}

/* ----- Tablecard List Column Widths ----- */
.tablecard-list-id {
  width: 40px;
  text-align: center;
  vertical-align: middle;
}

.tablecard-list-weight {
  width: 80px;
}

.tablecard-list-delete {
  width: 60px;
  height: 10px;
  text-align: center;
}

.tablecard-list-delete input[type="checkbox"] {
  -webkit-appearance: none; /* Chrome, Safari */
  -moz-appearance: none;    /* Firefox */
  appearance: none;         /* all */
  width: 18px;
  height: 18px;
  border-radius: 3px;
  position: relative;
}

.tablecard-list-delete input[type="checkbox"]:checked {
  background-color: red;
}

.tablecard-list-delete input[type="checkbox"]:checked::before {
  content: '\2715';
  font-size: 8px;
  font-weight: 900;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


/* ----- Input Number - Remove Arrows ----- */
.tablecard-list-weight input[type="number"]::-webkit-outer-spin-button,
.tablecard-list-weight input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tablecard-list-weight input[type='number'],
.tablecard-list-weight input[type="number"]:hover,
.tablecard-list-weight input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.tablecard-list-weight input {
  text-align: right;
  padding-right: 4px;
  width: 90%;
}

/* ----- Add Row Button ----- */
.tablecard-row-add {
  width: 40px;
  height: 20px;
  margin-top: 4px;
  background-color: var(--color-gray-100);
  color: #555;
  border: 1px solid var(--color-gray-600);
  outline: 1px solid #fff;
  outline-offset: -2px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 900;
  font-size: 16px;
  line-height: 100%;
}

.tablecard-row-add:hover {
  background-color: var(--color-gray-200);
}

.tablecard-row-add:active {
  background-color: var(--color-gray-300);
  color: var(--color-hero);
}

/* ----- Buttons ----- */
.tablecard-btn {
  height: 30px;
  display: flex;
  justify-content: flex-end;
}

.tablecard-btn input {
  padding: 0 8px;
  color: var(--color-gray-800);
  font-weight: 500;
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-600);
  box-shadow: 0 1px 3px var(--color-gray-500);
  border-radius: 3px;
  outline: 1px solid #fff;
  outline-offset: -2px;
}

.tablecard-btn input:hover {
  background-color: var(--color-gray-200);
  cursor: pointer;
}

.tablecard-btn input:focus,
.tablecard-list-delete input:focus {
  outline: none;
}

.tablecard-btn input:active {
  box-shadow: none;
}
