:root {
  --background-primary-color: #f3f2f1;
  --background-second-color: #e6e6e6;
}

table {
    border-collapse: collapse;
    border: 1px solid #e8eaec;
}

/* ====== Table header ====== */

.table-header {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #217346;
}

.table-header-user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-white-icon {
  width: 20px;
}

.top-menu {
  padding: 15px 5px;
  display: flex;
  gap: 16px;
  background-color: var(--background-primary-color);
}

.top-menu div {
  min-width: 110px;
  text-align: center;
  display: inline-block;
}

.top-menu a {
  color: #444;
  font-size: 14px;
  padding-bottom: 4px;
  border-bottom: 4px solid transparent; /* Zunächst transparenter Border */
  transition: border-color 0.2s ease-in-out, font-weight 0.2s ease-in-out;
}

.top-menu a:hover {
  font-weight: bold;
  border-bottom-color: #217346;
}

.table-navi {
  height: 100px;
  display: flex;
  background-color: var(--background-primary-color);
  padding: 10px 0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.table-navi > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-width: 110px;
  width: min-content;
  padding: 5px 20px;
  border-right: 1px #cdcdcd solid;
}

.table-navi div:first-child {
  padding-left: 5px;
  min-width: 105px;
}

.table-navi-title {
  width: 100%;
  align-self: flex-end;
  text-align: center;
}

.table-content-title {
  height: 40px;
  background-color: var(--background-second-color);
  width: 100%;
}

.table-content-title th,
.table-content td {
  border: 1px solid #e8eaec;
  padding: 4px 10px;
  line-height: 24px;
}

.table-content-title th div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}























.table-filter {
  height: 44px;
  background-color: #dee2e6;
  border-bottom: 3px solid #fff;
  padding: 4px;
}


  
/* ====== Table Header ====== */
  
th {
  text-align: left;
}

.sort-icons {
  display: flex;
  flex-direction: column;
  /* width: 10px; */
  height: 100%;
}

.sort-icons a {
  text-decoration: none;
  font-size: 10px;
  color: #5b849d;
  line-height: 10px;
  
}

/* ====== Table action buttons ====== */

.table-action {
  display: flex;
  gap: 6px;
  margin-bottom: 1px;
  height: 30px;
}

.table-head {
  display: flex;
  justify-content: space-between;
  height: 26px;
  margin-bottom: 6px;
}

.table-head h2 {
  font-size: 18px;
}
.reset-btn {
  font-weight: bold;
}

.table-head-search form {
  display: flex;
  align-items: center;
}

.table-head-search input {
  height: 24px;
  width: 220px;
  padding: 6px;
  border: 1px solid #bbb;
  border-right: none;
  outline: none;
}

.table-head-search button {
  height: 24px;
  width: 32px;
  background: #d1d1d1;
  color: #333;
  border: 1px solid #bbb;
  border-left: none;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
}

.table-head-search button:hover {
  background: #bfbfbf;
}

.table-head-title {
  font-size: 1.3em;
  color: #344b5e;
  display: flex;
  gap: 10px;
  align-items: flex-end;
}


.table-reset,
.table-search {
  cursor: pointer;
  border: 1px solid #bebbbb;
  background-color: #f0f3f3;
  height: 26px;
  width: 26px;
}

.btn-reset a {
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
}

.table-search {
  font-size: 14px;
}

.table-reset a {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

/* ====== Table Filter ====== */

.table-filter input,
.table-filter select {
  width: 100%;
  box-sizing: border-box;
  height: 26px;
  border: 1px solid #bebbbb;
  padding-left: 8px;
}

.table-filter td {
  padding: 0 4px;
}

.table-filter input:focus {
  outline: 1px solid #9b9b9b;
    outline-offset: -1px;
}

.table-filter select {
  padding-left: 2px;
}

.table-filter select:first-child {
  color: #747474; 
}

/* ====== Table Body ====== */

details > summary::marker {
  display: none;
  content: '';
}




.table-content td {
  vertical-align: super;
}

.table-filter button {
  height: 26px;
  cursor: pointer;
  margin-left: 8px;
  border: 1px solid #bebbbb;
  color: #4d4d4d;
  background-color: #f0f3f3;
}

.btn {
  padding: 0 8px;
}

.btn-activ:hover {
  background-color: #d6d4d4;
  color: #4b4b4b;
  outline: 1px solid #afafaf;
  outline-offset: -1px;
}

/* .table-content tr:nth-child(odd) {
  background-color: #f8f9fa;
}

.table-content tr:hover {
  background-color: #e9ecef;
} */

.note-column p {
  white-space: nowrap;       
  text-overflow: ellipsis;
  overflow: hidden;
  width: 300px;
}

.suppler-icons * {
  text-decoration: none;
  margin-left: 3px;
  vertical-align: middle;
}

.input-btn {
  padding: 3px 6px;
  margin-top: 12px;
}

/* ====== Pagination ====== */

.pagination {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 0.8em;
  margin-top: auto;
}

.pagination a {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
  text-decoration: none;
  color: #333;
  background-color: #f9f9f9;
  transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
  background-color: #ddd;
  color: #000;
}

.pagination .current {
  padding: 7px 11px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #e0e0e0;
  color: #333;
  font-weight: bold;
}

.pagination span {
  padding: 8px 12px;
  color: #888;
}