{% extends 'base.html' %}

{% load custom_filters %}
{% load pagination %}
{% load sorting %}
{% load static %}

{% block title %}{{ _("Lieferungen") }}{% endblock %}

{% block content %}

<!-- <div class="table-action">
    <button class="table-search btn-activ toggle-button">🔍</button>
    <button class="table-reset btn-activ"><a href="{% url 'deliveries_list' %}" class="reset-btn">⟲</a></button>
</div> -->
<div class="table-head">
    <div class="table-head-title">Lieferungen<a href="{% url 'delivery_list' %}"> ⟲</a></div>
    <div class="table-head-search">
      <form method="GET">
        <input type="text" name="search" placeholder="Suchen..." value="{{ search_query }}">
        <button type="submit">🔍</button>
      </form>
    </div>
  </div>
<table class="table-box">

    <thead>
        <tr class="table-content-title">
            <th>{% sort "&#8470;" "id" request.GET.sort %}</th>
            <th>{% sort "Lieferant" "supplier" request.GET.sort %}</th>
            <th>{% sort "Lieferschein" "delivery_receipt" request.GET.sort %}</th>
            <th>{% sort "Gewicht" "total_weight" request.GET.sort %}</th>
            <th>{% sort "Datum" "created_at" request.GET.sort %}</th>
            <th>{% sort "Behälter" "delivery_type" request.GET.sort %}</th>
            <th>{% sort "Material" "material_name" request.GET.sort %}</th>
            <th>{% sort "Gewicht" "weight" request.GET.sort %}</th>
            <th>{% sort "Status" "status" request.GET.sort %}</th>
        </tr>
    </thead>
    <tbody class="table-content">
        {% for delivery in page_obj %}
            {% for unit in delivery.deliveryunits.all %}
                <tr>
                    {% if forloop.first %}
                        <td rowspan="{{ delivery.deliveryunits.all|length }}">{{ delivery.id }}</td>
                        <td rowspan="{{ delivery.deliveryunits.all|length }}">{{ delivery.supplier.name }}</td>
                        <td rowspan="{{ delivery.deliveryunits.all|length }}">{{ delivery.delivery_receipt }}</td>
                        <td rowspan="{{ delivery.deliveryunits.all|length }}">{{ delivery.total_weight }}</td>
                        <td rowspan="{{ delivery.deliveryunits.all|length }}">{{ delivery.created_at|date:"d.m.Y" }}</td>
                    {% endif %}
                    <td>{{ unit|getattr:"get_delivery_type_display" }}</td>
                    <td>{{ unit.material }}</td>
                    <td>{{ unit.weight }} </td>
                    <td>{{ unit|getattr:"get_status_display" }}</td>
                </tr>          
            {% endfor %}
        {% endfor %}
    </tbody>
</table>

{% paginate page_obj %}

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/block_visibility.js' %}"></script>
{% endblock %}

