{% extends 'base.html' %}

{% block title %}Leerungen{% endblock %}

{% block content %}
<div class="table material-list-column" data-type="material-list">
  <div class="table-header">ID</div>
  <div class="table-header">Material Eingang</div>
  <div></div>

  {% for item in page_obj %}
    <div class="table-row js-select-row">
      <div class="table-row__id-gray">{{ item.id }}</div>
      <div>{{ item.name }}</div>
      <button class="btn">
        <img class="material-list-btn" src="{% static 'icons/lock-icon.svg' %}">
      </button>
    </div>
  {% endfor %}
</div>

{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/selectable-row.js' %}"></script>
{% endblock %}

