{% extends 'base.html' %}
{% load static %}

{% block title %}Material{% endblock %}

{% block content %}
<div class="table-border"></div>

  <section class="table" data-type="material">
    <div class="table-header">ID</div>
    <div class="table-header">Material</div>
    <div class="table-header" title="Wareneingang">E</div>
    <div class="table-header" title="Vorsortierung">V</div>
    <div class="table-header" title="Aufbereitung">A</div>
      <div class="table-header" title="Halle 2">H2</div>
    <div class="table-header"></div>

    {% for item in material_list %}
      <div class="table-row">
        <div class="table-cell table-cell-center">{{ item.id }}</div>
        <div class="table-cell">{{ item.name }}</div>

        <div class="table-cell checkbox-circle">
          <input type="checkbox" id="delivery" {% if item.delivery %}checked{% endif %} disabled>
        </div>

        <div class="table-cell checkbox-circle">
          <input type="checkbox" id="unload" {% if item.unload %}checked{% endif %} disabled>
        </div>

        <div class="table-cell checkbox-circle">
          <input type="checkbox" id="recycling" {% if item.recycling %}checked{% endif %} disabled>
        </div>

        <div class="table-cell checkbox-circle">
          <input type="checkbox" name="material-device_check-{{ item.id }}" disabled {% if item.device_check %}checked{% endif %}>
        </div>

        <div class="itemcard-action">
          <a href="{% url 'material_update' item.id %}" class="btn btn-lock">
            <img src="{% static 'icons/lock-icon.svg' %}">
          </a>
        </div>
      </div>
    {% endfor %} 
  </section>
    
  <form method="post">
  {% csrf_token %}
    <section class="table" data-type="material">
      <div class="table-row">
        <div class="table-cell table-cell-center">...</div>
        <div class="table-cell">
          {{ form.name }}
        </div>

        <div class="table-cell checkbox-circle">
          {{ form.delivery }}
        </div>

        <div class="table-cell checkbox-circle">
          {{ form.unload }}
        </div>

        <div class="table-cell checkbox-circle">
          {{ form.recycling }}
        </div>
        
        <div class="table-cell checkbox-circle">
          {{ form.device_check }}
        </div>

        <div class="itemcard-action">
          <div class="btn btn-lock">
            <img src="{% static 'icons/lock-open-icon.svg' %}">
          </div>
            <button type="submit" class="btn btn-main">Speichern</button>
        </div>
      </div>
    </section>
  </form>


{% endblock %}

