{% extends 'base.html' %}
{% load static %}

{% block title %}Material{% endblock %}

{% block content %}

<div class="table-border"></div>
<div class="table" data-type="material-list">
  <div class="table-header">ID</div>
  <div class="table-header">Material</div>
  <div class="table-header" title="Wareneingang">E</div>
  <div class="table-header" title="Vorsortierung">V</div>
  <div class="table-header" title="Aufbereitung">A</div>

  {% for item in material_list %}
    <div class="table-row js-select-row">
      <div class="table-cell table-cell-id">{{ item.id }}</div>
      <div class="table-cell">{{ item.name }}</div>

      <div class="table-cell checkbox-circle">
        <input type="checkbox" name="material-delivery-{{ item.id }}" disabled {% if item.delivery %}checked{% endif %}>
      </div>
      <div class="table-cell checkbox-circle">
        <input type="checkbox" name="material-unload-{{ item.id }}" disabled {% if item.unload %}checked{% endif %}>
      </div>
      <div class="table-cell checkbox-circle">
        <input type="checkbox" name="material-recycling-{{ item.id }}" disabled {% if item.recycling %}checked{% endif %}>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}

