{% extends 'base.html' %}
{% load static %}

{% block title %}Material ändern{% endblock %}

{% block content %}
<form method="post">
  {% csrf_token %}
  {{ formset.management_form }}
  <div class="table-border"></div>

  <section class="table add-row-js" data-type="material">
    <div class="table-header">ID</div>
    <div class="table-header">Material</div>
    <div class="table-header" title="Eingang">E</div>
    <div class="table-header" title="Vorsortierung">V</div>
    <div class="table-header" title="Aufbereitung">A</div>
    <div class="table-header"></div>

    {% for item in material_list %}
      <div class="table-row {% if item.id == edit_material.id %}active-row{% endif %}">

        <div class="table-cell table-cell-id">
          {% if item.id == edit_material.id %}
            <a href="{% url 'material_delete' item.id %}" class="material-delete" title="Löschen">
              <img src="{% static 'icons/delete-icon.svg' %}">
            </a>
          {% else %}
            {{ item.id }}
          {% endif %}
        </div>

        <div class="table-cell">
          {{ item.name }}
        </div>


        <div class="table-cell checkbox-circle">
          {% if item.id == edit_material.id %}
            <input type="checkbox" id="delivery" name="delivery" {% if item.delivery %}checked{% endif %}>
          {% else %}
            <input type="checkbox" id="delivery" {% if item.delivery %}checked{% endif %} disabled>
          {% endif %}
        </div>


        <div class="table-cell checkbox-circle">
          {% if item.id == edit_material.id %}
            <input type="checkbox" id="unload" name="unload" {% if item.unload %}checked{% endif %}>
          {% else %}
            <input type="checkbox" id="unload" {% if item.unload %}checked{% endif %} disabled>
          {% endif %}
        </div>


        <div class="table-cell checkbox-circle">
          {% if item.id == edit_material.id %}
            <input type="checkbox" id="recycling" name="recycling" {% if item.recycling %}checked{% endif %}>
          {% else %}
            <input type="checkbox" id="recycling" {% if item.recycling %}checked{% endif %} disabled>
          {% endif %}
        </div>

        <div class="itemcard-action">
          {{ item_form.id }}
          {% if item.id == edit_material.id %}
            <a href="{% url 'material_create' %}" class="btn btn-lock">
              <img src="{% static 'icons/lock-open-icon.svg' %}">
            </a>
            <button type="submit" class="btn btn-main">Speichern</button>
          {% else %}
            <a href="{% url 'material_update' item.id %}" class="btn btn-lock">
              <img src="{% static 'icons/lock-icon.svg' %}">
            </a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </section>
</form>

<a href="{% url 'material_create' %}" class="table" data-type="material">
  <div class="table-row">

    <div class="table-cell table-cell-id">...</div>
    <div class="table-cell">...</div>

    <div class="table-cell checkbox-circle">
      <input type="checkbox" id="material-delivery" disabled>
    </div>
    <div class="table-cell checkbox-circle">
      <input type="checkbox" id="material-unload" disabled>
    </div>
    <div class="table-cell checkbox-circle">
      <input type="checkbox" id="material-recycling" disabled>
    </div>

    <div class="itemcard-action">
      <div class="btn btn-lock">
        <img src="{% static 'icons/lock-icon.svg' %}">
      </div>
    </div>
  </div>
</a>
{% endblock %}
