{% extends 'base.html' %}
{% load static %}

{% block title %}Material ändern{% endblock %}

{% block content %}
<form method="post">
  {% csrf_token %}

  <div class="table-border"></div>
  <div class="table material-list" data-type="material-list">
    <div class="table-header">ID</div>
    <div class="table-header">Material</div>
    <div class="table-header" title="Eingang">E</div>
    <div class="table-header" title="Umladung">U</div>
    <div class="table-header" title="Aufbereitung">A</div>
    <div class="table-header"></div>

    {% for item in material_list %}
      <div class="table-row js-select-row">
        <div class="table-row__id-gray">
          {% if item.id == edit_material.id %}
            <div class="material-delete">
              <img src="{% static 'icons/delete-icon.svg' %}">
            </div>
          {% else %}
            <div>{{ item.id }}</div>
          {% endif %}
        </div>

        <div>
          {% if item.id == edit_material.id %}
            <input type="text" name="name" value="{{ item.name }}">
          {% else %}
            {{ item.name }}
          {% endif %}
        </div>

        <div class="material-input">
          <input type="radio" name="material-delivery" name="material-delivery">
        </div>

        <div class="material-input">
          <input type="radio" name="material-unload">
        </div>

        <div class="material-input">
          <input type="radio" name="material-recycling">
        </div>

        <div class="material-action">
          {% if item.id == edit_material.id %}
            <a href="{% url 'material_list' %}" class="material-btn btn material-update-lock"></a>
            <button type="submit" class="material-btn btn">Speichern</button>
          {% else %}
            <a href="{% url 'material_update' item.id %}" class="material-btn btn material-list-lock"></a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</form>
{% endblock %}
