{% extends 'base.html' %}
{% load static %}

{% block title %}Material löschen{% endblock %}

{% block content %}

<div class="itemcard-small">
  <form method="post">
    {% csrf_token %}

    <h2>Material löschen</h2>
    
    <div class="delete-card">
      <p>Sind Sie sicher, dass der Material <strong>"{{ material.name }}"</strong> gelöscht wird?</p>
    </div>

    <div class="button-wrapper">
        <button  type="submit" name="save" class="btn">Löschen</button>
        <a href="{% url 'material_create' %}" class="btn">Abbrechen</a>
    </div>
  </form>
</div>

{% endblock %}
