{% comment %} <details>
    <summary>+ Lieferant wählen</summary>
    <table style="position: absolute; right: 0; background-color: #fff;">
        {% for customer in customers %}
        <tr>
          <td>
            <input class="inputField" type="radio" name="customer" value="{{ customer.id }}" data-customer="{{ customer }}"></td>
          <td>{{ customer.id }}</td>
          <td>{{ customer.avv_number }}</td>
          <td>{{ customer.name }}</td>
          <td>{{ customer.street }}</td>
          <td>{{ customer.postal_code }}</td>
          <td>{{ customer.city }}</td>
        </tr>
        {% endfor %}
    </table>
  </details> {% endcomment %}