<details class="header-details">
    <summary class="header-menu-icon">
        <div>Aktives Gewicht:</div>  
        <span id="header-weight-total" data-weight="{{ active_weight_total }}">
            {{ active_weight_total|floatformat:2 }} kg
        </span>
    </summary>

    <div class="header-details-disclosure">
        <table>
            <thead class="itemcard-thead">
                <tr>
                    <th>Bereich</th>
                    <th>Aktiv</th>
                    <th>B. für Behandlung</th>
                    <th>B. für Abholung</th>
                    <th>B. für Halle 2</th>
                    <th>Gesamt</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="active-weight-category">Vorsortierung</td>
                    <td>{{ unload_aktiv|floatformat:2 }}</td>
                    <td>{{ unload_bereit_fuer_behandlung|floatformat:2 }}</td>
                    <td>{{ unload_bereit_fuer_abholung|floatformat:2 }}</td>
                    <td>{{ unload_bereit_fuer_halle_2|floatformat:2 }}</td>
                    <td>{{ unload_total|floatformat:2 }}</td>
                </tr>
                <tr>
                    <td class="active-weight-category">Zerlegung</td>
                    <td>{{ recycling_aktiv|floatformat:2 }}</td>
                    <td>{{ recycling_bereit_fuer_behandlung|floatformat:2 }}</td>
                    <td>{{ recycling_bereit_fuer_abholung|floatformat:2 }}</td>
                    <td>{{ recycling_bereit_fuer_halle_2|floatformat:2 }}</td>
                    <td>{{ recycling_total|floatformat:2 }}</td>
                </tr>
                <tr>
                    <td class="active-weight-category">Halle 2</td>
                    <td>{{ devicecheck_aktiv|floatformat:2 }}</td>
                    <td>{{ devicecheck_bereit_fuer_behandlung|floatformat:2 }}</td>
                    <td>{{ devicecheck_bereit_fuer_abholung|floatformat:2 }}</td>
                    <td>{{ devicecheck_bereit_fuer_halle_2|floatformat:2 }}</td>
                    <td>{{ devicecheck_total|floatformat:2 }}</td>
                </tr>
                <tr class="active-weight-summe">
                    <td colspan="5"></td>
                    <td><b>{{ active_weight_total|floatformat:2 }} kg</b></td>
                </tr>
            </tbody>
        </table>
    </div>
</details>
