{% load static %}

<details class="header-details">
  <summary class="header-menu-icon header-user" aria-label="Erläuterung öffnen">
    <img src="{% static 'icons/question-icon.svg' %}">
  </summary>

  <div class="header-details-disclosure header-details-declaration">
    {% if selected_menu == "delivery_list" %}
      <h3>Lieferung Liste</h3>
      <p>Hier legen Sie neue Vorsortierungs-Behälter an und ordnen Material zu.</p>

    {% elif selected_menu == "delivery_create" %}
      <h3>Lieferung Formular</h3>
      <p>Hier legen Sie neue Vorsortierungs-Behälter an und ordnen Material zu.</p>

      <h4></h4>

    {% elif selected_menu == "unload_create" %}
      <h3>Vorsortierung erfassen</h3>
      <p>Hier legen Sie neue Vorsortierungs-Behälter an und ordnen Material zu.</p>

    {% elif selected_menu == "recycling_create" %}
      <h3>Aufbereitung erfassen</h3>
      <p>Aktive Fraktionen bearbeiten oder neue Posten hinzufügen.</p>

    {% else %}
      <h3>Erläuterung</h3>
      <p>Für diese Seite ist noch keine spezifische Beschreibung hinterlegt.</p>
    {% endif %}
  </div>
</details>


<style>
  .header-details-declaration {
    right: 0; left: auto; width: 400px;
  }
</style>
