{% load static %}

<div class="top-icons-wrapper no-print">
  
  <div class="top-icon top-icon-border">
    <div>
      <a href="{% url 'delivery_list' %}" class="{% if selected_menu == 'delivery_list' %} selected {% endif %}">Eingang</a>
      <a href="{% url 'delivery_create' %}" class="tooltip-wrapper">
        <img src="{% static 'icons/container-icon.svg' %}">
        <span class="tooltip-text">Lieferung erstellen</span>
      </a>
    </div>
    
    <div>
      <a href="{% url 'unload_list' %}" class="{% if selected_menu == 'unload_list' %} selected {% endif %}">Sortierung</a>
      <a href="{% url 'unload_create' %}" class="tooltip-wrapper">
        <img src="{% static 'icons/forklift-icon.svg' %}">
        <span class="tooltip-text">Leerung erstellen</span>
      </a>
    </div>
    
    <div>
      <a href="{% url 'recycling_list' %}" class="{% if selected_menu == 'recycling_list' %} selected {% endif %}">Aufbereitung</a>
      <a href="{% url 'recycling_create' %}" class="tooltip-wrapper">
        <img src="{% static 'icons/recycle-icon.svg' %}">
        <span class="tooltip-text">Aufbereitung erstellen</span>
      </a>
    </div>
    
    <div>
      <a href="{% url 'shipping_units_list' %}" class="{% if selected_menu == 'shipping_units_list' %} selected {% endif %}">Versand</a>
      <a href="{% url 'shipping_create' %}" class="tooltip-wrapper">
        <img src="{% static 'icons/shipping-icon.svg' %}">
        <span class="tooltip-text">Versand erstellen</span>
      </a>
    </div>
  </div>

  <div class="top-icon top-icon-border">
    <div>
      <a href="{% url 'supplier_list' %}" class="{% if selected_menu == 'supplier_list' %} selected {% endif %}">Kunden</a>
      <a href="{% url 'supplier_create' %}" class="tooltip-wrapper">
        <img src="{% static 'icons/supplier-icon.svg' %}">
        <span class="tooltip-text">Kunde Erstellen</span>
      </a>
    </div>
    <div>
      <a href="{% url 'customer_list' %}" class="{% if selected_menu == 'customer_list' %} selected {% endif %}">Abholer</a>
      <a href="{% url 'customer_create' %}" class="tooltip-wrapper">
        <img src="{% static 'icons/customer-icon.svg' %}">
        <span class="tooltip-text">Abholer erstellen</span>
      </a>
    </div>
    <div>
      <a href="{% url 'reusable_barcode_list' %}">Barcode</a>
      <a href="{% url 'reusable_barcode_create' %}" class="tooltip-wrapper">
        <img src="{% static 'icons/barcode-icon.svg' %}">
        <span class="tooltip-text">Barcode Erstellen</span>
      </a>
    </div>
  </div>

  <!-- Material/Statistik -->
  <div class="top-icon top-icon-border">
    <div>
      <a href="{% url 'material_list' %}" class="tooltip-wrapper">
        <img src="{% static 'icons/material-icon.svg' %}">
        <span class="tooltip-text">Material</span>
      </a>
    </div>
    <div>
      <a href="#" class="tooltip-wrapper">
        <img src="{% static 'icons/statistic-icon.svg' %}">
        <span class="tooltip-text">Statistik</span>
      </a>
    </div>
  </div>

  <!-- Suche/Sortierung -->
  <div class="top-icon">
      <details class="top-icon-detail">
        <summary class="tooltip-wrapper">
          <img src="{% static 'icons/search-icon.svg' %}">
          <span class="tooltip-text">Suche</span>
        </summary>
        <div>
          <form method="GET" class="icon-search">
            <input class="icon-search-input" type="text" name="search" placeholder="Suchen..." value="{{ filters.search }}">

            <!-- Datum -->
            <div class="flex-items-between">
              <input type="date" name="date_start" value="{{ filters.date_start }}">
              <input type="date" name="date_end" value="{{ filters.date_end }}">
            </div>

            <!-- Aktiv / Erledigt -->
            <div class="flex-items-between">
              <div>Status</div>
              <select name="status_filter">
                <option value="">Alle</option>
                <option value="aktiv" {% if filters.status_filter == "aktiv" %}selected{% endif %}>Aktiv</option>
                <option value="erledigt" {% if filters.status_filter == "erledigt" %}selected{% endif %}>Erledigt</option>
              </select>
            </div>

            <button type="submit" class="btn">Suchen</button>
          </form>
        </div>
      </details>
    
    <!-- Sortieren -->
    <details class="top-icon-detail">
      <summary class="tooltip-wrapper">
        <img src="{% static 'icons/sort-icon.svg' %}">
        <span class="tooltip-text">Sortieren</span>
      </summary>
      <div>
        {% for field, label in active_fields %}
        <div class="icon-sort">
          <span>{{ label }}</span>
          <div>
            <a href="?sort={{ field }}_asc"
            class="{% if sort_param == field|add:'_asc' %}icon-active{% endif %}">▼</a>
            <a href="?sort={{ field }}_desc"
            class="{% if sort_param == field|add:'_desc' %}icon-active{% endif %}">▲</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </details>
    
    <!-- Reset -->
    <a href="#" class="tooltip-wrapper top-icon-js">
      <span class="tooltip-text">Reset</span>
      <img src="{% static 'icons/reset-icon.svg' %}">
    </a>  
  </div>


     <!-- tägliches Wiegen -->
  <div class="top-icon daily-weighing">
    <a href="#" class="tooltip-wrapper">
      <img src="{% static 'icons/date-and-time-icon.svg' %}">
      <span class="tooltip-text">Tagliches Wiegen</span>
    </a>
  </div>
</div>

