{% load static %}

<div class="navi-icons">
    <div>
        <div class="navi-icon">
            {% include 'components/left_navi.html' %}
            <img src="/static/icons/download-icon.svg">
            <img src="/static/icons/print-icon.svg">

        </div>
        <p class="icons-title">Action</p>
    </div>

    <div>
        <div class="navi-icon">
            <a href="#" id="detail-link" title="Detail">
                <img src="{% static 'icons/info-icon.svg' %}">
            </a>
            <a href="#" id="edit-link" title="Bearbeiten">
                <img src="{% static 'icons/edit-icon.svg' %}">
            </a>
        </div>
        <p class="icons-title">Zeile</p>
    </div>

    <div>
        <div class="navi-icon">
            <div class="navi-icon-js">
                <div class="toggle-button">
                    <img src="{% static 'icons/search-icon.svg' %}">
                </div>
                <div class="icon-detail hidden-block" hidden>
                    <form class="icon-search" method="GET">
                        <input class="icon-search-input" type="text" name="search" placeholder="Suchen..." value="{{ search_query }}">
                        <button class="icon-search-button" type="submit">🔍</button>
                    </form>
                
                    <form class="icon-search-date" method="GET">
                        <input type="date" id="dateStart">
                        <input type="date" id="dateEnd">
                    </form>
                </div>
            </div>
            
            <div class="navi-icon-js">
                <div class="toggle-button">
                    <img src="{% static 'icons/sort-icon.svg' %}">
                </div>
                <div class="icon-detail hidden-block" hidden>
                    <div>
                        {% for field, label in active_fields %}
                        <div class="icon-sort">
                            <span>{{ label }}</span>
                            <div>
                                <a href="?sort={{ field }}_asc">&#9650;</a>
                                <a href="?sort={{ field }}_desc">&#9660;</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="navi-icon-js">
                <!-- % url request.resolver_match.url_name % -->
                <a href="#" title="Reset">
                    <img src="{% static 'icons/reset-icon.svg' %}">
                </a>

            </div>
        </div>
        <p class="icons-title">Suchen</p>
    </div>

    <div>
        <div class="navi-icon">
            <a href="#">
                <img src="{% static 'icons/statistic-icon.svg' %}">   
            </a>
            <a href="#">
                <img src="{% static 'icons/diagram-icon.svg' %}">   
            </a>
        </div>
        <p class="icons-title">Statistik</p>
    </div>

    <div>
        <div class="navi-icon">
            <a href="{% url 'supplier_create' %}" title="Lieferant">
                <img src="{% static 'icons/supplier-icon.svg' %}">   
            </a>
            <a href="{% url 'delivery_create' %}" title="Lieferung">
                <img src="{% static 'icons/container-icon.svg' %}">   
            </a>
            <a href="{% url 'unload_create' %}" title="Leerung">
                <img src="{% static 'icons/forklift-icon.svg' %}">   
            </a>
            <a href="#" title="Recycling">
                <img src="{% static 'icons/conveyor-icon.svg' %}">   
            </a>
            <a href="#" title="Versand">
                <img src="{% static 'icons/shipping-icon.svg' %}">   
            </a>
        </div>
        <p class="icons-title">Erstellen</p>
    </div>
</div>