{% extends 'base.html' %}
{% load static %}

{% block title %}Vorsortierung erfassen{% endblock %}

{% block content %}
<form method="post" action="" id="unload-form">
  {% csrf_token %}

  <div class="itemcard">
    <div class="itemcard-title">
      <h2>Halle 2</h2>
    </div>

    {# ====== Wagen wählen ====== #}
    <section class="itemcard-topbox">
      <div class="itemcard-topbox-row" style="justify-content: flex-start;">
        <span>Wagen:</span>


        <select>
          {% for item in recycling_list %}
            <option>{{ item }}</option>
          {% endfor %}
        </select>
      </div>
    </section>

    {# ====== Gewählte Wagen ====== #}
    <section class="itemcard-topbox">
      <div class="itemcard-table-title">Gewählte Wagen:</div>

      <table class="itemcard-table">
        <thead class="itemcard-thead">
          <tr>
            <th class="itemcard-id">ID</th>
            <th class="itemcard-material">Material</th>
            <th class="itemcard-boxtype">Behälter</th>
            <th class="itemcard-status">Status</th>
            <th class="itemcard-weight">Gewicht</th>
            <th class="itemcard-weight">Herkunft</th>
            <th class="itemcard-note">Anmerkung</th>

          </tr>
        </thead>

        <tbody class="itemcard-tbody">
          <tr class="itemcard-table-row">
            <td class="itemcard-id"></td>
            <td class="itemcard-material"></td>
            <td class="itemcard-boxtype"></td>
            <td class="itemcard-status"></td>
            <td class="itemcard-weight"></td>
            <td class="itemcard-weight"></td>
            <td class="itemcard-note"></td>
          </tr>
        </tbody>
      </table>
    </section>


    {# ====== Geprüfte Materialien ====== #}
    <section class="itemcard-topbox">
      <div class="itemcard-table-title">Geprüftes Material:</div>

      <table class="itemcard-table">
        <thead class="itemcard-thead">
          <tr>
            <th class="itemcard-id">№</th>
            <th class="itemcard-material">Material</th>
            <th class="itemcard-boxtype">Behälter</th>
            <th class="itemcard-status">Status</th>
            <th class="itemcard-weight">Gewicht</th>
            <th class="itemcard-weight">Zweck</th>
            <th class="itemcard-note">Anmerkung</th>

          </tr>
        </thead>

        <tbody class="itemcard-tbody">
          <tr class="itemcard-table-row">
            <td class="itemcard-id">{{ counter }}</td>
            <td class="itemcard-material"></td>
            <td class="itemcard-boxtype"></td>
            <td class="itemcard-status"></td>
            <td class="itemcard-weight"></td>
            <td class="itemcard-weight"></td>
            <td class="itemcard-note"></td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</form>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/close-open.js' %}"></script>
<script src="{% static 'js/weight.js' %}"></script>
{% endblock %}


