{% extends 'base.html' %}
{% load static %}

{% block title %}Device-Check{% endblock %}

{% block content %}
<div class="itemcard">
  <div class="itemcard-title">
    <h2>Halle 2: Geräteprüfung</h2>
  </div>


  <!-- ==== Bereit für Halle 2 === -->
  <section name="unload" class="itemcard-topbox">
    <div class="itemcard-table-title">Bereit für Halle 2</div>
    <table class="itemcard-table">
      <thead class="itemcard-thead">
        <tr>
          <th class="itemcard-id">№</th>
          <th class="itemcard-material">Material</th>
          <th class="itemcard-boxtype">Behälter</th>
          <th class="itemcard-status">Status</th>
          <th class="itemcard-origin">Herkunft</th>
          <th class="itemcard-note">Anmerkung</th>
          <th class="itemcard-weight">Gewicht</th>
          <th class="itemcard-action"></th>
        </tr>
      </thead>
      
      <!-- Vorsortierung (unload) -->
      <tbody class="itemcard-tbody">
        {% for unload in unload_list %}
          <tr class="itemcard-table-row">
            <input type="hidden" name="recycling_id_{{ unload.id }}" value="{{ unload.id }}">

            <td class="itemcard-id">
              {{ forloop.counter }}
            </td>

            <td class="itemcard-material">
              <p>{{ unload.material }}</p>
            </td>

            <td class="itemcard-boxtype">
              <p>{{ unload.get_box_type_display }}</p>
            </td>

            <td class="itemcard-status">
              <p>{{ unload.get_status_display }}</p>
            </td>

            <td class="itemcard-status">
              <p>Vorsortierung</p>
            </td>

            <td class="itemcard-note">
              <p>{{ unload.note }}</p>
            </td>

            <td class="itemcard-weight">
              <p>{{ unload.weight }}</p>
            </td>

            <td class="itemcard-action-wrapper">
              <div class="itemcard-action">
                <button type="button" class="btn btn-lock">
                  <img class="icon-lock-closed" src="/static/icons/lock-icon.svg">
                </button>
              </div>
            </td>
          </tr>
        {% endfor %}


        <!-- Aufbereitung (recycling) -->
        {% for recycling in recycling_list %}
          <tr class="itemcard-table-row">
            <input type="hidden" name="recycling_id_{{ recycling.id }}" value="{{ recycling.id }}">

            <td class="itemcard-id">
              {{ forloop.counter }}
            </td>

            <td class="itemcard-material">
              <p>{{ recycling.material }}</p>
            </td>

            <td class="itemcard-boxtype">
              <p>{{ recycling.get_box_type_display }}</p>
            </td>

            <td class="itemcard-status">
              <p>{{ recycling.get_status_display }}</p>
            </td>

            <td class="itemcard-status">
              <p>Aufbereitung</p>
            </td>

            <td class="itemcard-note">
              <p>{{ recycling.note }}</p>
            </td>

            <td class="itemcard-weight">
              <p>{{ recycling.weight }}</p>
            </td>

            <td class="itemcard-action-wrapper">
              <div class="itemcard-action">
                <button type="button" class="btn btn-lock">
                  <img class="icon-lock-closed" src="/static/icons/lock-icon.svg">
                </button>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>


  <!-- ==== Active Wagen in Halle === -->
  <section name="unload" class="itemcard-topbox">
    <div class="itemcard-table-title">Active Wagen in Halle 2</div>
    <table class="itemcard-table">
      <thead class="itemcard-thead">
        <tr>
          <th class="itemcard-id">№</th>
          <th class="itemcard-material">Material</th>
          <th class="itemcard-boxtype">Behälter</th>
          <th class="itemcard-status">Status</th>
          <th class="itemcard-origin">Herkunft</th>
          <th class="itemcard-note">Anmerkung</th>
          <th class="itemcard-weight">Gewicht</th>
          <th class="itemcard-action"></th>
        </tr>
      </thead>
      
      <!-- Vorsortierung (unload) -->
      <tbody class="itemcard-tbody">
        {% for unload in unload_list %}
          <tr class="itemcard-table-row">
            <input type="hidden" name="recycling_id_{{ unload.id }}" value="{{ unload.id }}">

            <td class="itemcard-id">
              {{ forloop.counter }}
            </td>

            <td class="itemcard-material">
              <p>{{ unload.material }}</p>
            </td>

            <td class="itemcard-boxtype">
              <p>{{ unload.get_box_type_display }}</p>
            </td>

            <td class="itemcard-status">
              <p>{{ unload.get_status_display }}</p>
            </td>

            <td class="itemcard-status">
              <p>Vorsortierung</p>
            </td>

            <td class="itemcard-note">
              <p>{{ unload.note }}</p>
            </td>

            <td class="itemcard-weight">
              <p>{{ unload.weight }}</p>
            </td>

            <td class="itemcard-action-wrapper">
              <div class="itemcard-action">
                <button type="button" class="btn btn-lock">
                  <img class="icon-lock-closed" src="/static/icons/lock-icon.svg">
                </button>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>
{% endblock %}
