{% extends 'base.html' %}

{% block title %}Lieferant: update{% endblock %}

{% block content %}


<div class="tform-form">
    <form method="post">
        {% csrf_token %}
        <div class="tform-title">Lieferant update: {{ supplier.name }}</div>
        <div>
            <div>
                {% for field in form %}
                <div class="tform-row">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }} <!--input -->
                    {% if field.errors %}
                    <div class="tform-note">
                        {{ field.errors|striptags }}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <button type="submit" class="record-btn">Speichern</button>
        </div>
    </form>
</div>

{% endblock %}
