{% extends 'base.html' %}

{% load static %}
{% load custom_filters %}
{% load pagination %}

{% block title %}Lieferant: Detail{% endblock %}

{% block content %}
<section>
    <h2 class="info-table-title">Liederant: Details</h2>
    <table class="info-table">
        <tbody>
            <tr>
                <td>Lieferant:</td>
                <td>{{ supplier.name }}</td>
            </tr>
            <tr>
                <td>Adresse:</td>
                <td>{{ supplier.street }},&nbsp;{{ supplier.postal_code }} {{ supplier.city }}</td>
            </tr>
            <tr>
                <td>Telefon:</td>
                <td>{{ supplier.phone }}</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>Email:</td>
                <td>{{ supplier.email }}</td>
            </tr>
            <tr>
                <td>AVV-Nummer:</td>
                <td>{{ supplier.avv_number }}</td>
            </tr>
            <tr>
                <td>Erstellt am:</td>
                <td>{{ supplier.created_at|date:'d.m.Y' }}</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>Geliefert gesamt:</td>
                <td>50.000kg</td>
            </tr>
            <tr>
                <td>Anmerkung:</td>
                <td class="info-table-note">{{ supplier.note }}</td>
            </tr>
        </tbody>
    </table>
</section>
<section>
    <div class="grid-table" data-type="supplier-detail-deliveryunits">
        <div class="grid-header">ID</div>
        <div class="grid-header">Lieferschein</div>
        <div class="grid-header">Datum</div>
        <div class="grid-header">Anmerkung</div>
        <div class="grid-header">Unit-ID</div>
        <div class="grid-header">Behälter</div>
        <div class="grid-header">Material</div>
        <div class="grid-header">Gewicht</div>
        <div class="grid-header">Status</div>
    
        <!-- Данные -->
        {% for unit in deliveryunits %}
            <div class="grid-row js-select-row"
            data-id="{{ unit.delivery.id }}"
            data-url-detail="{% url 'delivery_detail' pk=unit.delivery.id %}"
            data-url-update="{% url 'delivery_update' pk=unit.delivery.id %}">
    
            <div>{{ forloop.counter }}</div>
            <div>{{ unit.delivery.delivery_receipt }}</div>
            <div>{{ unit.delivery.created_at|date:"d.m.Y" }}</div>
            <div title="{{ unit.delivery.note }}">{{ unit.delivery.note }}</div>
            <div>{{ unit.id }}</div>
            <div>{{ unit.get_delivery_type_display }}</div>
            <div>{{ unit.material.name }}</div>
            <div>{{ unit.weight }}</div>
            <div>{{ unit.get_status_display }}</div>
            </div>
        {% endfor %}
    </div>
  </section>
  

{% paginate page_obj %}

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/selectable-row.js' %}"></script>
    <script src="{% static 'js/block-visibility.js' %}"></script>
    <script src="{% static 'js/current-date.js' %}"></script>
{% endblock %}