{% extends 'base.html' %}

{% block title %}Create Supplier{% endblock %}

{% block content %}

<div class="tform-form">
    <form method="post">
        {% csrf_token %}
        <div class="tform-title">Lieferant: create</div>
            <div>
                {% for field in form %}
                <div class="tform-row">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }} <!--Input -->
                    {% if field.errors %}
                    <div class="tform-note">
                        {{ field.errors|striptags }}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        <button type="submit" class="record-btn">Save</button>
    </form>
</div>

{% endblock %}
