{% extends 'base.html' %}

{% load pagination %}
{% load sorting %}
{% load static %}

{% block title %}Eingang{% endblock %}


{% block content %}

<div class="table-header">
    <div>ANDERWERK <span style="color: red; font-weight: bold; width: 100px;">❯</span></div>
    <div class="table-header-user">
        <div>Max Musterman</div>
        <img class="user-white-icon" src="/static/icons/user-white-icon.svg">
    </div>
</div>

<div class="top-menu">
    <div><a href="{% url 'delivery_units_list' %}">Lieferungen</a></div>
    <div><a href="{% url 'suppliers_list' %}">Lieferanten</a></div>
    <div><a href="{% url 'unloads_list' %}">Fraktionen</a></div>
</div>

<div class="table-navi">
    <div class="border-right">
        <div class="table-navi-icons">
            {% include 'components/left_navi.html' %}
            <img class="user-white-icon" src="/static/icons/copy-icon.svg">
        </div>
        <p class="table-navi-title">Allgemein</p>
    </div>

    <div class="border-right">
        <div class="table-navi-icons">
            <a href="#" title="Detail">
                <img src="{% static 'icons/detail-icon.svg' %}">   
            </a>
            <a href="#" title="Bearbeiten"> 
                <img src="{% static 'icons/edit-icon.svg' %}">
            </a>
        </div>
        <p class="table-navi-title">Zeile</p>
    </div>

    <div class="border-right">
        <div class="table-navi-icons">
            <a href="#" title="suchen">
                <img src="{% static 'icons/search-icon.svg' %}">   
            </a>
            <a href="#" title="sortieren"> 
                <img src="{% static 'icons/sort-icon.svg' %}">
            </a>
        </div>
                    <p class="table-navi-title">Action</p>
    </div>

    <div class="border-right">
        <div class="table-navi-icons">
            <a href="#" title="suchen">
                <img src="{% static 'icons/statistic-icon.svg' %}">   
            </a>
            <a href="#" title="suchen">
                <img src="{% static 'icons/diagram-icon.svg' %}">   
            </a>
        </div>
        <p class="table-navi-title">Statistik</p>
    </div>

    <div class="border-right">
        <div class="table-navi-icons">
            <a href="{% url 'supplier_create' %}" title="suchen">
                <img src="{% static 'icons/supplier-icon.svg' %}">   
            </a>
            <a href="{% url 'delivery_create' %}" title="suchen">
                <img src="{% static 'icons/delivery-icon.svg' %}">   
            </a>
            <a href="{% url 'unload_create' %}" title="suchen">
                <img src="{% static 'icons/warehouse-icon.svg' %}">   
            </a>
            <a href="#" title="suchen">
                <img src="{% static 'icons/conveyor-icon.svg' %}">   
            </a>
            <a href="#" title="suchen">
                <img src="{% static 'icons/loading-icon.svg' %}">   
            </a>
        </div>
        <p class="table-navi-title">Erstellen</p>
    </div>
</div>







<!-- <div>
    <div class="table-head-title">
        <div>
            {% include 'components/left_navi.html' %}
        </div>
        
        <h2>Lieferanten</h2>
        <a class="reset-btn" href="{% url 'suppliers_list' %}"> ⟲</a>
    </div>
    <div class="table-head-search">
      <form method="GET">
        <input type="text" name="search" placeholder="Suchen..." value="{{ search_query }}">
        <button type="submit">🔍</button>
      </form>
    </div>
</div> -->
<table class="table-box">
    <colgroup>
        <col style="width: 3.5%">   <!-- Nr. -->
        <col style="width: 6%">     <!-- AVV -->
        <col style="width: 20%;">   <!-- Name -->
        <col style="width: 10%">    <!-- Strasse -->
        <col style="width: 5%;">    <!-- PLZ -->
        <col style="width: 10%;">   <!-- Stadt -->
        <col style="width: 10%;">    <!-- Telefon -->
        <col style="width: 10%;">   <!-- Email -->
        <col style="width: 20%;">   <!-- Bemerkung -->
        <col style="width: 10%; ">  <!-- actions -->
    </colgroup>
    <thead>
        <tr class="table-content-title">
            <th>{% sort "&#8470;" "id" request.GET.sort %}</th>
            <th>{% sort "AVV" "avv_number" request.GET.sort %}</th>
            <th>{% sort "Name" "name" request.GET.sort %}</th>
            <th>{% sort "Adresse" "street" request.GET.sort %}</th>
            <th>{% sort "PLZ" "postal_code" request.GET.sort %}</th>
            <th>{% sort "Stadt" "city" request.GET.sort %}</th>
            <th>{% sort "Telefon" "phone" request.GET.sort %}</th>
            <th>{% sort "Email" "email" request.GET.sort %}</th>
            <th>Bemerkung</th>
            <th></th> <!-- actions -->
        </tr>
    </thead>
    <tbody class="table-content">
        {% for supplier in page_obj %}
        <tr>
            <td>{{ supplier.id }}</td>
            <td>{{ supplier.avv_number }}</td>
            <td>{{ supplier.name }}</td>
            <td>{{ supplier.street }}</td>
            <td>{{ supplier.postal_code }}</td>
            <td>{{ supplier.city }}</td>
            <td>{{ supplier.phone }}</td>
            <td>{{ supplier.email }}</td>
            <td class="note-column" title="{{ supplier.note }}"><p>{{ supplier.note }}</p></td>
            <td class="suppler-icons">
                <a href="{% url 'supplier_detail' pk=supplier.id %}" title="Detail">
                    <img src="{% static 'icons/detail-icon-alt.svg' %}">   
                </a>
                <a href="{% url 'supplier_update' pk=supplier.id %}" title="Bearbeiten"> 
                    <img src="{% static 'icons/update-icon-alt.svg' %}">
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% paginate page_obj %}

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/block_visibility.js' %}"></script>
{% endblock %}