{% extends 'base.html' %}

{% block title %}Update Supplier{% endblock %}

{% block content %}


<div class="title">Lieferant: update</div>

<div class="form-wrapper">


    <form method="post">
        {% csrf_token %}

        <div class="form-supplier">
            <div class="title">Lieferant: {{ supplier.name }}</div>
            <div>
                {% for field in form %}
                <div class="flex form-row-supplier">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }} <!--input -->
                    {% if field.errors %}
                    <div class="text-danger">
                        {{ field.errors|striptags }}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            
            <button type="submit" class="record-btn">Speichern</button>
        </div>
    </form>
</div>

{% endblock %}
