{% extends 'base.html' %}

{% load static %}
{% load sorting %}

{% block title %}Lieferung-Einheiten{% endblock %}

{% block content %}
<section class="entity">
    <div class="tform-title">Lieferant: {{ supplier.name }}</div>
    <div class="entity-wrapper">
        <div>
            <!-- <div class="entity-row"><span>Lieferant:</span> {{ supplier.name }}</div> -->
            <div class="entity-row"><span>Strasse:</span> {{ supplier.street }}</div>
            <div class="entity-row"><span>Stadt:</span> {{ supplier.postal_code }} {{ supplier.city }}</div>
            <div class="entity-row"><span>Telefon:</span> {{ supplier.phone }}</div>
            <div class="entity-row"><span>Email:</span> {{ supplier.email }}</div>
        </div>
        <div>
            <div class="entity-row"><span>AVV-Nummer:</span> {{ supplier.avv_number }}</div>
            <div class="entity-row"><span>Anmerkung:</span> {{ supplier.note }}</div>
            <div class="entity-row"><span>Erstellt am:</span> {{ supplier.created_at|date:"d.m.Y" }}</div>
        </div>
    </div>
</section>


<table class="selectable-table">
    <thead>
        <tr class="thead-title">
            <th class="tbody-id">ID</th>
            <th class="tbody-delivery-receipt">Lieferschein</th>
            <th class="tbody-data">Datum</th>
            <th class="tbody-note">Anmerkung</th>
            <th class="tbody-lid">Unit-ID</th>
            <th class="tbody-delivery-type">Behälter</th>
            <th class="tbody-material">Material</th>
            <th class="tbody-weight">Gewicht</th>
            <th class="tbody-status">Status</th>
        </tr>
    </thead>

    <tbody class="table-content">
        {% for delivery in deliveries %}
            {% for unit in delivery.deliveryunits.all %}
                <tr>
                    {% if forloop.first %}
                        <td class="tbody-id" rowspan="{{ delivery.deliveryunits.all|length }}">{{ delivery.id }}</td>
                        <td class="tbody-delivery-receipt" rowspan="{{ delivery.deliveryunits.all|length }}">{{ delivery.delivery_receipt }}</td>
                        <td class="tbody-data" rowspan="{{ delivery.deliveryunits.all|length }}">{{ delivery.created_at|date:"d.m.Y" }}</td>
                        <td class="tbody-note" rowspan="{{ delivery.deliveryunits.all|length }}">{{ delivery.note }}</td>
                    {% endif %}
                    <td class="tbody-lid">{{ unit.id }}</td>
                    <td class="tbody-delivery-type">{{ unit.get_delivery_type_display }}</td>
                    <td class="tbody-material">{{ unit.material }}</td>
                    <td class="tbody-weight">{{ unit.weight }} </td>
                    <td class="tbody-status">{{ unit.get_status_display }}</td>
                </tr>          
            {% endfor %}
        {% endfor %}
    </tbody>
</table>

{% endblock %}