{% extends 'base.html' %}

{% load pagination %}
{% load sorting %}
{% load static %}

{% block title %}Eingang{% endblock %}


{% block content %}

<div class="table-name">Lieferanten</div>

<div class="table-action">
    <button class="table-search btn-activ toggle-button">🔍</button>
    <button class="table-reset btn-activ"><a href="{% url 'suppliers_list' %}" class="reset-btn">⟲</a></button>
</div>
<table class="table-box">
    <colgroup>
        <col style="width: 3.5%">   <!-- Nr. -->
        <col style="width: 6%">     <!-- AVV -->
        <col style="width: 20%;">   <!-- Name -->
        <col style="width: 10%">    <!-- Strasse -->
        <col style="width: 5%;">    <!-- PLZ -->
        <col style="width: 10%;">   <!-- Stadt -->
        <col style="width: 10%;">    <!-- Telefon -->
        <col style="width: 10%;">   <!-- Email -->
        <col style="width: 20%;">   <!-- Bemerkung -->
        <col style="width: 10%; ">  <!-- actions -->
    </colgroup>
    <thead>
        <tr class="table-filter hidden-block" hidden>
            <form method="GET" name="filter">
                <td><input type="text" name="id" placeholder="id" value="{{ request.GET.id }}"></td>
                <td><input type="text" name="avv_number" placeholder="AVV" value="{{ request.GET.avv_number }}"></td>
                <td><input type="text" name="name" placeholder="Name" value="{{ request.GET.name }}"></td>
                <td><input type="text" name="street" placeholder="Strasse" value="{{ request.GET.street }}"></td>
                <td><input type="text" name="postal_code" placeholder="PLZ" value="{{ request.GET.postal_code }}"></td>
                <td><input type="text" name="city" placeholder="Stadt" value="{{ request.GET.city }}"></td>
                <td><input type="text" name="phone" placeholder="Telefon" value="{{ request.GET.phone }}"></td>
                <td><input type="text" name="email" placeholder="Email" value="{{ request.GET.email }}"></td>
                <td><input type="text" name="note" placeholder="Bemerkung" value="{{ request.GET.note }}"></td>
                <td>
                    <button class="btn-activ btn" type="submit">Suchen</button>
                </td>
            </form>
        </tr>

        <tr class="table-content-title">
            <th>{% sort "&#8470;" "id" request.GET.sort %}</th>
            <th>{% sort "AVV" "avv_number" request.GET.sort %}</th>
            <th>{% sort "Name" "name" request.GET.sort %}</th>
            <th>{% sort "Adresse" "street" request.GET.sort %}</th>
            <th>{% sort "PLZ" "postal_code" request.GET.sort %}</th>
            <th>{% sort "Stadt" "city" request.GET.sort %}</th>
            <th>{% sort "Telefon" "phone" request.GET.sort %}</th>
            <th>{% sort "Email" "email" request.GET.sort %}</th>
            <th>Bemerkung</th>
            <th></th> <!-- actions -->
        </tr>
    </thead>
    <tbody class="table-content">
        {% for supplier in page_obj %}
        <tr>
            <td>{{ supplier.id }}</td>
            <td>{{ supplier.avv_number }}</td>
            <td>{{ supplier.name }}</td>
            <td>{{ supplier.street }}</td>
            <td>{{ supplier.postal_code }}</td>
            <td>{{ supplier.city }}</td>
            <td>{{ supplier.phone }}</td>
            <td>{{ supplier.email }}</td>
            <td class="note-column" title="{{ supplier.note }}"><p>{{ supplier.note }}</p></td>
            <td class="suppler-icons">
                <a href="#" title="Lieferung ansehen">
                    <img src="{% static 'icons/detail-icon.svg' %}">   
                </a>
                <a href="{% url 'supplier_update' pk=supplier.id %}" title="Bearbeiten"> 
                    <img src="{% static 'icons/update-icon.svg' %}">
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% paginate page_obj %}



{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/block_visibility.js' %}"></script>
{% endblock %}