{% extends 'base.html' %}

{% load pagination %}
{% load sorting %}
{% load static %}

{% block title %}Eingang{% endblock %}


{% block content %}
    
<div class="table-head">
    <div class="table-head-title">Lieferanten<a href="{% url 'suppliers_list' %}"> ⟲</a></div>
    <div class="table-head-search">
      <form method="GET">
        <input type="text" name="search" placeholder="Suchen..." value="{{ search_query }}">
        <button type="submit">🔍</button>
      </form>
    </div>
</div>
<table class="table-box">
    <colgroup>
        <col style="width: 3.5%">   <!-- Nr. -->
        <col style="width: 6%">     <!-- AVV -->
        <col style="width: 20%;">   <!-- Name -->
        <col style="width: 10%">    <!-- Strasse -->
        <col style="width: 5%;">    <!-- PLZ -->
        <col style="width: 10%;">   <!-- Stadt -->
        <col style="width: 10%;">    <!-- Telefon -->
        <col style="width: 10%;">   <!-- Email -->
        <col style="width: 20%;">   <!-- Bemerkung -->
        <col style="width: 10%; ">  <!-- actions -->
    </colgroup>
    <thead>
        <tr class="table-content-title">
            <th>{% sort "&#8470;" "id" request.GET.sort %}</th>
            <th>{% sort "AVV" "avv_number" request.GET.sort %}</th>
            <th>{% sort "Name" "name" request.GET.sort %}</th>
            <th>{% sort "Adresse" "street" request.GET.sort %}</th>
            <th>{% sort "PLZ" "postal_code" request.GET.sort %}</th>
            <th>{% sort "Stadt" "city" request.GET.sort %}</th>
            <th>{% sort "Telefon" "phone" request.GET.sort %}</th>
            <th>{% sort "Email" "email" request.GET.sort %}</th>
            <th>Bemerkung</th>
            <th></th> <!-- actions -->
        </tr>
    </thead>
    <tbody class="table-content">
        {% for supplier in page_obj %}
        <tr>
            <td>{{ supplier.id }}</td>
            <td>{{ supplier.avv_number }}</td>
            <td>{{ supplier.name }}</td>
            <td>{{ supplier.street }}</td>
            <td>{{ supplier.postal_code }}</td>
            <td>{{ supplier.city }}</td>
            <td>{{ supplier.phone }}</td>
            <td>{{ supplier.email }}</td>
            <td class="note-column" title="{{ supplier.note }}"><p>{{ supplier.note }}</p></td>
            <td class="suppler-icons">
                <a href="{% url 'supplier_detail' pk=supplier.id %}" title="Detail">
                    <img src="{% static 'icons/detail-icon.svg' %}">   
                </a>
                <a href="{% url 'supplier_update' pk=supplier.id %}" title="Bearbeiten"> 
                    <img src="{% static 'icons/update-icon.svg' %}">
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% paginate page_obj %}

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/block_visibility.js' %}"></script>
{% endblock %}