{% extends 'base.html' %}
{% load static %}

{% load custom_filters %}
{% load pagination %}

{% block title %}Lieferanten{% endblock %}

{% block content %}

<table class="selectable-table">
    <thead>
        <tr class="thead-title">
            <th class="table-id">ID</th>
            <th class="table-avv">AVV</th>
            <th class="table-name">Name</th>
            <th class="table-street">Adresse</th>
            <th class="table-postal">PLZ</th>
            <th class="table-city">Stadt</th>
            <th class="table-phone">Telefon</th>
            <th class="table-email">Email</th>
            <th class="table-note">Anmerkung</th>
        </tr>
    </thead>
    <tbody>
        {% for supplier in page_obj %}
        <tr class="selectable-row" data-id="{{ supplier.id }}" data-url-detail="{% url 'supplier_detail' pk=supplier.id %}" data-url-update="{% url 'supplier_update' pk=supplier.id %}">
            <td class="visually-hidden">
                <input type="radio" name="selected_supplier" value="{{ supplier.id }}">
            </td>
            <td class="table-id">{{ supplier.id }}</td>
            <td class="table-avv">{{ supplier.avv_number }}</td>
            <td class="table-name">{{ supplier.name }}</td>
            <td class="table-street">{{ supplier.street }}</td>
            <td class="table-postal">{{ supplier.postal_code }}</td>
            <td class="table-city">{{ supplier.city }}</td>
            <td class="table-phone">{{ supplier.phone }}</td>
            <td class="table-email">{{ supplier.email }}</td>
            <td class="table-note" title="{{ supplier.note }}">{{ supplier.note }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% paginate page_obj %}

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/selectable-row.js' %}"></script>
    <script src="{% static 'js/block-visibility.js' %}"></script>
    <script src="{% static 'js/current-date.js' %}"></script>
{% endblock %}