{% extends 'base.html' %}

{% block title %}Lieferant erstellen{% endblock %}

{% block content %}

<form method="post">
  {% csrf_token %}

  <div class="itemcard itemcard-small">
    <div class="itemcard-title">
      <h2>Kunde erstellen</h2>
    </div>

    <section class="itemcard-topbox">
      {{ form.non_field_errors }}

      <div class="itemcard-topbox-row">
        <label for="id_name">Name:</label>
        <div>{{ form.name }}</div>
      </div>

      <div class="itemcard-topbox-row">
        <label for="id_avv_number">AVV-Nummer:</label>
        <div>{{ form.avv_number }}</div>
      </div>

      <div class="itemcard-topbox-row">
        <label for="id_street">Straße:</label>
        <div>{{ form.street }}</div>
      </div>

      <div class="itemcard-topbox-row">
        <label class="id_postal_code">PLZ:</label>
        <div>{{ form.postal_code }}</div>
      </div>

      <div class="itemcard-topbox-row">
        <label for="id_city">Ort:</label>
        <div>{{ form.city }}</div>
      </div>

      <div class="itemcard-topbox-row">
        <label for="id_phone">Telefon:</label>
        <div>{{ form.phone }}</div>
      </div>

      <div class="itemcard-topbox-row">
        <label class="id_email">E-Mail:</label>
        <div>{{ form.email }}</div>
      </div>

      <div class="itemcard-topbox-row">
        <label class="id_note">Anmerkung:</label>
        <div>{{ form.note }}</div>
      </div>
    </section>

    <div class="button-form-save">
      <button type="submit" name="save" class="btn btn-save">Speichern</button>
    </div>
  </form>
</div>

{% endblock %}
