{% extends 'base.html' %}
{% load static %}

{% block title %}Lieferant bearbeiten{% endblock %}

{% block content %}

<div class="tablecard-small">
  <form method="post" action="{% url 'supplier_update' supplier.pk %}" id="supplier-form">
    {% csrf_token %}
    <div class="tablecard-topbox-title">
        <h2>Lieferant bearbeiten</h2>
        <a href="{% url 'supplier_delete' supplier.pk %}" class="tablecard-delete-btn" title="Lieferant löschen">
            <img src="{% static 'icons/delete-icon.svg' %}">
        </a>
    </div>

    
    <section>
        {{ form.non_field_errors }}
        <div class="tablecard-topbox-row">
            <label for="{{ form.name.id_for_label }}">Name:</label>
            {{ form.name }}
        </div>

        <div class="tablecard-topbox-row">
            <label for="{{ form.avv_number.id_for_label }}">AVV-Nummer:</label>
            {{ form.avv_number }}
        </div>

        <div class="tablecard-topbox-row">
            <label for="{{ form.street.id_for_label }}">Straße:</label>
            {{ form.street }}
        </div>

        <div class="tablecard-topbox-row">
            <label for="{{ form.postal_code.id_for_label }}">PLZ:</label>
            {{ form.postal_code }}
        </div>

        <div class="tablecard-topbox-row">
            <label for="{{ form.city.id_for_label }}">Ort:</label>
            {{ form.city }}
        </div>

        <div class="tablecard-topbox-row">
            <label for="{{ form.phone.id_for_label }}">Telefon:</label>
            {{ form.phone }}
        </div>

        <div class="tablecard-topbox-row">
            <label for="{{ form.email.id_for_label }}">E-Mail:</label>
            {{ form.email }}
        </div>

        <div class="tablecard-topbox-row">
            <label for="{{ form.note.id_for_label }}">Anmerkung:</label>
            {{ form.note }}
        </div>
    </section>
    <div class="tablecard-btn">
        <button type="submit" name="save" class="btn">Speichern</button>
    </div>
  </form>
</div>

{% endblock %}
<script>
function autoGrow(el) {
    el.style.height = '5px';
    el.style.height = el.scrollHeight + 'px';
  }
  
  // Эту функцию следует привязать к событию 'input'
  document.getElementById('textarea').addEventListener('input', function() {
    autoGrow(this);
  });

</script>