{% extends 'base.html' %}
{% load static %}

{% block title %}Aufbereitung erfassen{% endblock %}

{% block content %}
<form method="post" action="{% if unload and unload.pk %}{% url 'recycling_update' pk=unload.pk %}{% endif %}">
  {% csrf_token %}

  <div class="itemcard itemcard-small">
    <div class="itemcard-title itemcard-margin-left">
      <h2>Vorsortierung erstellen</h2>
    </div>

    <section class="itemcard-topbox">
      {{ form.unload.errors }}
      {{ form.non_field_errors }}

      <div class="itemcard-topbox-row itemcard-margin-left">
        <label for="id_unload">Vorsortierung-Wagen:</label>
        <div>{{ form.unload }}</div>
      </div>
    </section>

    <div class="itemcard-title itemcard-margin-left">Aktive Fraktionen:</div>

    <table class="itemcard-table add-row-js">
      {{ formset.management_form }}

      <thead class="itemcard-thead">
        <tr>
          <th class="checkbox-circle bg-tansparent"></th>
          <th class="itemcard-id">№</th>
          <th class="itemcard-material">Material</th>
          <th class="itemcard-boxtype">Behälter</th>
          <th class="itemcard-weight">Gewicht</th>
        </tr>
      </thead>

      <tbody class="itemcard-tbody">
        {{ formset.non_form_errors }}
        {% for form in vorhandene_forms %}
        <tr class="itemcard-table-row"
          data-id="{{ form.instance.pk }}"
          data-url-detail-barcode="{% url 'recycling_detail' pk=form.instance.pk %}"
          data-url-update="{% url 'recycling_update' pk=form.instance.pk %}">

          <td hidden>{{ form.id }}</td>
          <td class="checkbox-circle">
            <input type="checkbox" name="selected_recycling" value="{{ form.instance.pk }}" title="Fraktion verknüpfen" checked>
          </td>
          <td class="itemcard-id">{{ forloop.counter }}</td>
          <td class="itemcard-material">{{ form.instance.material }}</td>
          <td class="itemcard-boxtype">{{ form.instance.get_box_type_display }}</td>
          <td class="itemcard-weight">{{ form.instance.weight }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <template id="table-row-template">
      <tr class="itemcard-table-row dynamic-row">
        <td hidden>{{ empty_form.id }}</td>
        <td class="checkbox-circle"></td>
        <td class="itemcard-id">__index__</td>
        <td class="itemcard-material">{{ empty_form.material }}</td>
        <td class="itemcard-boxtype">{{ empty_form.box_type }}</td>
        <td class="itemcard-weight">{{ empty_form.weight }}</td>
      </div>
    </template>

    <div>
      <button class="btn btn-row-add itemcard-margin-left" type="button" id="form-add-btn">+</button>
      <button class="btn btn-row-add" type="button" id="form-remove-btn">–</button>
    </div>

    <div class="button-form-save">
      <button type="submit" name="save" class="btn btn-save">Speichern</button>
    </div>
  </div>
</form>

  
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/add-table-row.js' %}"></script>
  <script src="{% static 'js/mouse-right-click.js' %}"></script>
{% endblock %}
