{% extends 'base.html' %}

{% load static %}
{% load sort_tags %}
{% load custom_filters %}
{% load pagination %}

{% block title %}Leerungen{% endblock %}

{% block content %}
<div class="table-border"></div>
<div class="table" data-type="recycling">
  <div class="table-header">{% sort_header "id" "№" %}</div>
  <div class="table-header">{% sort_header "box_type" "Behälter" %}</div>
  <div class="table-header">{% sort_header "weight" "Gewicht" %}</div>
  <div class="table-header">{% sort_header "status" "Status" %}</div>
  <div class="table-header">{% sort_header "material" "Material" %}</div>
  <div class="table-header">{% sort_header "created_at" "Datum" %}</div>
  <div class="table-header">{% sort_header "note" "Anmerkung" %}</div>

  {% for item in page_obj %}
    <div class="table-row js-select-row"
      data-id="{{ item.id }}"
      data-url-detail="{% url 'recycling_detail' pk=item.id %}"
      data-url-update="{% url 'recycling_update' pk=item.id %}"
      data-url-detail-barcode="{% url 'recycling_detail' pk=item.id %}">

      <div class="table-cell table-cell-id">{{ item.id }}</div>
      <div class="table-cell">{{ item|getattr:"get_box_type_display" }}</div>
      <div class="table-cell">{{ item.weight }}</div>
      <div class="table-cell">{{ item|getattr:"get_status_display" }}</div>
      <div class="table-cell">{{ item.material }}</div>
      <div class="table-cell">{{ item.created_at|date:'d.m.Y' }}</div>
      <div class="table-cell" title="{{ item.note }}">{{ item.note }}</div>
    </div>
  {% endfor %}
</div>

{% paginate page_obj %}

<template id="context-menu-template">
  <ul id="context-menu" class="context-menu">
    <li data-action="url-detail">Detail</li>
    <li data-action="url-detail-barcode">Barcode drücken</li>
    <li data-action="url-update">Inhalt ändern</li>
  </ul>
</template>

{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/mouse-right-click.js' %}"></script>
  <script src="{% static 'js/current-date.js' %}"></script>
  <script src="{% static 'js/summary-close.js' %}"></script>
{% endblock %}

