{% extends 'base.html' %}
{% load static %}

{% block title %}Recycling Detail{% endblock %}

{% block content %}

  <div class="itemcard-large">
    <h2>Recycling Detail</h2>

    <section class="itemcard-topbox">
      <div class="itemcard-row">
        <div>Umladung-Einheit:</div>
        <div>{{ unload }}</div>
      </div>
    </section>

    <section class="itemcard-table">
      <div class="itemcard-table-title">Recycling-Einheit:</div>

      <div class="table" data-type="recycling-detail">
        <div class="table-header">№</div>
        <div class="table-header">Behälter</div>
        <div class="table-header">Material</div>
        <div class="table-header">Gewicht</div>
        <div class="table-header">Status</div>
        <div class="table-header">Zweck</div>
        <div class="table-header">Anmerkung</div>

        {% for recycling in recycling_units %}
        <div class="table-row" data-type="recycling-detail">
            <div>{{ forloop.counter }}</div>
            <div>{{ recycling.get_box_type_display }}</div>
            <div>{{ recycling.material }}</div>
            <div>{{ recycling.weight }}</div>
            <div>{{ recycling.get_status_display }}</div>
            <div>{{ recycling.get_target_display }}</div>
            <div>{{ recycling.note }}</div>
          </div>
        {% empty %}
        <div class="table-row">
          <div colspan="6">Keine Daten vorhanden.</div>
        </div>
        {% endfor %}
      </div>
    </section>
  </div>
{% endblock %}
