{% extends 'base.html' %}

{% load custom_filters %}
{% load static %}
{% load barcode %}

{% block title %}Vorsortierung detail{% endblock %}

{% block content %}
<div class="detail">
  <section id="print-area">
    <div class="barcode">{{ object.barcode|barcode_svg }}</div>

    <div class="detail-row">
      <div>Eingang-ID:</div>
      <div>{{ recycling.id }}</div>
    </div>

    <div class="detail-row">
        <div>Material:</div>
        <div>{{ recycling.material.name }}</div>
    </div>
    
    <div class="detail-row">
        <div>Gewicht:</div>
        <div>{{ recycling.weight }} kg</div>
    </div>
    
    <div class="detail-row">
        <div>Behälter:</div>
        <div>{{ recycling.get_box_type_display }}</div>
    </div>
    
    <div class="detail-row">
        <div>Status:</div>
        <div>{{ recycling.get_status_display }}</div>
    </div>
    
    <div class="detail-row">
      <div>Datum:</div>
      <div>{{ recycling.created_at|date:"d.m.Y" }}</div>
    </div>
  </section>

  <section class="print-btn-wrapper no-print">
    <button class="print-btn btn" onclick="window.print()">Drucken</button>
    <button class="print-btn btn"><a href="{% url 'recycling_update' pk=recycling.id %}">Ändern</a></button>
    <button class="print-btn btn"><a href="{% url 'recycling_list' %}">Zurück</a></button>
  </section>
</div>
{% endblock %}


