{% extends 'base.html' %}
{% load static %}

{% load custom_filters %}
{% load pagination %}

{% block title %}Leerungen{% endblock %}

{% block content %}
<div class="table" data-type="recycling-list">
  <div class="table-header">№</div>
  <div class="table-header">Umladung</div>
  <div class="table-header">Behälter</div>
  <div class="table-header">Gewicht</div>
  <div class="table-header">Zweck</div>
  <div class="table-header">Status</div>
  <div class="table-header">Material</div>
  <div class="table-header">Datum</div>
  <div class="table-header">Anmerkung</div>

  {% for item in page_obj %}
    <div class="table-row js-select-row"
      data-id="{{ item.id }}"
      data-url-detail="{% url 'recycling_detail' pk=item.unload.id %}"
      data-url-update="{% url 'recycling_update' pk=item.unload.id %}">

      <div class="table-row__id-gray">{{ forloop.counter }}</div>
      <div>{{ item.unload }}</div>
      <div>{{ item|getattr:"get_box_type_display" }}</div>
      <div>{{ item.weight }}</div>
      <div>{{ item|getattr:"get_target_display" }}</div>
      <div>{{ item|getattr:"get_status_display" }}</div>
      <div>{{ item.material }}</div>
      <div>{{ item.created_at|date:'d.m.Y' }}</div>
      <div title="{{ item.note }}">{{ item.note }}</div>
    </div>
  {% endfor %}
</div>

{% paginate page_obj %}

{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/selectable-row.js' %}"></script>
{% endblock %}

