{% extends 'base.html' %}
{% load static %}

{% block title %}Aufbereitung bearbeiten{% endblock %}

{% block content %}

<form method="post" action="{% url 'recycling_update' recycling.pk %}">
  {% csrf_token %}
  {{ form.non_field_errors }}

  <div class="itemcard-row">
    <label>Behälter:</label>
    {{ form.box_type }}
  </div>

  <div class="itemcard-row">
    <label>Material:</label>
    {{ form.material }}
  </div>

  <div class="itemcard-row">
    <label>Material (frei):</label>
    {{ form.material_other }}
  </div>

  <div class="itemcard-row">
    <label>Gewicht:</label>
    {{ form.weight }}
  </div>

  <div class="itemcard-row">
    <label>Zweck:</label>
    {{ form.target }}
  </div>

  <div class="itemcard-row">
    <label>Status:</label>
    {{ form.status }}
  </div>

  <div class="itemcard-row">
    <label>Anmerkung:</label>
    {{ form.note }}
  </div>

  <div class="itemcard-row">
    <label>Umladung:</label>
    {{ form.unloads }}
  </div>

  <div class="button-wrapper">
    <button type="submit" class="btn">Speichern</button>
  </div>
</form>

{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/add-table-row.js' %}"></script>
{% endblock %}
