{% extends 'base.html' %}
{% load static %}

{% block title %}Aufbereitung auswählen{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}

    <div class="itemcard">
        <div class="itemcard-title itemcard-margin-left">
            <h2>Aufbereitung: Unload auswählen</h2>
        </div>

        <table class="itemcard-table">
            <thead class="itemcard-thead">
                <tr>
                    <th class="itemcard-id">№</th>
                    <th class="itemcard-material">Material</th>
                    <th class="itemcard-status">Status</th>
                    <th class="itemcard-action"></th>
                </tr>
            </thead>

            <tbody class="itemcard-tbody">
                {% for unload in unloads %}
                <tr>
                    <td class="itemcard-id">{{ unload.id }}</td>
                    <td class="itemcard-material">{{ unload.material }}</td>
                    <td class="itemcard-status">{{ unload.get_status_display }}</td>

                    <td class="itemcard-action">
                        <button type="submit" name="unload_id" value="{{ unload.pk }}"
                                class="itemcard-btn">
                            Öffnen
                        </button>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center">Keine passenden Unloads gefunden.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</form>
{% endblock %}
