{# templates/unload/recycling_delete.html #}

{% extends 'base.html' %}
{% load static %}

{% block title %}Fraktion löschen{% endblock %}

{% block content %}
<div class="itemcard">
  <form method="post">
    {% csrf_token %}

    <div class="itemcard-title">
      <h2>Fraktion löschen</h2>
    </div>

    <div class="itemcard-topbox">
      <strong>Vorsortierung-Wagen:</strong> {{ unload }}
    </div>
    <div class="itemcard-topbox">
      <strong>Fraktion:</strong> {{ recycling }}
    </div>

    <div class="itemcard-topbox">
      <p>
        Sind Sie sicher, dass der Vorsortierung-Wagen gelöscht wird?
      </p>
    </div>

    <div class="buttons-form-footer">
      <button type="submit" class="btn btn-main">Löschen</button>
      <a href="{% url 'recycling_update' unload_pk=unload.pk recycling_pk=recycling.pk %}" class="btn btn-main">Abbrechen</a>
    </div>
  </form>
</div>
{% endblock %}
