{% extends 'base.html' %}

{% load static %}
{% load sort_tags %}
{% load custom_filters %}
{% load pagination %}

{% block title %}Leerungen{% endblock %}

{% block content %}
<div class="table-border"></div>
<div class="table" data-type="unload">
  <div class="table-header">№</div>
  <div class="table-header" title="Lieferung-Einheit-ID">{% sort_header "delivery_units__id" "EID" %}</div>
  <div class="table-header" title="Vorsortierung-ID">{% sort_header "id" "VID" %}</div>
  <div class="table-header">{% sort_header "created_at" "Datum" %}</div>
  <div class="table-header">{% sort_header "box_type" "Behälter" %}</div>
  <div class="table-header">{% sort_header "material__name" "Material" %}</div>
  <div class="table-header">{% sort_header "weight" "Gewicht (kg)" %}</div>
  <div class="table-header">{% sort_header "status" "Status" %}</div>
  <div class="table-header">{% sort_header "note" "Anmerkung" %}</div>

  {% for item in page_obj %}
    {% with delivery_unit=item.delivery_units.all|first %}
    <div class="table-row js-select-row"
      data-id="{{ item.id }}"
      data-status="{{ item.status }}"
      data-url-recycling-create="{% url 'recycling_create' unload_pk=item.id %}"
      data-url-shipping-create="{% url 'shipping_create' %}"
      data-url-update="{% url 'unload_update' pk=item.id %}"
      data-url-detail-barcode="{% url 'unload_detail_barcode' pk=item.id %}"
      {% comment %} data-url-detail-weight="{% if delivery_unit %}{% url 'unload_detail_weight' pk=delivery_unit.id %}{% endif %}" {% endcomment %}
      >

      <div class="table-cell table-cell-counter">{{ forloop.counter }}</div>

      <div class="table-cell multiple-id">
        {% for delivery in item.delivery_units.all %}
          <span title="{% for d in item.delivery_units.all %}{{ d }}&#10;{% endfor %}"> {{ delivery.id }}</span> 
        {% empty %}
        -----
        {% endfor %}
      </div>

      <div class="table-cell">{{ item.id }}</div>
      <div class="table-cell table-cell-center">{{ item.created_at|date:'d.m.Y' }}</div>

      <div class="table-cell">{{ item|getattr:"get_box_type_display" }}</div>
      <div class="table-cell">{{ item.material }}</div>
      <div class="table-cell table-cell-right">{{ item.weight }}</div>
      <div class="table-cell">{{ item|getattr:"get_status_display" }}</div>
      <div class="table-cell" title="{{ item.note }}">{{ item.note }}</div>
    </div>
    {% endwith %}
  {% endfor %}
</div>

{% paginate page_obj %}

<template id="context-menu-template">
  <ul id="context-menu" class="context-menu">
    <li data-action="urlDetailBarcode">Barcode drucken</li>
    <li data-action="urlUpdate">Inhalt ändern</li>

    <!-- Status 2 -> Aufbereitung -->
    <li data-action="urlRecyclingCreate" data-require-status="2" data-param="unload">
      In Aufbereitung übergeben
    </li>

    <!-- Status 3 -> Abholung -->
    <li data-action="urlShippingCreate" data-require-status="3" data-param="unload">
      In Abholung übergeben
    </li>
    
  </ul>
</template>

{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/mouse-right-click.js' %}"></script>
  <script src="{% static 'js/current-date.js' %}"></script>
{% endblock %}

