{% extends 'base.html' %}
{% load static %}

{% block title %}Vorsortierung erfassen{% endblock %}

{% block content %}
<div class="itemcard">
  <section class="itemcard-title">
    <h2>Vorsortierung erstellen</h2>
    <div>
      <input
              type="text"
              id="barcode"
              placeholder="Barcode scannen..."
              autocomplete="off"
              data-accepted="L"
              data-api="{% url 'barcode_unload_api' %}"
              data-create-url="{% url 'unload_create' 0 %}"
              autofocus
              class="visually-hidden-input"
            />

      <label for="barcode" class="barcode-wrapper header-menu-icon svg-icon" id="barcode-label">
        <img src="{% static 'icons/barcode-scan-active.svg' %}" id="barcode-active">
        <img src="{% static 'icons/barcode-scan-inactive.svg' %}" id="barcode-inactive" hidden>
      </label>
    </div>
  </section>

   <!-- ==== Bereit für Vorsortierung === -->
  <section class="itemcard-topbox">
    <h4>Bereit für Vorsortierung:</h4>
    <table class="itemcard-table">
      <thead class="itemcard-thead">
        <tr>
          <th class="itemcard-id">№</th>
          <th class="itemcard-id">EID</th>
          <th class="itemcard-material">Material</th>
          <th class="itemcard-boxtype">Behälter</th>
          <th class="itemcard-weight">Gewicht</th>
          <th class="itemcard-note">Anmerkung</th>
          <th class="itemcard-action"></th>
        </tr>
      </thead>

      <tbody class="itemcard-tbody">
        {% for du_ready in delivery_units_ready %}
        <tr class="itemcard-table-row">
          <td class="itemcard-id"><p>{{ forloop.counter }}</p></td>
          <td class="itemcard-id"><p>{{ du_ready.pk }}</p></td>
          <td class="itemcard-material"><p>{{ du_ready.material }}</p></td>
          <td class="itemcard-boxtype"><p>{{ du_ready.get_box_type_display }}</p></td>
          <td class="itemcard-weight"><p>{{ du_ready.weight }}</p></td>
          <td class="itemcard-note"><p>{{ du_ready.note }}</p></td>

          <td class="itemcard-action-wrapper">
            <div class="itemcard-action">
              <a href="{% url 'unload_create' delivery_unit_pk=du_ready.pk %}" class="btn btn-lock">
                <img class="icon-lock-closed" src="{% static 'icons/lock-icon.svg' %}">
              </a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>


    <!-- ==== Active Wagen in Halle === -->
  <section class="itemcard-topbox">
    <h4>Aktive in Vorsortierung:</h4>
    <table class="itemcard-table">
      <thead class="itemcard-thead">
        <tr>
          <th class="itemcard-id">№</th>
          <th class="itemcard-id">EID</th>
          <th class="itemcard-material">Material</th>
          <th class="itemcard-boxtype">Behälter</th>
          <th class="itemcard-weight">Gewicht</th>
          <th class="itemcard-note">Anmerkung</th>
          <th class="itemcard-action"></th>
        </tr>
      </thead>

      <tbody class="itemcard-tbody">
        {% for du_active in delivery_units_active %}
        <tr class="itemcard-table-row">
          <td class="itemcard-id"><p>{{ forloop.counter }}</p></td>
          <td class="itemcard-id"><p>{{ du_active.pk }}</p></td>
          <td class="itemcard-material"><p>{{ du_active.material }}</p></td>
          <td class="itemcard-boxtype"><p>{{ du_active.get_box_type_display }}</p></td>
          <td class="itemcard-weight"><p>{{ du_active.weight }}</p></td>
          <td class="itemcard-note"><p>{{ du_active.note }}</p></td>

          <td class="itemcard-action-wrapper">
            <div class="itemcard-action">
              <a href="{% url 'unload_create' delivery_unit_pk=du_active.pk %}" class="btn btn-lock">
                <img class="icon-lock-closed" src="{% static 'icons/lock-icon.svg' %}">
              </a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>

<script src="{% static 'js/barcode/barcode-unload.js' %}" defer></script>
{% endblock %}
