{% extends 'base.html' %}
{% load static %}

{% block title %}Leerung erfassen{% endblock %}

{% block content %}

<form method="post" action="{% url 'unload_create' %}" id="unload-form">
  {% csrf_token %}

  <div class="itemcard-large">
    <h2>Leerung erstellen</h2>

    <section class="itemcard-topbox ">
      {{ form.delivery_unit.errors }}
      {{ form.non_field_errors }}

      <div class="itemcard-row">
        <div>Liefereinheit:</div>
        <div>{{ form.delivery_unit }}</div>
      </div>
    </section>

    <section class="itemcard-table">
      <div class="itemcard-table-title">Fraktionen:</div>
      {{ formset.management_form }}

      <div class="table" data-type="unload-create">
        <div class="table-header">№</div>
        <div class="table-header">Behälter</div>
        <div class="table-header">Material</div>
        <div class="table-header">Gewicht</div>
        <div class="table-header">Zweck</div>
        <div class="table-header">Anmerkung</div>
      
        {% for form in formset %}
          <div class="table-row" data-type="unload-create">
            <div>{{ forloop.counter }}</div>
            <div>{{ form.unload_type }}</div>
            <div>{{ form.material }}</div>
            <div>{{ form.weight }}</div>
            <div>{{ form.purpose }}</div>
            <div>{{ form.note }}</div>
          </div>
        {% endfor %}
      
        <template id="table-row-template">
          <div class="table-row">
            <div> __index__</div>
            <div>{{ empty_form.unload_type }}</div>
            <div>{{ empty_form.material }}</div>
            <div>{{ empty_form.weight }}</div>
            <div>{{ empty_form.purpose }}</div>
            <div>{{ empty_form.note }}</div>
          </div>
        </template>
      </div>
    </section>

    <button class="btn-row-add" type="button" id="add-form-btn">+</button>

    <div class="button-wrapper">
      <button type="submit" name="save" class="btn">Speichern</button>
    </div>
  </div>
</form>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const addButton = document.getElementById('add-form-btn');
    const tableBody = document.querySelector('.table');
    const template = document.getElementById('table-row-template').innerHTML;
    const totalFormsInput = document.querySelector('input[name$="-TOTAL_FORMS"]');
    const prefix = totalFormsInput.name.replace('-TOTAL_FORMS', '');

    addButton.addEventListener('click', function () {
      const formIndex = +totalFormsInput.value;
      const newRowHtml = template
        .replace(/__prefix__/g, formIndex)
        .replace(/__index__/g, formIndex + 1);

      tableBody.insertAdjacentHTML('beforeend', newRowHtml);
      totalFormsInput.value = formIndex + 1;
    });
  });

</script>
  
{% endblock %}
