{% extends 'base.html' %}
{% load static %}

{% block title %}Vorsortierung erfassen{% endblock %}

{% block content %}
<form method="post" action="" id="unload-form">
  {% csrf_token %}

  <div class="itemcard">
    <div class="itemcard-title itemcard-margin-left">
      <h2>Vorsortierung</h2>
      <input 
          type="text" 
          id="barcode" 
          placeholder="Barcode scannen..." 
          autocomplete="off" 
          data-accepted="G"
          data-api="{% url 'barcode_unload_api' %}"
          autofocus
          hidden
      />

      <label for="barcode" class="barcode-wrapper header-menu-icon svg-icon">
          <img src="{% static 'icons/barcode-scan-active.svg' %}" id="barcode-active">
          <img src="{% static 'icons/barcode-scan-inactive.svg' %}" id="barcode-inactive" hidden>
      </label>
    </div>

    {# ====== Wareneingang ====== #}
    <section class="itemcard-topbox itemcard-margin-left">
      {{ form.delivery_unit.errors }}
      {{ form.non_field_errors }}

      <div class="itemcard-topbox-row">
        <label for="{{ form.delivery_unit.id_for_label }}">Wareneingang:</label>

        <div class="itemcard-topbox-content">
          {{ form.delivery_unit }}
        </div>
        
        <aside class="itemcard-action-wrapper">
          <div class="itemcard-topbox-btn"></div>
        </aside>
      </div>
    </section>

    {# ====== Neue Wagen ====== #}
    <section class="itemcard-topbox">
      <div class="itemcard-table-title itemcard-margin-left">Neue Wagen:</div>

      <table class="itemcard-table">
        {{ formset.management_form }}

        <thead class="itemcard-thead">
          <tr>
            <th class="checkbox-circle itemcard-action-left"></th>
            <th class="itemcard-id">№</th>
            <th class="itemcard-material">Material</th>
            <th class="itemcard-boxtype">Behälter</th>
            <th class="itemcard-status">Status</th>
            <th class="itemcard-weight">Gewicht</th>
            <th class="itemcard-action"></th>
          </tr>
        </thead>

        <tbody class="itemcard-tbody">
          {{ formset.non_form_errors }}

          {% for f in formset.forms %}
          <tr class="itemcard-table-row" data-kind="new" data-key="{{ f.prefix }}">
            <td class="checkbox-circle itemcard-action-left">
              <input type="checkbox"
                     name="selected_unload"
                     value="new:{{ f.prefix }}"
                     title="Fraktion verknüpfen"
                     checked>
            </td>
            <td class="itemcard-id">{{ forloop.counter }}</td>
            <td class="itemcard-material">{{ f.material }}</td>
            <td class="itemcard-boxtype">{{ f.box_type }}</td>

            <td class="itemcard-status">
              {% if f.id %}{{ f.id }}{% endif %}
              {{ f.status }}
            </td>

            <td class="itemcard-weight itemcard-weight-action">
              <div class="weight-container">
                {{ f.weight }}
                <button type="button" class="btn btn-weight" title="Gewicht anfragen" data-weight-url="{% url 'warenwirtschaft_api:weight_input_api' %}">
                  <img src="{% static 'icons/dashboard-icon.svg' %}">
                </button>
              </div>
            </td>

            <td class="itemcard-action-wrapper">
              <div class="itemcard-action">
                <button type="button" class="btn btn-lock">
                  <img class="icon-lock-closed" src="{% static 'icons/lock-icon.svg' %}">
                </button>
              </div>
            </td>

            <td class="itemcard-action-wrapper">
              <div class="itemcard-action">
                <button type="button" class="btn btn-lock">
                  <img class="icon-lock-open" src="{% static 'icons/lock-open-icon.svg' %}">
                </button>

                <button type="submit" class="btn btn-main btn-save">Speichern</button>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>

    {# ====== Aktive Wagen ====== #}
    <section>
      <div class="itemcard-table-title itemcard-margin-left">Aktive Wagen:</div>

      <table class="itemcard-table">
        <thead class="itemcard-thead">
          <tr>
            <th class="checkbox-circle itemcard-action-left"></th>
            <th class="itemcard-id">№</th>
            <th class="itemcard-material">Material</th>
            <th class="itemcard-boxtype">Behälter</th>
            <th class="itemcard-status">Status</th>
            <th class="itemcard-weight">Gewicht</th>
            <th class="itemcard-action"></th>
          </tr>
        </thead>

        <tbody class="itemcard-tbody existing-tbody">
          {{ existing_formset.management_form }}

          {% if vorhandene_unloads %}
            {#Gleiches Ordering für Forms & Daten annehmen #}
            {% for f in existing_formset.forms %}
              {% with u=f.instance %}
              <tr class="itemcard-table-row" data-kind="existing" data-key="{{ u.pk }}">
                <td class="checkbox-circle itemcard-action-left">
                  <input type="checkbox"
                    name="selected_unload"
                    value="{{ u.pk }}"
                    title="Fraktion verknüpfen"
                    >
                </td>

                <td class="itemcard-id">{{ forloop.counter }}</td>
                <td class="itemcard-material"><p>{{ u.material }}</p></td>
                <td class="itemcard-boxtype"><p>{{ u.get_box_type_display }}</p></td>

                <td class="itemcard-status">
                  {{ f.id }} {# verstecktes PK-Feld für das Form #}
                  {{ f.status }}
                </td>

                <td class="itemcard-weight itemcard-weight-action">
                  <div class="weight-container">
                    {{ f.weight }}
                    <button type="button" class="btn btn-weight" title="Waage öffnen" data-weight-url="{% url 'warenwirtschaft_api:weight_input_api' %}">
                      <img src="{% static 'icons/dashboard-icon.svg' %}" alt="">
                    </button>
                  </div>
                </td>

                <td class="itemcard-action-wrapper">
                  <div class="itemcard-action">
                    <button type="button" class="btn btn-lock">
                      <img class="icon-lock-closed" src="{% static 'icons/lock-icon.svg' %}">
                    </button>
                  </div>
                </td>

                <td class="itemcard-action-wrapper">
                  <div class="itemcard-action">
                    <button type="button" class="btn btn-lock">
                      <img class="icon-lock-open" src="{% static 'icons/lock-open-icon.svg' %}">
                    </button>

                    <button type="submit" class="btn btn-main btn-save">Speichern</button>
                  </div>
                </td>

              </tr>
              {% endwith %}
            {% endfor %}
          {% else %}
            <tr class="itemcard-table-row">
              <td class="checkbox-circle itemcard-action-left">
                <input type="checkbox" title="Keine Daten" disabled>
              </td>
              <td colspan="5" class="text-center">
                Keine Daten vorhanden
              </td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </section>
  </div>
</form>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/barcode/barcode-delivery.js' %}"></script>
<script src="{% static 'js/close-open.js' %}"></script>
<script src="{% static 'js/weight.js' %}"></script>
{% endblock %}


<style>
.barcode-wrapper { 
  cursor: pointer; 
  height: 32px;
}

#barcode {
  width: 0;
  height: 0;
  border: 0;
  padding: 0;
}
</style>