{% extends 'base.html' %}
{% load static %}

{% block title %}Fraktion bearbeiten{% endblock %}

{% block content %}

<div class="itemcard-small">
  <form method="post">
    {% csrf_token %}

    <h2>Vorsortierung-Wagen bearbeiten</h2>

    <section class="itemcard-topbox">
      <div class="itemcard-row">
        <div>Liefereinheit:</div>
        <div>{{ unload.delivery_unit }}</div>
      </div>

      <div class="itemcard-row">
        <div>Behälter:</div>
        <div>{{ form.box_type }}</div>
      </div>

      <div class="itemcard-row">
        <div>Material:</div>
        <div>{{ form.material }}</div>
      </div>

      <div class="itemcard-row">
        <div>Zweck:</div>
        <div>{{ form.target }}</div>
      </div>

      <div class="itemcard-row">
        <div>Gewicht:</div>
        <div>{{ form.weight }}</div>
      </div>
      
    </section>

    <div class="button-wrapper">
      <button type="submit" name="save" class="btn">Speichern</button>
    </div>
  </form>
</div>
{% endblock %}
