{% extends 'base.html' %}

{% load static %}
{% load sort_tags %}
{% load custom_filters %}
{% load pagination %}

{% block title %}Leerungen{% endblock %}

{% block content %}
<div class="table-border"></div>
<div class="table" data-type="unload">
  <div class="table-header">№</div>
  <div class="table-header">{% sort_header "id" "Liefereinheit" %}</div>
  <div class="table-header">{% sort_header "box_type" "Behälter" %}</div>
  <div class="table-header">{% sort_header "material__name" "Material" %}</div>
  <div class="table-header">{% sort_header "weight" "Gewicht" %}</div>
  <div class="table-header">{% sort_header "created_at" "Datum" %}</div>
  <div class="table-header">{% sort_header "status" "Status" %}</div>

  {% for item in page_obj %}
    {% with delivery_unit=item.delivery_units.all|first %}
    <div class="table-row js-select-row"
      data-id="{{ item.id }}"
      data-status="{{ item.status }}"
      data-url-unload-create="{% url 'recycling_create' %}?unit_id={{ item.id }}"
      data-url-update="{% if delivery_unit %}{% url 'unload_update' delivery_unit_pk=delivery_unit.id %}{% endif %}"
      data-url-detail-barcode="{% url 'unload_detail_barcode' pk=item.id %}"
      {% comment %} data-url-detail-weight="{% if delivery_unit %}{% url 'unload_detail_weight' pk=delivery_unit.id %}{% endif %}" {% endcomment %}
      >
      <div class="table-cell table-cell-id">{{ forloop.counter }}</div>

      <div class="table-cell">
        {% for delivery in item.delivery_units.all %}
          {{ delivery }} /
        {% empty %}-{% endfor %}
      </div>

      <div class="table-cell">{{ item|getattr:"get_box_type_display" }}</div>
      <div class="table-cell">{{ item.material }}</div>
      <div class="table-cell">{{ item.weight }}</div>
      <div class="table-cell">{{ item.created_at|date:'d.m.Y' }}</div>
      <div class="table-cell">{{ item|getattr:"get_status_display" }}</div>
    </div>
    {% endwith %}
  {% endfor %}
</div>

{% paginate page_obj %}

<template id="context-menu-template">
  <ul id="context-menu" class="context-menu">
    <li data-action="url-detail-barcode">Barcode drücken</li>
    <li data-action="url-update">Inhalt ändern</li>
  </ul>
</template>

{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/mouse-right-click.js' %}"></script>
{% endblock %}
