{# templates/unload/unload_delete.html #}

{% extends 'base.html' %}
{% load static %}

{% block title %}Wagen löschen{% endblock %}

{% block content %}
<div class="itemcard">
  <form method="post">
    {% csrf_token %}

    <div class="itemcard-title">
      <h2>Vorsortierung-Wagen löschen</h2>
    </div>

    <div class="itemcard-topbox">
      <strong>Liefereinheit:</strong> {{ delivery_unit }}
    </div>
    <div class="itemcard-topbox">
      <strong>Vorsortierung-Wagen:</strong> {{ unload }}
    </div>

    <div class="itemcard-topbox">
      <p>
        Sind Sie sicher, dass der Vorsortierung-Wagen gelöscht wird?
      </p>
    </div>

    <div class="buttons-form-footer">
      <button type="submit" class="btn btn-main">Löschen</button>
      <a href="{% url 'unload_update' delivery_unit_pk=delivery_unit.pk unload_pk=unload.pk %}" class="btn btn-main">Abbrechen</a>
    </div>
  </form>
</div>
{% endblock %}
